/**********************************************************************/
/* XBank(Blue) style for validating stylesheet.                       */
/* All colors, including icon colors are inverted to ensure that      */
/* stylesheet is used on the page rather than hardcoding.             */
/**********************************************************************/
/*
 * NOTE: all references to external urls from within stylesheets
 * use a manual cache busting mechanism to force browsers to load
 * new content based on a changing url.  Each url has a 
 * parameter in the form of '?v1'.  When the content is changed
 * (i.e. a dependent stylesheet or image changes), the version
 * number should be manually changed to force cache busting to occur.
 * i.e. '?v1' would be updated to '?v2', etc.
*/

/***********************************************************************/
/* Extend this style from default CGI style by importing it.           */
/* With this approach, defect fixes and updates in CGI default         */
/* style is applied to the extended styls with out much changes.       */
/***********************************************************************/

@import url("../default/portalstyle.css?v1"); 

/***********************************************************************/
/* Overwrite CGI default styles or add new styles below that are       */
/* specific to this style.                                             */
/***********************************************************************/

/* ----------------------------------------------------------------- */


body {
	background-color: #FFFFFF; /* white background */
    font-size: 13px;
}



/* ------------------------- PAGE LAYOUT ---------------------------- */

/* --- Master Header --- */
.pageHeader {    
	background-color: #FFFFFF; /* white background */
}

/* --- Header Navigation --- */

.pageHeaderNavigation, .pageHeaderNavigationMinimal {
    background-color: #0659b0;
}

.pageHeaderNavigationBackground {
    background-color: #0659b0;
    background-image: none;
    border: none;
    height: 30px;
}

.mmWrapper {
    padding-top: 0;
    background-color: #0659b0;
}

.megaMenuBar, .mmWrapper .dijitMenuBar {
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 0.2px;
}



/* ------------------------- Master Header Content ---------------------------- */
.headerContent,
.headerContentMinimal {
	background-color: #FFFFFF;
	background: none;
    padding: 15px 0;
    height: 50px;
}

.headerLogo {
	background-image: url("images/brand_logo.png?v1");
	width: 45px;
    height: 50px;
    margin-top: 0;
}

.headerTitle {
    padding-left: 5px;
}

.headerBrandName {
    background-image: url("images/brand_name.png?v1");
    height: 15px;
    width: 110px;
    margin-top: 18px;
}
.headerBrandName span {
	/*font-size: 16px;
	font-weight: bold;
	display: inline-block;
	padding-left: 4px;
	padding-top: 2px;
	width: 122px;
	*padding-top: 3px;*/
    display: none;
}

.headerSubTitle {
    margin-top: 0;
}

.parentSubTitle span {
    display: none;
}

.headerBehavior {
    width: 420px;
}

.headerSubTitleCenteringParent {
    height: 50px;
}

.headerActions {
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 10px;
}

.headerBehavior a {
	color: #0659b0;
    text-decoration: underline;
}
.headerBehavior a:hover {
    color: #0659b0;
    background-color: #eef7ff;
}

.headerHome, .headerHelp, .headerNotifications, .headerMessages {
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}

.headerActionDivider {
    border-left: 1px solid #ccc;
}

.headerLogout {
    margin-left: 15px;
}

.headerLogout a {
	color: #0659b0;
	background-image: none;
	background-color: #fff;
    border: 1px solid #0659b0;
    border-radius: 1px;
    text-decoration: none;
    padding: 3px 6px 2px 6px;
    font-weight: bold;
}
.headerLogout a:hover {
	color: #0659b0;
	background-color: #e6edf4;
}
.headerUserName a, .headerUserName a:hover {
    color: #333;
}

/* ------------------------- Master Footer Content ---------------------------- */
.footerContent {
	color: #333;
}

.footerCopyright {
    font-size: 12px;
}

/* -------------------------  Form Content ---------------------------- */
.formContent .columnLeft {
	border-right:1px dotted #ccc;
}

.formContentNoSidebar {
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

/* ------------------------- MENU ---------------------------- */

/*set colors for all menu bar items*/
.megaMenuBarItem, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem {
    background-color: #0659b0;
    background-image: none;
}

/*selected style*/
.megaMenuBarItem.mmMenuBarItemSelected, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem.mmMenuBarItemSelected {
    color: #0659b0;
	background-color: #eff5fc;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
    border-bottom: none;
    position: relative;
    margin-top: 1px;
    z-index: 99999;
    box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.25);
}
/*hover style*/
.mmWrapper .dijitMenuPassive .dijitMenuItemHover,
.mmWrapper .dijitMenuPassive .dijitMenuItemSelected,
.mmWrapper .dijitMenuActive .dijitMenuItemSelected,
.mmWrapper .dijitMenuActive .dijitMenuItemHover {
	color: #0659b0;
	background-color: #fff;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
    border-bottom: none;
    position: relative;
    margin-top: 1px;
    z-index: 99999;
    box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.25);
}

/*the drop down styles*/
.mmDropdown {
	height: auto;
    background-color: #fff;
}

.mmCategory {
    text-transform: none;
    padding: 0px 0px 10px 0px;
    font-size: 13.5px;
}

/*menu header divider*/
.mmHeaderDivider {
	border-bottom:1px solid #cccccc;
}

.mmContent ul li {
   margin-bottom: 5px;
}

.mmContent ul li a {
	color: #0659b0;
    font-size: 12px;
}
.mmContent ul li a:hover {
    color: #0659b0;
    background-color: #e3f2ff;
}

/*menu divider*/
.mmDivider {
    border-bottom: 1px dotted #cccccc;
    border-top: none;
}

.myLinks, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem.myLinks {
    background-color: #0659b0;
    margin: 0;
}
.myLinksCategory {
	background-color: #eef7ff;
}

/* ------------------------- Main Menu Drop Down Styles -------------------- */

.claro .dijitPopup {
    border: 1px solid #ccc;
}

.claro .dijitContentPane {
    padding: 10px;
    border: none;
}

/* ------------------------- Secondary Navigation -------------------- */

.secondaryNav {
	color: #0659b0;
    margin: 15px 0;
}

.secondaryNavTitle, .secondaryNavTitleCamel {
    font-size: 16px;
    text-transform: none;
    color: #333;
}

.secondaryNavLink.navLinkSelected {
	color: #0659b0;
}
.secondaryNavLink a {
	color: #0659b0;
    text-decoration: underline;

}
.secondaryNavLink a:hover {
    color: #0659b0;
    background-color: #e3f2ff;
}

.messagesAttachment a{
	text-decoration: none;
}


/* ------------------------- Page SubHeader -------------------- */

.pageSubHeader a {
	color: #0659b0;
}
.pageSubHeader a:hover {
	color:#0659b0;
}

/* ------------------------- Transaction SubHeader -------------------- */

/*the following are deprecated!!! use pageSubHeader items above*/
.transactionReturn {

	padding-right: 10px;
}
.transactionReturn a {
	color: #0659b0;

}
.transactionReturn a:hover {
	color:#0659b0;
}

/* ------------------------- ERROR SECTION --------------------------- */


/* ------------------------- DIALOGS --------------------------------- */



/* ------------------------- SIDEBAR --------------------------------- */

.formSidebarHeader {
	color: #FFFFFF;
}

.formSidebar {
    border-color: #ccc;
}

.claro .sidebarButtons .dijitButton .dijitButtonNode {
    background-color: #fff;
	border: 1px solid #ccc;
	color: #333333;
	font-weight: normal;

	/* Proposed W3C Markup */
	background: linear-gradient(top, #fff, #eee);
	/* Mozilla Firefox */
	background: -moz-linear-gradient(top, #fff, #eee);
	/* Opera */
	background: -o-linear-gradient(top, #fff, #eee);
	/* Webkit (Safari/Chrome 10) */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #eee));
	/* Webkit (Chrome 11+) */
	background: -webkit-linear-gradient(top, #fff, #eee);
	/* IE6,IE7,IE8 */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#eee');
	/* IE9 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#eee')";
	/* IE10 */
	background: -ms-linear-gradient(top, #fff, #eee);
    padding: 2px 4px 4px 4px;
}


/* ------------------------- COMMON ICON STYLES --------------------------------- */

.attachIcon a{
	display: inline-block;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
}

/* ------------------------- COMMON PAGE STYLES --------------------------------- */

.sectionLinks a:link, .sectionLinks a:visited,
.navigationLinks a:link, .navigationLinks a:visited  {
	color: #0659b0;
 }
.sectionLinks a:hover, .navigationLinks a:hover {
	color: #0659b0;
    background-color: #e3f2ff;
}

.claro .dijitButton .dijitButtonNode {
    background: none;
    background-color: #0659b0;
    border: none;
    border-radius: 1px;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.4px;
    padding: 5px 10px 6px 10px;
    color: #fff;
    box-shadow: none
}

.claro .dijitButton .dijitButtonNode:hover {
    background-color: #00448b;
}

.claro .dijitButtonHover .dijitButtonNode {
    background-color: #00448b
}

.dijitTextBox   { 
	background-color: #F2F7FF !important;
    border-color: #ccc !important;
}

.claro .dijitComboBox .dijitButtonNode {
    background-color: #eef7ff;
}

.checkBoxFormItem {
    margin-left: 14px;
    margin-bottom: 10px;
    margin-right: 0px;
}

.formItem.readOnly label {
	color: #333333;
}

.formItem.readOnly {
	color: #666666;
}


/* ------------------------- FIELD WIDTHS ---------------------------------- */



/* ----------------------- SUBSECTION HEADER ------------------------ */

.subsectionHeader, .subsectionWideHeader, .subsectionShortHeader, .subsectionShortestHeader, .subsectionWiderHeader, .subsectionWidestHeader {
    height: auto;
}

.subsectionHeader h3, .subsectionWideHeader h3, .subsectionShortHeader h3 , .subsectionWidestHeader h3 {
	color: #333;
	font: bold 12px arial;
    padding: 4px 0 6px 0;
    margin: 10px 5px 15px 10px;
    width: 80%;
    border: none;
    border-bottom: 1px dotted #999;
    background: none;
}

.subsectionWidestHeader h3 {
    width: 97%;
}

.subsectionWideHeader h3 {
	border-bottom:1px dotted #0659b0;
}

/* -------------------------  PANE ---------------------------- */

.claro .dijitTitlePane .dijitTitlePaneTextNode {
	color: #333;
    font: bold 12px Arial;
}

.claro .dijitTitlePaneTitleHover {
	background-color: #C0C0C0;
}


/* ------------------------ FIELD LABELS ---------------------------- */

/* ------------------------ Table Containers ---------------------------- */
.formDocumentsTable .tableSubHeader{
	background-color: #F3F3F3;
}

.formDocumentsTable {
    border-color: #ccc;
}

.formDocumentsTable thead th {
    background-color: #eee;
    border-color: #ccc;
}

.formDocumentsTable td {
    border-color: #ccc;
}

/* ------------------------ Admin Table ---------------------------- */



/* ------------------------ Page Header ---------------------------- */

/* ------------------------- DATA GRIDS  ---------------------------- */

.gridHeader {
	margin-bottom: 15px;
}
.gridHeader a{
    color: #333;
    font-size: 13.5px;
}
.gridHeaderTitle {
	color: #0659b0;
}

.gridShowCounts, .gridHeaderShowCounts {
	color: #333;
    font-size: 12px;
}

.gridHeaderShowCountItem, .gridShowCountItem {
	color: #0659b0;
    font-size: 12px;
}

.gridHeaderShowCountItem.selected, .gridShowCountItem.selected, .gridHeaderShowCounts span:last-child {
	color: #333;
    font-weight: bold;
}

.gridHeaderShowCountItem:hover, .gridShowCountItem:hover {
	color: #0659b0;
    background-color: #e3f2ff; 
}

.gridHeaderShowCounts a {
	color: #333;
}
.gridHeaderShowCounts a:hover {
    color: #0659b0;
	background-color: #eef7ff;
}


.claro .dojoxGridMasterHeader {
	background: -moz-linear-gradient(top, #fff, #eee);
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff, endColorstr=#eee);
}

.claro .dojoxGridCellOver .dojoxGridSortNode ,
.claro .dojoxGridHeader .dojoxGridCellOver {
	background: #eef7ff;
}

.claro .dojoxGridRowSelected .dojoxGridCell {
	background: #d9e2f7 repeat-x;
	border-top:1px solid #d9e2f7;
	border-bottom:1px solid #d9e2f7;
}
.claro .dojoxGridRowbarOver .dojoxGridRowbarTable {
	background-color: #d9e2f7;
}
.claro .dojoxGridRowbarSelected{
	background-color: #d9e2f7;
}
.claro .dojoxGridRowOver .dojoxGridCell {
	background: #EBF1FF repeat-x;
	border-top:1px solid transparent;
	border-bottom:1px solid transparent;
}
.dj_ie6 .claro .dojoxGridRowOver .dojoxGridCell,
.dj_ie7 .claro .dojoxGridRowOver .dojoxGridCell {
	border-left:1px solid #d9e2f7;
	border-right:1px solid #d9e2f7;
}

.claro .dojoxGridRowOdd .dojoxGridRowTable tr {
    background: none;
	background-color: #f3f4f6;
}

.claro .dojoxGrid a {
	color:#0659b0;
}

.gridFooter {
	color: #333;
	background-color: #FFFFFF;
    height: inherit;
    font-size: 12px;
    padding: 10px 25px;
}

/*-----------------CMA DGRID BRANDING --------------------------*/
/*.dgrid-header {
	background: -moz-linear-gradient(top, #E6E6E6, #C0C0C0);
	background: -webkit-gradient(linear, left top, left bottom, from(#E6E6E6), to(#C0C0C0));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6E6E6, endColorstr=#C0C0C0);

}
.dgrid-header-scroll{
	background: -moz-linear-gradient(top, #E6E6E6, #C0C0C0);
	background: -webkit-gradient(linear, left top, left bottom, from(#E6E6E6), to(#C0C0C0));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6E6E6, endColorstr=#C0C0C0);

}*/

.claro .dojoDndItemAnchor, .claro .dojoDndItemSelected {
	background-color: #e7ecf0;
	background-image: none;
	background: transparent;
	background: transparent;
}


.dgrid-header .dgrid-cell:hover {
	background: #e3f2ff;
}

.dgrid-row:hover {
filter: alpha(opacity=100);
opacity: 1.0; 
-moz-opacity: 1.0;
}

.dgrid-row-odd {
	background: #eef7ff;
	filter: alpha(opacity=100);
	opacity: 1.0; 
	-moz-opacity: 1.0;
}
.dgrid a:hover {
	color: #005597;
}


/* ------------------------- CUSTOMIZATION PAGES  ---------------------------- */

/* ------------------------- LOGIN PAGE   ---------------------------- */

.instruction.formItem {
    font-size: 13px;
    color: #333;
}

#LogonForm .dijitTextBox {
    margin: 5px 0;
}

#LogonForm .dijitButton {
    margin-top: 10px;
}

#LogonForm .dijitInputInner {
    font-size: 13.5px;
    padding: 3px;
}


/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */


/* ------------------------- ANNOUNCEMENT DIALOG   ---------------------------- */

.dijitDialogUnderlay {
    background: #fff;
    opacity: 0.65;
}

.claro .dijitDialog {
    border: 1px solid #ccc;
}

.claro .dijitDialogPaneContent {
    border-top: 1px solid #ccc;
}

.nonCriticalDialog .dijitDialogCloseIcon {
    margin-top: 3px;
}

.nonCriticalDialog .dijitDialogTitleBar {
    background: none;
    background-color: #F3F8FF;
}
.claro .dijitDialogTitle {
    font-weight: bold;
    font-size: 13.5px;
    color: #333;
}

.announceTitle {
    color: #333;
}
.announceText {
    color: #666;
    line-height: 130%;
}

/* ------------------------- ADD OTHER SPECIFIC PAGE STYLES HERE ---------------------------- */

/* ------------------------- Reference data table containers ---------------------------- */

.transactionSubHeader {
    font-size: 13.5px;
}

.claro .dijitTitlePaneTitle {
    background: none;
    background-color: #eee;
    background: -moz-linear-gradient(top, #fff, #eee);
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff, endColorstr=#eee);
    border: 1px solid #CCC;
}
.claro .dijitTitlePaneContentOuter {
    border: 1px solid #ccc;
    border-top: none;
    border-bottom: none;
}

.claro .dijitTitlePane.section:last-child .dijitTitlePaneContentOuter  {
    border-bottom: 1px solid #ccc;
}

	

/* ------------------------ Panel Authorisation Table ---------------------------- */


/* ------------------------ Amount Range Table ---------------------------- */



/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */

/* ------------------------- HOME PAGE   ---------------------------- */
.homeAnnounce {
	color: #333;
    margin-bottom: 20px;
}

.homeAnnounceLabel {
    font-weight: bold;
    font-size: 13px;
}

.homeAnnounceText {
    margin: 0;
}

.homeAnnounce .formItem .dijitTextArea {
	background-color: transparent !important;
    font-size: 12px;
}

.homeAnnounce a {
	color: #0659b0;
    text-decoration: underline;
}

.announceMore {
    color: #0659b0;
    font-size: 12px;
}

.announceMore:hover {
    color: #0659b0;
    background-color: #e3f2ff;
}


/* ------------------------- OTHER SPECIFIC DIALOG WIDTHS ---------------------------- */

