/**********************************************************************/
/* seb brand                                                          */
/**********************************************************************/

/***********************************************************************/
/* Extend this style from default CGI style by importing it.           */
/* With this approach, defect fixes and updates in CGI default         */
/* style is applied to the extended styls with out much changes.       */
/***********************************************************************/

@import url("../default/portalstyle.css?v1"); 

/***********************************************************************/
/* Overwrite CGI default styles or add new styles below that are       */
/* specific to this style.                                             */
/***********************************************************************/


/* ----------------------------------------------------------------- */

/*
@font-face {
  font-family: "SEBBasic";
  src: url('./sebbasic/sebbasic-regular-org.eot');
  src: url('./sebbasic/sebbasic-regular-org.eot?#iefix') format('embedded-opentype'), url('./sebbasic/sebbasic-regular-org.woff') format('woff'), url('./sebbasic/sebbasic-regular-org.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: "SEBBasic", "Trebuchet MS", "Trebuchet", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	background-color: #ffffff;              
}
*/

body {
	font-family: Arial, "Helvetica Neue", Helvetica, "Trebuchet MS", "Trebuchet", sans-serif;
	font-size: 11px;
	background-color: #ffffff;              
}

/* ------------------------- PAGE LAYOUT ---------------------------- */


/* --- Header Navigation --- */
.pageHeader {
		background-image: url("images/BG_OTF.jpg?v1");
}

/* --- Header Navigation --- */
.pageHeaderNavigation
{
}
.pageHeaderNavigationBackground 
{
	display: none;
}


/* ------------------------- Master Header Content ---------------------------- */
.headerContent,
.headerContentMinimal {
	/*background:#0079c1;*/
}

.headerContent {
	/*cgi modified*/
	height: 65px;                                 /*........................................................................CHANGED!*/
	/*color:#fff;*/
}
.headerContentMinimal {
	height: 65px;                                 /*........................................................................CHANGED!*/
}
.headerNavigationContentMinimal {
	height:33px;
	background-image: url("images/nav-bg-repeat.gif");  /*........................................................................CHANGED!*/
	background-repeat: repeat;
	
}

.headerLogout a:hover {
	color: #1b729f;
	text-decoration: underline;
}

.headerLogo {
	background-image: url("images/SEBlogo-small.png?v1");
background-repeat: no-repeat;
	height: 75px;
	width:  73px;
	margin-top: -5px;
}
.headerTitle {
	margin-top: 0px;
}

.headerContent,
.headerContentMinimal {
	
background: none;
background: none;

	/* Firefox 3.6+ */
	background: none;
}

.headerBrandName {
    background-image: url("images/trade_seb2_t.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    height: 22px;
    width: 220px;
    margin-top: 15px;
    margin-left: 0px;
    display: inline-block;
    float: left;
}


.headerSubTitleCenteringChild {
    /*display: none;*/
}

.headerBehavior a {
    color: #1b729f;
    text-decoration: none;
}

.headerBehavior a:hover {
	color: #1b729f;
	text-decoration: underline;
} 

.headerLogout a {
	color: #1b729f; 
	background-image: none;
}

/* ------------------------- Master Footer Content ---------------------------- */
.footerDivider {
	width: 100%;
	height: 0px;
	display: block;
	border-top: 0px solid #cccccc;
	border-bottom: 0px solid #ffffff;
}

.formContent .columnLeft {
	border-right: 1px solid #C0C0C0 ;
}


/* -------------------------  Form Content ---------------------------- */
.formContentNoSidebar {
	background-color: #FFFFFF; /*white*/
	border: 0px solid #C0C0C0;
	padding: 10px;
	margin-bottom: 10px;
}

.formContentNoSidebar a{
	color: #1079c7;
	text-decoration: none;
}
.formContentNoSidebar a:hover{
	color: #1079c7;
	text-decoration: underline;
}
/* ------------------------- MENU ---------------------------- */

.megaMenuBarItem, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem {
	display: inline-block;
	color: #000000;
	background-color: #ffffff;
	background-image: none;
	background-position: 0px 0px;
	padding: 7px 10px 8px; /*needs to be a tad bigger than font size provided by default*/
	margin: 4px 0px 0px 0px;
	border: 0 none none;
	float: left; /*without this firefox/chrome introduce a space between menu items*/
	white-space: nowrap; /*menu bar items should not wrap*/
}

.mmWrapper {
    padding-top: 0px;
}

.megaMenuBarItem.mmMenuBarItemSelected, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem.mmMenuBarItemSelected ,
.mmWrapper .dijitMenuPassive .dijitMenuItemHover,
.mmWrapper .dijitMenuPassive .dijitMenuItemSelected,
.mmWrapper .dijitMenuActive .dijitMenuItemSelected,
.mmWrapper .dijitMenuActive .dijitMenuItemHover {
	color: #333333;
	background-color: #f8f8f8;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
	padding: 7px 9px 7px;
	margin: 4px 0px;
}

.myLinks, .mmWrapper .dijitMenuBar .dijitMenuItem.myLinks, .megaMenuBarItem.myLinks.mmMenuBarItemSelected, .mmWrapper .dijitMenuBar .dijitMenuItem.myLinks.mmMenuBarItemSelected, .mmWrapper .dijitMenuPassive .myLinks.dijitMenuItemHover, .mmWrapper .dijitMenuPassive .myLinks.dijitMenuItemSelected, .mmWrapper .dijitMenuActive .myLinks.dijitMenuItemSelected, .mmWrapper .dijitMenuActive .myLinks.dijitMenuItemHover {
    display: inline-block;
    color: #000000;
    background-color: #ffffff;
    background-image: none;
    padding: 5px 10px 5px;
    margin: 4px 0px 0px 0px;
    border: 0px none transparent;
    float: right;
    white-space: nowrap;
}

/*the drop down styles*/
.mmDropdown {
	background-color: rgba(255, 255, 255, 0.97);
	padding: 8px;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
	border-width: 0px;
	border-color: #ffffff;
	height: auto;
	
}
.claro .dijitContentPane.myLinksDropdown {
	background-color: #ffffff;
	padding: 0px;
	border-color: #ffffff;
	border-style: none;
	border-width: 0px;
	height: auto;
}

.claro .dijitContentPane {
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.97);
}

.headerSubTitle {

	margin-left: 15px;

}
.headerTitle {
	
	padding-left: 15px;
	
}
.parentSubTitle{

	width: 200px; /*brands should make this smaller if less space is available*/

}

.subsidiarySubTitle{
	
	width: 200px; /*brands should make this smaller if less space is available*/
	
}

.mmContent ul li a {
	color:#1b729f;
	text-decoration:none;
	margin-right: 16px;
	white-space: nowrap; /*menu items should never wrap*/
	cursor: pointer;
}
.mmContent ul li a:hover {
	color:#1b729f;
	text-decoration:underline;
}

/*menu header divider*/
.mmHeaderDivider {
	height:0px;
	border-top:0px solid #ffffff;
	border-bottom:0px solid #ffffff;
	margin: 4px 0px 8px 0px ;
}

.mmContent ul {
	list-style:none;
	padding:0;
	margin:0;
	line-height:150%;
	overflow: hidden;
}


/*menu divider*/
.mmDivider {
	height:0px;
	border-top:0px solid #ffffff;
	border-bottom:0px solid #ffffff;
	margin: 8px 0px;
	padding: 0px;
}

/*mmColumnAfter is set if there are additional categories after the current.
 * this is used to specify vertical divider*/
.mmContent table td.mmColumnAfter {
	border-right:none;
	padding-right: 8px;
}

.myLinksCategory {
	text-transform: uppercase;
	font-weight: normal;
}


.claro .mmContent .dijitTitlePaneTitle {
	border-left: 0px none transparent; /*remove*/
	border-right: 0px none transparent; /*remove*/
}
.claro .mmContent .dijitTitlePaneContentOuter {
	border: 0px none transparent; /*remove*/
}
.claro .mmContent .dijitTitlePaneContentInner {
	padding: 0;
	background-color: #ffffff;
}


/* ------------------------- Secondary Navigation -------------------- */



.secondaryNavRefresh a {
	background-image: url("images/refresh_icon_default.png?v1");
}
.secondaryNavRefresh a:hover {
	background-image: url("images/refresh_icon_default.png?v1");
    background-position: 0px -0px;
}
.secondaryNavEdit a { 
	background-image: url("images/edit_default.png?v1");
}
.secondaryNavEdit a:hover {
	background-image: url("images/edit_default.png?v1");
	background-position: 0px -0px;
}


.secondaryNavHelp a {
	background-image: url("images/question_icon.png?v1");
}

.secondaryNavHelp a:hover {
	background-image: url("images/question_icon.png?v1");
	background-position: 0px -0px;
}

.messagesAttachment a{
	text-decoration: none;
	background-image: url("images/attach_icon.png?v1");
}
.messagesAttachment a:hover {
	background-image: url("images/attach_icon.png?v1");
}

/* ------------------------- Page SubHeader -------------------- */
.subHeaderDivider {
	width: 100%;
	height: 0px;
	display: block;
	border-top: 0px solid #cccccc;
	border-bottom: 0px solid #ffffff;
}

.pageSubHeaderRefresh a {
	background-image: url("images/refresh_default.png?v1");
}
.pageSubHeaderRefresh a:hover {
	background-position: 0px -0px;
}
.pageSubHeaderHelp a {
	background-image: url("images/question_icon.png?v1");
}
.pageSubHeaderHelp a:hover {
	background-position: 0px -0px;
}
/* ------------------------- ERROR SECTION --------------------------- */

/* ------------------------- DIALOGS --------------------------------- */
.normalDialog .dijitDialogTitleBar {
	background-color: #cfe5fa; 
}

.claro .dijitDialogPaneContent {
	border-top: 0px solid #666666; /*medium grey*/
}

/* ------------------------- SIDEBAR --------------------------------- */

.formSidebar {
	background-color: #FFFFFF; /*white*/
        /*no top border becuase of the titlepanes*/
	border-left: 0px solid #C0C0C0;
	border-right: 0px solid #C0C0C0;
	border-bottom: 0px solid #C0C0C0;
	float: right;
	width: 190px;
}

.formSidebarHeader {
        /*by default do not display the header*/
	display: none;
	/*background-image: url("../../js/dijit/themes/claro/images/menuHighlight.png?v1");*/
	border-top: 0px solid #C0C0C0;
	border-bottom: 0px solid #C0C0C0;
	margin: 0;
	height: 25px;
	background-color: #C0C0C0;
}
/*only display the header if no other sidebar sections*/
.formSidebarHeader.noSidebarSections {
	display: block;
}

/*the sidebar already has borders,padding - remove them here*/
.claro .formSidebar .dijitTitlePaneTitle {
	border-left: 0px none transparent; /*remove*/
	border-right: 0px none transparent; /*remove*/
}
.claro .formSidebar .dijitTitlePaneContentOuter {
	border: 0px none transparent; /*remove*/
}
.claro .formSidebar .dijitTitlePaneContentInner {
	padding: 0;
}


.sidebarDivider {
	height:0px;
	border-top:1px solid #C0C0C0;
	border-bottom:0px;
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 8px;
	padding: 0px;
}

/* ------------------------- COMMON ICON STYLES --------------------------------- */


/* ------------------------- COMMON PAGE STYLES --------------------------------- */

.claro .dijitTitlePaneTitle {
 background-color: #cfe5fa;
} 

.claro .formSidebar .dijitTitlePaneTitle {
/*background-color: #3F9D01;*/
background-color: #cfe5fa;
}

.claro .sectionLinksSection .dijitTitlePaneTitle  {
 /*background-color: #3F9D01;*/
 background-color: #cfe5fa;
}
.sectionLinks a:link, .sectionLinks a:visited, .navigationLinks a:link, .navigationLinks a:visited {
   color: #1b729f;
}

.sectionLinks a:hover, .navigationLinks a:hover{
  text-decoration: underline;
}
/*
.claro .dijitButton .dijitButtonNode {
background: -webkit-linear-gradient(top, #c1baba, #010101);
}*/

/*
.claro .dijitButtonContents {
	background-color: #cfe5fa;	
}

.claro .dijitButtonHover .dijitHover .dijitButtonText{
	background-color: #cfe5fa;
}

.claro .dijitButton .dijitButtonNode {
	background-color: #cfe5fa;	
}

.claro .dijitButtonHover .dijitButtonNode {
	background-color: #cfe5fa;
}

.claro .dijitButtonDisabled .dijitButtonNode {
	background-color: #cfe5fa;
}

*/
.dijitTextBox {
    background-color: #FFFFFF !important;
}

.claro .dijitInputInner {
    background-color: #ffffff !important;
}

.claro .dijitButton .dijitButtonNode {
		border-radius: 0px;
	box-shadow: none;
	background-color: #cfe5fa;
	border: 0px solid #FEFFFF;
	color: #1b729f;
	font: 12px arial;	font-weight: bold;

	/* Proposed W3C Markup */ 
	background: linear-gradient(top, #FEFEFE, #FFFFFF);    
	/* Mozilla Firefox */ 
	background: -moz-linear-gradient(top, #FEFEFE, #FFFFFF);     
	/* Opera */
	background: -o-linear-gradient(top, #FEFEFE, #FFFFFF);         
	/* Webkit (Safari/Chrome 10) */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FEFEFE), color-stop(1, #FFFFFF));        
	/* Webkit (Chrome 11+) */ 
	background: -webkit-linear-gradient(top, #FEFEFE, #FFFFFF); 
	/* IE6,IE7,IE8 */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#FEFEFE', EndColorStr='#FFFFFF');         
	/* IE9 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FEFEFE', EndColorStr='#FFFFFF')";        
	/* IE10 */
	background: -ms-linear-gradient(top, #FEFEFE, #FFFFFF);
}



.claro .dijitButtonHover .dijitButtonNode {
	border-radius: 0px;
	background: linear-gradient(top, #FEFEFE, #FEFEFE);    
	/* Mozilla Firefox */ 
	background: -moz-linear-gradient(top, #FEFEFE, #FEFEFE);     
	/* Opera */
	background: -o-linear-gradient(top, #FEFEFE, #FEFEFE);         
	/* Webkit (Safari/Chrome 10) */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FEFEFE), color-stop(1, #FEFEFE));         
	/* Webkit (Chrome 11+) */ 
	background: -webkit-linear-gradient(top, #FEFEFE, #FEFEFE); 
	/* IE6,IE7,IE8 */
	filter:  none;        
	/* IE9 */
	-ms-filter: none;         
	/* IE10 */
	background: -ms-linear-gradient(top, #FEFEFE, #FEFEFE);
}


.claro .dijitButtonText:hover{
	text-decoration: underline;
}

.claro .dijitButtonDisabled .dijitButtonNode {
	border-radius: 0px;
	box-shadow: none;
	background-color: #000000;
	border: none;
	color: #1b729f;

	/* Proposed W3C Markup */
	background: linear-gradient(top, #FEFEFE, #FEFEFE);
	/* Mozilla Firefox */
	background: -moz-linear-gradient(top, #FEFEFE, #FEFEFE);
	/* Opera */
	background: -o-linear-gradient(top, #FEFEFE, #FEFEFE);
	/* Webkit (Safari/Chrome 10) */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FEFEFE), color-stop(1, #FEFEFE));
	/* Webkit (Chrome 11+) */
	background: -webkit-linear-gradient(top, #FEFEFE, #FEFEFE);
	/* IE6,IE7,IE8 */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#FEFEFE', EndColorStr='#FEFEFE');
	/* IE9 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FEFEFE', EndColorStr='#FEFEFE')";
	/* IE10 */
	background: -ms-linear-gradient(top, #FEFEFE, #FEFEFE);
}



/* ------------------------- FIELD WIDTHS ---------------------------------- */

/* ----------------------- SUBSECTION HEADER ------------------------ */

/*
.subsectionHeader h3, .subsectionWideHeader h3, .subsectionShortHeader h3,.subsectionShortestHeader h3, .subsectionWiderHeader h3, .subsectionWidestHeader h3 {

	color: #333333;
	background-color: #cfe5fa;
}*/

.subsectionHeader h3, .subsectionWideHeader h3, .subsectionShortHeader h3,.subsectionShortestHeader h3, .subsectionWiderHeader h3, .subsectionWidestHeader h3 {
	
    margin-bottom: 5px;
	margin-left: 10px;
	color: none;
	font: bold 12px arial;
	line-height: 20px;
	padding-left: 5px;
	border: 1px solid #cfe5fa;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
	
	/* Proposed W3C Markup */
	background: linear-gradient(top, #cfe5fa, #cfe5fa);
	/* Mozilla Firefox */
	background: -moz-linear-gradient(top, #cfe5fa, #cfe5fa);
	/* Opera */
	background: -o-linear-gradient(top, #cfe5fa, #cfe5fa);
	/* Webkit (Safari/Chrome 10) */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cfe5fa), color-stop(1, #cfe5fa));
	/* Webkit (Chrome 11+) */
	background: -webkit-linear-gradient(top, #cfe5fa, #cfe5fa);
	/* IE6,IE7,IE8 */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#cfe5fa', EndColorStr='#cfe5fa');
	/* IE9 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#cfe5fa', EndColorStr='#cfe5fa')";
	/* IE10 */
	background: -ms-linear-gradient(top, #cfe5fa, #cfe5fa);
}

.subHeaderDivider {
	width: 100%;
	height: 0px;
	display: block;
	
	border-top: 0px solid #cccccc;
	border-bottom: 0px solid #ffffff;
}

.searchButton a {
	background-image: url("images/search_icon.png?v1");
}
.clearButton a {
	background-image: url("images/clear_icon.png?v1");
}

/* -------------------------  PANE ---------------------------- */

.claro .dijitTitlePane .dijitTitlePaneTextNode {
	color: #333333;
	font: bold 13px Arial;
	vertical-align: middle;
	border: 0px;
}

.claro .dijitTitlePaneTitle {
	background-image: none;
	background-color: #cfe5fa;
	border: 0px solid #C0C0C0;
	/*min-height: 30px;*/
}

.claro .dijitTitlePaneContentOuter {
    background: #ffffff;
    border: 0px solid #b5bcc7;
    border-top: none;
}

.claro .dijitTitlePaneTitleHover {
	background-color: #cfe5fa;
	border: 0px solid #C0C0C0;
}

.dijitTitlePaneTitle .dijitArrowNode {
	float: right;
	margin-top: 6px;
}

/*remove arrow dropdown on non-toggleable titlepanes*/
.section.noToggle.dijitTitlePane .dijitArrowNode {
  background-image: none;
  height: 0px;
  width: 0px;
}

.dijitTitlePaneContentInner:after {
		display: block;
		content: '';
		clear: both;
		border: 0px;
}

.dijitTitlePaneContentInner {
	*zoom: 1;
}

/* ------------------------ FIELD LABELS ---------------------------- */

/* ------------------------ Table Containers ---------------------------- */

.formDocumentsTable {
	border-width: 0 0 0px 0px;
}

.formPaymentDocumentsTable {
	border-width: 0 0px 0px 0px;
}

.formDocumentsTable th, .formDocumentsTable tr, .formDocumentsTable td, .formDocumentsTable .tableSubHeader {
    border-color: #909090;
    border-style: none;
    border-width: 0px 0px 0 0;
    padding: 0.3em 0.5em;
}

.formDocumentsTable thead th {
	background-image: none;
    border-top-width: 1px;
    background-color: #cfe5fa;
    font-weight: bold;
    border-color: #909090;
}

/* ------------------------ Admin Table ---------------------------- */

/* ------------------------ Page Header ---------------------------- */

/* ------------------------- DATA GRIDS  ---------------------------- */

.gridHeaderEdit {
	display: inline-block;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
	*zoom: 1;
	vertical-align: middle;
	background-image: url("images/edit_default.png?v1");
	margin-left: 7px;
}
.gridHeaderEdit:hover {
	background-position: 0px -0px;
}
.claro .dojoxGrid a {
	color: #1079c7;
	text-decoration: none;
}

.claro .dojoxGrid a:hover {
	color: #1079c7;
	text-decoration: underline;
}


.gridHeaderShowCountItem {
   color: #1b729f;
   text-decoration: none;
}

.gridHeaderShowCountItem:hover {
	 color: #1b729f;
   text-decoration: underline;
}

.gridHeaderShowCountItem.selected:hover{
	color: #1b729f;
	text-decoration: none;
}

.gridHeaderShowCounts{
	color: #1b729f;
}
.claro .dojoxGridRowOdd .dojoxGridRowTable tr {
	background-color: #ffffff;
}

.claro .dojoxGridMasterHeader {
	background-color: #cfe5fa;
	background: -moz-linear-gradient(top, #cfe5fa, #cfe5fa);
	background: -webkit-gradient(linear, left top, left bottom, from(#cfe5fa), to(#cfe5fa));
	filter: none;
}

.searchHeaderRefresh {
	background-image: url("images/refresh_icon_defult.png?v1");
	margin-left: 3px;
}
.searchHeaderRefresh:hover {
	background-position: 0px -0px;
}

.searchHeaderEdit {
	background-image: url("images/edit_icon_default.png?v1");
	margin-left: 3px;
}
.searchHeaderEdit:hover {
	background-position: 0px -0px;
}

/* ------------------------- GRID CUSTOMIZATION POPUP --------------------------- */
.dijitContentPanePopup {
	border: none;
	background-color: rgba(255, 255, 255, 0.97);
}
.popupContent {
	maxHeight: 100px;
	margin: 3px;
}

.gridShowCountItem {
    cursor: pointer;
    color: #1079c7;
    text-decoration: none;
}

.gridShowCountItem:hover {
    color: #1079c7;
     text-decoration: underline;
}

.gridShowCountItem.selected, .gridShowCountItem:hover{
	text-decoration: none;
}

.gridCustAction {
	color: #333333;
	/*text-decoration: underline;*/
	cursor: pointer;
	margin-bottom: 3px;
}
.gridCustAction:hover {
	color: #666666;
}
.gridCustDivider {
	width: 100%;
	height: 0px;
	display: block;
	border-top: 0px solid #cccccc;
	border-bottom: 0px solid #ffffff;
}
.gridCustColumnHeader {
	color: #333333;
	margin-top: 3px;
	margin-bottom: 3px;
}
.gridCustColumn {
}
.gridCustColumn.formItem {
	margin: 0;
}

/* ------------------------- CUSTOMIZATION PAGES  ---------------------------- */

/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
.dgrid a {
	color: #1079c7;
	text-decoration: none;
}
.dgrid a:hover {
	color: #1079c7;
	text-decoration: underline;
}
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */


/**
  *-----------------------------------------------------------------------------------------------------*
  * 					D-Grid specific Default theam Custom Style Calasses below						*
  *-----------------------------------------------------------------------------------------------------*
  **/
.dgrid {
	/* Automatic height allows the grid height to shrink when only a few rows are rendered */
	/*font-size: 14px;*/
	height: auto;
}
/*RPasupulati IR T36000031454 Start*/
.dgrid .dgrid-scroller {
	/* This rule is necessary to enable scrolling to work with a non-fixed height grid */
	position: relative;
	height: 200px;
}
.dgrid-scroller {
	padding-bottom: 0px;
}
/*IE8-Align columns propertly after hide/show column*/
.dgrid div {
    margin: 0;
    padding: 0;
}
/*RPasupulati IR T36000031454 Ends */
/* The following rules define a discrete set of grids that have a maximum height */
/* The max height must be specified for both the top-level grid node and the .dgrid-scroller node */
.dgrid.rows5-with-y-scroll { max-height: 143px; } 
.dgrid.rows5-with-y-scroll .dgrid-scroller { max-height: 122px; } 
.dgrid.rows10-with-y-scroll { max-height: 248px; } 
.dgrid.rows10-with-y-scroll .dgrid-scroller { max-height: 227px; } 
.dgrid.rows15-with-y-scroll { max-height: 353px; } 
.dgrid.rows15-with-y-scroll .dgrid-scroller { max-height: 332px; } 
.dgrid.rows20-with-y-scroll { max-height: 458px; } 
.dgrid.rows20-with-y-scroll .dgrid-scroller { max-height: 418px; }
.dgrid.rows30-with-y-scroll { max-height: 682px; }
.dgrid.rows30-with-y-scroll .dgrid-scroller { max-height: 660px; }

.dgrid.rows5-no-y-scroll { max-height: 126px; } 
.dgrid.rows5-no-y-scroll .dgrid-scroller { max-height: 105px; } 
.dgrid.rows10-no-y-scroll { max-height: 231px; } 
.dgrid.rows10-no-y-scroll .dgrid-scroller { max-height: 210px; } 
.dgrid.rows15-no-y-scroll { max-height: 336px; } 
.dgrid.rows15-no-y-scroll .dgrid-scroller { max-height: 315px; } 
.dgrid.rows20-no-y-scroll { max-height:  441px;} 
.dgrid.rows20-no-y-scroll .dgrid-scroller { max-height: 420px; }

.dgrid-header {
	background-color: #cfe5fa;
	background: -moz-linear-gradient(top, #cfe5fa, #cfe5fa);
	background: -webkit-gradient(linear, left top, left bottom, from(#cfe5fa), to(#cfe5fa));
	filter: none;
}
.dgrid-header .dgrid-cell {
	border: 0px solid #dddddd;
	border-top-style: none;
	border-bottom-style: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	white-space: normal;
	word-wrap: break-word;
}
.dgrid-header .dgrid-cell:hover {
	background: #cfe5fa;
}
.dgrid-row-table {
	font-size: 11px;
	background-image: none;
}
.dgrid-row{
	background-color: #ffffff;
}
.dgrid-row .dgrid-row-table .dgrid-cell {
/* 	sborder:1px solid transparent; dgrid-header*/
}
.dgrid-cell{
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
}
.dgrid-selected {
	background-image: none;
	background-color: #cfe5fa; /*not too dark*/
	border-top:0px solid #ffffff;
	border-bottom:0px solid #ffffff;
}
.dgrid-row:hover{
	background-color:#cfe5fa; /*not too dark*/
	background-image: none;
	border-right:0px solid transparent;
	
	filter:alpha(opacity=50); /* IE Proprietary */
	opacity: 0.5; /* CSS3 Standard */
	-moz-opacity:0.5; /* Mozilla Property */
}
.dgrid-row-odd {
	background-color: #ffffff;
}
.dgrid-focus{
	outline: none;
/* 	border: 1px solid transparent !important; */
}

.dgrid-header-scroll {
	background-color: #cfe5fa;
	background: -moz-linear-gradient(top, #cfe5fa, #cfe5fa);
	background: -webkit-gradient(linear, left top, left bottom, from(#cfe5fa), to(#cfe5fa));
	filter: none;
}
.dgrid-header-scroll:hover {
	background: #cfe5fa;
}
.dgrid-header-scroll .ui-icon{
	background-image: none;
}
.claro .dojoDndItemOver {	
	background-repeat: no-repeat;
	background-image: none;
	padding: 3px;	
}
.claro .dojoDndItemAnchor, .claro .dojoDndItemSelected {
	background-color: #000000;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    background-repeat: repeat-x;
    color: #000000;
    padding: 3px;
    background: -moz-linear-gradient(center top , #cfe5fa, #cfe5fa) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-gradient(linear, left top, left bottom, from(#cfe5fa), to(#cfe5fa));
}
.dgrid-no-data,
.dgrid-loading {
	text-align: center;
	padding:16px;
}
.dgrid-content .dgrid-cell {
	border-color: transparent;
}
/*provide default styles for form type grid*/
.formContent .dgrid, .formContentNoSidebar .dgrid {
	/*To Do -- height: 500px;*/
}
.gridFooter {
	height: 30px;
	padding: 5px 25px;
	background-color: #FFFFFF;
	font-size: 11px;
	border-right: 1px solid #DBDBDB;
	border-bottom: 1px solid #DBDBDB;
	border-left: 1px solid #DBDBDB;
}

.claro .dojoxGridRowbar {
	background-color: #ffffff;
	border-right: 1px solid transparent;
}
.claro .dojoxGridCellOver .dojoxGridSortNode ,
.claro .dojoxGridHeader .dojoxGridCellOver {
	background: #cfe5fa;
}

.claro .dojoxGridRowOver .dojoxGridCell,
.claro .dojoxGridRowbarOver .dojoxGridRowbarTable {
	background-image: url("../../js/dojox/grid/resources/images/row_back.png?v1");
	background-position: 0 -2px; /*fudge up so we don't have white line at top*/
	background-color: #cfe5fa; /*not too dark*/
	border-top:1px solid transparent;
	border-bottom:1px solid transparent;
}

/*selected should be after over so over doesn't override.
  also add concatenation (selected and over) for good measure*/
.claro .dojoxGridRowSelected .dojoxGridCell,
.claro .dojoxGridRowSelected.dojoxGridRowOver .dojoxGridCell {
	background-image: none;
	background-color: #cfe5fa; /*not too dark*/
	border-top:1px solid #cfe5fa;
	border-bottom:1px solid #cfe5fa;
}
.claro .dojoxGridRowbarSelected,
.claro .dojoxGridRowbarSelected.dojoxGridRowbarOver .dojoxGridRowbarTable {
	background-color:#cfe5fa; /*not too dark*/
	background-image: none;
	border-right:1px solid transparent;
}

/*todo: not sure why ie7 rows color in dojo is not consistent, try to remove this*/
.dj_ie6 .claro .dojoxGridRowOver .dojoxGridCell,
.dj_ie7 .claro .dojoxGridRowOver .dojoxGridCell {
	border-left:1px solid #cfe5fa;
	border-right:1px solid #cfe5fa;
}

.claro .dojoxGridRowOdd .dojoxGridRowTable tr {
	background-color: #ffffff;
}

.claro .dojoxGridCell {
	border:1px solid transparent;
}
