/**********************************************************************/
/* bmo style                                                          */
/**********************************************************************/

/***********************************************************************/
/* Extend this style from default CGI style by importing it.           */
/* With this approach, defect fixes and updates in CGI default         */
/* style is applied to the extended styls with out much changes.       */
/***********************************************************************/

@import url("../default/portalstyle.css?v1"); 

/***********************************************************************/
/* Overwrite CGI default styles or add new styles below that are       */
/* specific to this style.                                             */
/***********************************************************************/


/* ----------------------------------------------------------------- */

body {
	background-color: #0079c1;               /*........................................................................CHANGED!*/
}

/* ------------------------- PAGE LAYOUT ---------------------------- */

/* --- Master Header --- */
.pageHeader {    
	background-color: #0079c1;              /*........................................................................CHANGED!*/
}

/* --- Header Navigation --- */
.pageHeaderNavigation
{
}
.pageHeaderNavigationBackground
{
	display: none;
}


/* ------------------------- Master Header Content ---------------------------- */
.headerContent,
.headerContentMinimal {
	background:#0079c1;
}

.headerContent {
	/*cgi modified*/
	height: 65px;                                 /*........................................................................CHANGED!*/
	color:#fff;
}
.headerContentMinimal {
	height: 65px;                                 /*........................................................................CHANGED!*/
}
.headerNavigationContentMinimal {
	height:33px;
	background-image: url("images/nav-bg-repeat.gif");  /*........................................................................CHANGED!*/
	background-repeat: repeat;
	
}

.headerLogo {
	background-image: url("images/bmo_logo.gif");  /*........................................................................CHANGED!*/
	background-repeat: no-repeat;
	height: 55px;                                  /*........................................................................CHANGED!*/
	width: 215px;                                  /*........................................................................CHANGED!*/
}
/*cgi added*/
.headerTitle {
	margin-top: 0px;
}
.headerBrandName {
	background-image: url("images/bmo_brand_name.gif");
	background-repeat: no-repeat;
	height: 26px;
	width: 122px;
	/*cgi added*/
	margin-top: 10px;

	/*cgi added*/
	float: none;
}

/*cgi added*/
.headerSubTitle {
	/*cgi modified*/
	margin-left: 3px;
	margin-top: -7px;
	*margin-top: -2px;

	/*cgi added*/
	display: block;
}
/*cgi added*/
.headerSubTitleCenteringParent
{
	height: 34px;
}
.parentSubTitle {
	color:#fff;
	/*cgi modified*/
	width: 300px;

	/*cgi added*/
	font-size: 12px;
}
.subsidiarySubTitle {
	/*cgi modified*/
	width: 300px;

	/*cgi added*/
	margin-top: -2px;
	*margin-top: 0px;
	font-size: 12px;
}

.headerBehavior a {
	color: #ffffff;                /*........................................................................CHANGED!*/
}
.headerBehavior a:hover {
	color: #ffffff;                /*........................................................................CHANGED!*/
}

.headerLogout a {
	color: #0079c1; /*white*/
	background-image: url("images/logout_button.png?v1");
}
.headerLogout a:hover {
	color:#0d0d0d;
}

/* ------------------------- Master Footer Content ---------------------------- */
.footerContent {
	color: #fff;      /*........................................................................CHANGED!*/
	margin: 0;
	padding-top: 0px; /*........................................................................CHANGED!*/
	padding-bottom: 45px;
	font-size: 14px; /*........................................................................CHANGED!*/
}

.footerDivider {
	display: block; /*........................................................................CHANGED!*/
}

/* -------------------------  Form Content ---------------------------- */

/* ------------------------- MENU ---------------------------- */

/*cgi 1/30/2013 take pageHeaderNavigationBackground top border out of flow*/
.mmWrapper {
	padding-top: 0px;
}
/*cgi 1/30/2013 change font-size here so it applies to all menu bar classes*/
mmWrapper,
.megaMenuBar, /*for pre-dojo*/
.mmWrapper .dijitMenuBar {
	font-size:15px;
}

.megaMenuBarBackground {
	height:33px;
	background: url("images/nav-bg-repeat.gif") repeat-x;
	border-top: 1px solid #006cac;
	border-bottom: 1px solid #006cac;
	border-right: 1px solid #006cac;
}

/*my links font is larger, so rest of menu has less room*/
.standardMenuBarItems.withMyLinks {
    width: 780px;
}

/*set colors for all menu bar items*/
.megaMenuBarItem, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem {
	background-color: #ffffff;
	background-image: url("images/nav-active.gif");                                      /*........................................................................CHANGED!*/
	background-position: 0px 0px; /*for firefox, push item below menubar top border*/ /*........................................................................CHANGED!*/
	*background-position: 0px 0px;
	margin: 1px 0px 0px 0px;                                                                   /*........................................................................CHANGED!*/
	/*cgi 1/30/2013 change font-size in mmWrapper instead to fix hover issues*/
}

.menuBarItemIcon {
	background-image: url("../default/images/collapsible_icon.png?v1");
	background-position: 0px 0px;
	height: 6px;
	width: 12px;
	margin-left: 6px;
}

/*selected style*/
.megaMenuBarItem.mmMenuBarItemSelected, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem.mmMenuBarItemSelected ,
/*hover style*/
.mmWrapper .dijitMenuPassive .dijitMenuItemHover,
.mmWrapper .dijitMenuPassive .dijitMenuItemSelected,
.mmWrapper .dijitMenuActive .dijitMenuItemSelected,
.mmWrapper .dijitMenuActive .dijitMenuItemHover {
	color: #0079c1;
	background: #ffffff;
	border: 1px solid #ffffff;
	padding: 6px 9px 7px;
	margin: 1px 0px 0px 0px;                                                                   /*........................................................................CHANGED!*/
}
/*ie doesn't work the same on sizing so do something special*/
.dj_ie .mmWrapper .dijitMenuPassive .dijitMenuItemHover,
.dj_ie .mmWrapper .dijitMenuPassive .dijitMenuItemSelected,
.dj_ie .mmWrapper .dijitMenuActive .dijitMenuItemSelected,
.dj_ie .mmWrapper .dijitMenuActive .dijitMenuItemHover {
	padding-top: 6px;
	padding-bottom: 7px;
	margin: 1px 0px 0px 0px;                                                                   /*........................................................................CHANGED!*/
}
/* on menu bar item selection or hover change the drop down image too*/
.megaMenuBarItem.mmMenuBarItemSelected .menuBarItemIcon, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem.mmMenuBarItemSelected .menuBarItemIcon,
.mmWrapper .dijitMenuPassive .dijitMenuItemHover .menuBarItemIcon,
.mmWrapper .dijitMenuPassive .dijitMenuItemSelected .menuBarItemIcon,
.mmWrapper .dijitMenuActive .dijitMenuItemSelected .menuBarItemIcon,
.mmWrapper .dijitMenuActive .dijitMenuItemHover  .menuBarItemIcon {
	background-image: url("images/collapsible_icon_rollover.png?v1");
	background-position: 0px 0px;
}

/*cgi 2/4/2013 fix mylinks formatting issue*/
.myLinks,
.mmWrapper .dijitMenuBar .dijitMenuItem.myLinks,
.megaMenuBarItem.myLinks.mmMenuBarItemSelected,
.mmWrapper .dijitMenuBar .dijitMenuItem.myLinks.mmMenuBarItemSelected ,
.mmWrapper .dijitMenuPassive .myLinks.dijitMenuItemHover,
.mmWrapper .dijitMenuPassive .myLinks.dijitMenuItemSelected,
.mmWrapper .dijitMenuActive .myLinks.dijitMenuItemSelected,
.mmWrapper .dijitMenuActive .myLinks.dijitMenuItemHover {
	display: inline-block;
	color: #ffffff;
	background-color: #0079c1;
	background-image: none;
	padding: 6px 10px 7px;
	margin: 1px 0px 0px 0px;
	border: 0px none transparent;
	border-right:1px solid #006cac;
}
/*override the existing ie overrides for mylinks*/
.dj_ie .mmWrapper .dijitMenuPassive .myLinks.dijitMenuItemHover,
.dj_ie .mmWrapper .dijitMenuPassive .myLinks.dijitMenuItemSelected,
.dj_ie .mmWrapper .dijitMenuActive .myLinks.dijitMenuItemSelected,
.dj_ie .mmWrapper .dijitMenuActive .myLinks.dijitMenuItemHover {
	padding: 6px 10px 7px;
	margin: 1px 0px 0px 0px;
}

/*the drop down styles*/
.mmDropdown {
	background-color: #ffffff;
}

/*menu category headings*/
.mmCategory {
	color: #0079c1;                                              
	font-weight:bold;                                           
	font-size:11px;                                            
}
.mmContent ul li a {
	color:#0079c1;
}

/* ------------------------- Secondary Navigation -------------------- */

.secondaryNav {
	color: #ffffff;  /*........................................................................CHANGED!*/
}
.secondaryNavLink.navLinkSelected {
	background-image: url("images/sub_navigation_icon.png");
}
.secondaryNavLink a {
	color: #ffffff;
	background-image: url("images/sub_navigation_icon.png");
	background-position: 0px 3px;
}
.secondaryNavLink a:hover {
	background-image: url("images/sub_navigation_icon.png");
	background-position: 0px 3px;
}

/*cgi 2/27/2013 add styling for navigation links (i.e. shipments) within a form*/
.formContent .secondaryNavLink.navLinkSelected {
	color: #333333;
	background-image: url("../default/images/sub_navigation_icon_selected.png?v3");
	background-position: 17px 3px;
	background-repeat: no-repeat;
}
.formContent .secondaryNavLink a {
	color: #333333;
	background-image: url("../default/images/sub_navigation_icon_sprite.png?v3");
	background-position: -2px 2px;
	background-repeat: no-repeat;
}
.formContent .secondaryNavLink a:hover {
	background-position: -2px -10px;
}


/* ------------------------- Page SubHeader -------------------- */

/*cgi added 2/13/2013*/
.pageSubHeader {
	color: #ffffff;
}

/* ------------------------- Transaction SubHeader -------------------- */

/*the following are deprecated!!! use pageSubHeader items above*/
.transactionSubHeader {
	color: #ffffff;
}
.transactionReturn a {
	color: #ffffff;
}
.transactionReturn a:hover {
	color:#cccccc;
}

/* ------------------------- ERROR SECTION --------------------------- */

/* ------------------------- DIALOGS --------------------------------- */

/* ------------------------- SIDEBAR --------------------------------- */

/* ------------------------- COMMON ICON STYLES --------------------------------- */

/* ------------------------- COMMON PAGE STYLES --------------------------------- */

/* ------------------------- FIELD WIDTHS ---------------------------------- */

/* ----------------------- SUBSECTION HEADER ------------------------ */

/* -------------------------  PANE ---------------------------- */

/* ------------------------ FIELD LABELS ---------------------------- */

/* ------------------------ Table Containers ---------------------------- */

/* ------------------------ Admin Table ---------------------------- */

/* ------------------------ Page Header ---------------------------- */

/* ------------------------- DATA GRIDS  ---------------------------- */

.gridHeader {
	height: 28px; /*explicitly setting makes ie styling easier*/
	background:url("images/title_bar.gif") repeat-x;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:3px;
}
.gridHeaderTitle {
	color: #0079c1;                          /*........................................................................CHANGED!*/
	font-size: 14px;
}
.gridHeaderTitle a {                        
	color: #0079c1;                          /*........................................................................CHANGED!*/
}
.gridHeaderTitle a:hover {
	color: #0079c1;                          /*........................................................................CHANGED!*/
}

.gridHeaderShowCounts {
	color: #0079c1;
}
.gridHeaderShowCounts a {
	color: #0079c1;
}
.gridHeaderShowCountItem:hover ,
.gridHeaderShowCounts a:hover {
	color: #0079c1;
}

/* ------------------------- CUSTOMIZATION PAGES  ---------------------------- */

/* ------------------------- GRID CUSTOMIZATION POPUP --------------------------- */

/* ------------------------- Expanded Page ---------------------------- */

/*cgi 2/13/2013 added*/
.expandedPage {
	background-color: #0079c1;
}


/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */


/* ------------------------- ANNOUNCEMENT DIALOG   ---------------------------- */

/* ------------------------- ADD OTHER SPECIFIC PAGE STYLES HERE ---------------------------- */

/* ------------------------- Reference data table containers ---------------------------- */

/* ------------------------ Panel Authorisation Table ---------------------------- */

/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */

/* ------------------------- HOME PAGE   ---------------------------- */
#homeAnnounce,
.homeAnnounce {
	background-color: #e3f1ff;
	color: #0079c1; /*should generalize*/
}

/* ------------------------- OTHER SPECIFIC DIALOG WIDTHS ---------------------------- */

