/**********************************************************************/
/* New ANZ Theme Style                                                */
/**********************************************************************/

@import url("../default/portalstyle.css?v2");

/*
 * NOTE: Due to some of the dynamic javascript files,
 * some of the default datagrid and other file upload
 * component styles are not working, To make the UI look and
 * feel good we override few of the class selector font size
 * property. Those are mentioned down in below set, and this
 * set of styles can be removed while deploying the
 * css files into server.
*/

.claro .dijitbutton .dijitbuttonnode,
.dojoxgridcell,
label
{
	font-size: 11px;
}


/**********************************************************************/
/* Global Styles                                                      */
/**********************************************************************/

body
{
	/*background: url("images/page-bg.jpg") repeat-y center #eee;*/
	min-width:1006px;
	background-color: #FFFFFF;
}

/**********************************************************************/
/* Header Styles                                                      */
/**********************************************************************/

.pageHeader
{
	background: none;
	height: 70px;
}

.pageHeader .headerContent,
.pageHeader .headerContentMinimal
{
	color: #fff;
	padding: 0;	
	height: 70px;
	background: url("images/bg-header.png") repeat-x scroll left top #057BBD;
}

.pageHeader .headerLogo
{	
	float: left;
	height: 70px;
	width: 209px; /* Change this width, when there is a variation in width */
	margin-top: 0;
	background: url("images/img-logo.jpg") no-repeat scroll left top #057bbd;
}
.pageHeader .headerTitle { margin-top: 8px; }

.pageHeader .headerBrandName
{
	font-size: 15px;
	font-weight: normal;
	
	background-image: none !important;
	background-color: transparent !important;
	/*cgi modified*/
	margin: 7px 0 1px 0 !important;
	
	height: auto;

	/*cgi added*/
	width: 345px;
	float: none;
}
.pageHeader .headerBrandName span
{
	display: block;
	font-size: 14px;
	font-weight: bold;
	padding: 0 !important;
	margin: 0 !important;
}

/*cgi removed
.pageHeader .headerSubTitleTable { height: auto; }
.pageHeader .headerSubTitleTable .parentSubTitle { font-size: 12px; }
*/

.pageHeader .headerSubTitle
{
	color: #FFFFFF;
	font-size: 12px;
	font-weight: normal;
	margin: 0;
	padding-left: 0;
	text-align: left;
	display: block;
	width: auto;
	height:  auto;
}

/*cgi added*/
.headerSubTitleCenteringParent
{
	display: inline;
	height: auto;
}
.headerSubTitleCenteringChild
{
	display: inline;
}
.parentSubTitle
{
	font-size: 12px;
	width: 345px;
}
.subsidiarySubTitle
{
	width: 345px;
	font-size: 12px;
	margin-top: -2px;
}

.pageHeader .headerBehavior 
{ 
	/*cgi modified */
	margin: 3px 15px 0 0; 
}
.pageHeader .headerBehavior a { color: #fff; }

.pageHeader .headermessages a
{
	background-image: url("images/mail_icon.png");
	background-position: 6px 3px;
}

.pageHeader .headernotifications a
{
	background-image: url("images/bubble_icon.png");
	background-position: 4px 4px;
}

.pageHeader .headerhelp a
{
	background-image: url("images/question_icon.png");
	background-position: 2px 4px;
}

.pageHeader .headerActions .headerActionDivider
{
	border-left: 1px solid #fff;
}

.headerLogout
{
	margin-left: 5px;
	vertical-align: middle;
}

.headerLogout a
{
	display: inline-block;
	height: auto;
	padding: 2px 0 2px 0;
	
	color: #ffffff; /*white*/	
	text-align: center;
	font-weight: bold;
	text-align: center;
	
	border: 1px solid #005E8E;	
	-webkit-border-radius:3px 3px 3px 3px;
	-o-border-radius:3px 3px 3px 3px;
	-ms-border-radius:3px 3px 3px 3px;
	-khtml-border-radius:3px 3px 3px 3px;
	border-radius:3px 3px 3px 3px;
	
	background: url('images/header-logout-bg.jpg') #2b9fe0 0px bottom repeat-x !important; /*fallback for non-CSS3 browsers*/
	background: -moz-linear-gradient(center top , #2CA0E1, #248DC8) repeat scroll 0 0 transparent !important;
	background: -ms-linear-gradient(#2CA0E1, #248DC8); /*IE10*/
    
	box-shadow: none;
}
.headerLogout a:hover { color:#dff4ff; }

.pageHeader .headerBehavior 
{
	position: relative; 
	/*cgi added*/
	width: 400px;
}
.pageHeader .headerBehavior .headerUserName
{
	/*cgi removed
	position: absolute;
	left: -320px;
	top: 12px;
	*/
	
	font-size: 12px;	

	/*cgi removed
	text-align: right;	
	width: 300px;
	*/
}
/*cgi added*/
.pageHeader .headerBehavior .headerUserName
{
	max-width: 400px;
}
.pageHeader .headerBehavior .headerUserName a
{
	color: #fff;
	text-decoration: none;
}
.pageHeader .headerBehavior .headerUserName a:hover{ color: #fff; }


/**********************************************************************/
/* Header Primary Navigation Styles                                   */
/**********************************************************************/

/*cgi 1/30/2013 Remove use of default full page navigation background.
  this was added to keep the menu background from increasing in height
  in the event menu needs to wrap to next row*/
.pageHeaderNavigationBackground
{
	display: none;
}

.mmWrapper
{
/*cgi 1/29/2013 commented this out and moved to megaMenuBarBackground and megaMenuBarItem
  to allow for menu to wrap if necessary
	background: url("images/bg-menu.jpg") repeat-x scroll left bottom transparent;
	height: 30px;
*/
    /*cgi 1/29/2013 remove navigation background from page flow entirely*/
    padding-top: 0px;
}
.megaMenuBarBackground
{
	background: url("images/bg-menu.jpg") repeat-x scroll left bottom transparent;
	height: 29px;
	min-width:1006px;
}
/*cgi 1/30/2013 increase size available for standard menu buttons*/
.standardMenuBarItems.withMyLinks {
    width: 850px;
}

/* THIS FORCES THE MENU TEXT TO BE WHITE */
.megaMenuBarItem, .mmWrapper .dijitMenuBar .dijitMenuItem {
    background: url("images/bg-menu.jpg") repeat-x scroll left bottom transparent;
    color: #FFFFFF !important;
}

/* THIS CHANGES THE BACKGROUND AND TEXT COLOR OF MENU ITEMS ON  HOVER */
.mmWrapper .dijitMenuPassive .dijitMenuItemHover,
.mmWrapper .dijitMenuActive .dijitMenuItemHover {
    color: #FFFFFF;
    background-color: #004972;
    background-image: none;
    border: 1px solid #333333;
    margin-top: -1px;
}
/*ie doesn't work the same on sizing so do something special*/
.dj_ie .mmWrapper .dijitMenuPassive .dijitMenuItemHover,
.dj_ie .mmWrapper .dijitMenuPassive .dijitMenuItemSelected,
.dj_ie .mmWrapper .dijitMenuActive .dijitMenuItemSelected,
.dj_ie .mmWrapper .dijitMenuActive .dijitMenuItemHover {
    margin-top: -1px;
}


/* THIS FORCES THE TEXT OF THE SELECTED MENU ITEM TO BECOME DARK GREY */
.megaMenuBarItem.mmMenuBarItemSelected, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem.mmMenuBarItemSelected ,
.mmWrapper .dijitMenuPassive .dijitMenuItemSelected,
.mmWrapper .dijitMenuActive .dijitMenuItemSelected {
    background-color: #F8F8F8;
    color: #333333 !important;
    background-image: none;
    border: 1px solid #333333;
    margin-top: -1px;
}

/*behavior unclear, commenting out  .menuBarItemIcon:hover,
.megaMenuBarItem:hover .menuBarItemIcon,
.megaMenuBarItem.dijitMenuItemSelected .menuBarItemIcon
{
	background-image: url("images/collapsible_icon.png");
	background-position: 0px 0px;
}*/
.menuBarItemIcon
{
	background-image: url("images/collapsible_icon_rollover.png");
	background-position: 0px 0px;
}
/* override default sprite position change*/
.megaMenuBarItem.mmMenuBarItemSelected .menuBarItemIcon, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem.mmMenuBarItemSelected .menuBarItemIcon,
.mmWrapper .dijitMenuPassive .dijitMenuItemHover .menuBarItemIcon,
.mmWrapper .dijitMenuPassive .dijitMenuItemSelected .menuBarItemIcon,
.mmWrapper .dijitMenuActive .dijitMenuItemSelected .menuBarItemIcon,
.mmWrapper .dijitMenuActive .dijitMenuItemHover  .menuBarItemIcon {
	background-position: 0px -1px;
}


.mmwrapper .megamenubaritem.mmmenubaritemselected,
.mmwrapper .dijitmenubar .dijitmenuitem.mmmenubaritemselected,
.mmwrapper .dijitmenupassive .dijitmenuitemhover,
.mmwrapper .dijitmenupassive .dijitmenuitemselected,
.mmwrapper .dijitmenuactive .dijitmenuitemselected,
.mmwrapper .dijitmenuactive .dijitmenuitemhover
{
	color: #fff;
	background-color: #004972;
	border: 1px solid #333;
	padding: 6px 9px 7px;
}

.mmwrapper.megamenubaritem:hover,
.mmwrapper .dijitmenubar .dijitmenuitem:hover {
	color: #fff;
	background: none repeat scroll 0 0 #004972;
}


/*behavior unclear, commenting out  .megamenubaritem.mmmenubaritemselected .menubaritemicon,
.mmwrapper .dijitmenubar .dijitmenuitem.mmmenubaritemselected .menubaritemicon,
.mmwrapper .dijitmenupassive .dijitmenuitemhover .menubaritemicon,
.mmwrapper .dijitmenupassive .dijitmenuitemselected .menubaritemicon,
.mmwrapper .dijitmenuactive .dijitmenuitemselected .menubaritemicon,
.mmwrapper .dijitmenuactive .dijitmenuitemhover .menubaritemicon
{
	background-image: url("images/collapsible_icon.png");
	background-position: 0px 0px;
}*/

.myLinks,
.mmWrapper .dijitMenuBar .dijitMenuItem.myLinks
{
	/*cgi 1/29/2013 comment out margin: 0 !important;*/
	background-color: #003E65;
	color: #FFFFFF !important; /*cgi 1/31/2013 should be white even on selection*/
}

.mylinksdropdown { background-color: #F8F8F8; border-color: #003e65; }

/**********************************************************************/
/* Page Content Frame Styles                                          */
/**********************************************************************/

.pageContent { width: 1006px; }

/**********************************************************************/
/* Basic Component Styles                                             */
/**********************************************************************/


.claro .dijitButton .dijitButtonNode {
	background-color: #C0C0C0;
	border: 1px solid #B0B0B0;
	color: #333333;
	font-weight: bold;
	
	background: linear-gradient(top, #fefefe, #cdcdcc); /* Proposed W3C Markup */
	background: -moz-linear-gradient(top, #fefefe, #cdcdcc); /* Mozilla Firefox *
	background: -o-linear-gradient(top, #fefefe, #cdcdcc); /* Opera */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FEFEFE), color-stop(1, #cdcdcc)); /* Webkit (Safari/Chrome 10) */
	background: -webkit-linear-gradient(top, #fefefe, #cdcdcc); /* Webkit (Chrome 11+) */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe', EndColorStr='#cdcdcc'); /* IE6,IE7,IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe', EndColorStr='#cdcdcc')"; /* IE9 *
	background: -ms-linear-gradient(top, #fefefe, #cdcdcc); /* IE10 */
}


.claro .dijitButtonHover .dijitButtonNode {
	background: linear-gradient(top, #cdcdcc, #fefefe); /* Proposed W3C Markup */	
	background: -moz-linear-gradient(top, #cdcdcc, #fefefe); /* Mozilla Firefox */	
	background: -o-linear-gradient(top, #cdcdcc, #fefefe); /* Opera */	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cdcdcc), color-stop(1, #fefefe)); /* Webkit (Safari/Chrome 10) */
	background: -webkit-linear-gradient(top, #cdcdcc, #fefefe); /* Webkit (Chrome 11+) */	
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#cdcdcc', EndColorStr='#fefefe'); /* IE6,IE7,IE8 */	
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#cdcdcc', EndColorStr='#fefefe')"; /* IE9 */	
	background: -ms-linear-gradient(top, #cdcdcc, #FEFEFE); /* IE10 */
}

.claro .dijitButtonDisabled .dijitButtonNode {
	background-color: #000000;
	border: 1px solid #B0B0B0;
	color: #818181;

	background: linear-gradient(top, #fefefe, #e0e0e0); /* Proposed W3C Markup */	
	background: -moz-linear-gradient(top, #fefefe, #e0e0e0); /* Mozilla Firefox */	
	background: -o-linear-gradient(top, #fefefe, #e0e0e0); /* Opera */	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fefefe), color-stop(1, #e0e0e0)); /* Webkit (Safari/Chrome 10) */
	background: -webkit-linear-gradient(top, #fefefe, #e0e0e0); /* Webkit (Chrome 11+) */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe', EndColorStr='#e0e0e0'); /* IE6,IE7,IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe', EndColorStr='#e0e0e0')"; /* IE9 */
	background: -ms-linear-gradient(top, #fefefe, #e0e0e0); /* IE10 */
}

.claro .dijitButtonText {
  padding: 0.2em 0.4em 0 0.4em;
  text-align: center;
}


/**********************************************************************/
/* Icons &           Styles                                           */
/**********************************************************************/

.myLinksCategory { background-color: transparent !important; }
.save {  background-image: url("images/save_icon.png"); }
.saveclose { background-image: url("images/saveclose_icon.png"); }
.verify { background-image: url("images/verify_icon.png"); }
.route { background-image: url("images/route_icon.png"); }
.copy { background-image: url("images/copy_icon.png"); }
.preview { background-image: url("images/preview_icon.png"); }
.attachDocument { background-image: url("images/attach_document_icon.png"); }
.delete, .remove { background-image: url("images/delete_icon.png"); }
.close { background-image: url("images/close_icon.png"); }


.gridHeaderEdit { background-image: url("images/edit_default.png"); background-position: 0px 0px; }
.gridHeaderEdit:hover { background-image: url("images/edit_rollover.png"); background-position: 0px 0px; }

.searchHeaderRefresh { background-image: url("images/refresh_default.png"); background-position: 0px 0px; }
.searchHeaderRefresh:hover { background-image: url("images/refresh_rollover.png"); background-position: 0px 0px; }

.searchHeaderEdit {	background-image: url("images/edit_default.png"); background-position: 0px 0px; }
.searchHeaderEdit:hover { background-image: url("images/edit_rollover.png"); background-position: 0px 0px; }

.secondaryNavRefresh a { background-image: url("images/refresh_default.png"); background-position: 0px 0px; }
.secondaryNavRefresh a:hover { background-image: url("images/refresh_rollover.png"); background-position: 0px 0px; }

.secondaryNavEdit a {	background-image: url("images/edit_default.png"); background-position: 0px 0px; }
.secondaryNavEdit a:hover { background-image: url("images/edit_rollover.png"); background-position: 0px 0px; }

.secondaryNavHelp a { background-image: url("images/help_default.png"); background-position: 0px 0px; }
.secondaryNavHelp a:hover {	background-image: url("images/help_rollover.png"); background-position: 0px 0px; }

.myLinksEdit { background-image: url("images/edit_default.png"); background-position: 0px 0px; height: 24px; width: 24px; margin-top: -3px; }
.myLinksEdit:hover { background-image: url("images/edit_rollover.png"); background-position: 0px 0px; height: 24px; width: 24px; margin-top: -3px; }

/*Sandeep - ANZ Beanding change in 8.2 Code base 06/04/2013 - Start*/
.errorsAndWarnings {
	background-color: #FFFFFF;
}
.errorText {
	color: #980000;/*Dark Red*/
	background-image: url("images/error_alert_icon.png");
}
.warnText {
	color: #df7a00;/*West-coast Sunset*/
	background-image: url("images/warn_alert_icon.png");
}
/*Sandeep - ANZ Beanding change in 8.2 Code base 06/04/2013 - End*/
.infoText {	background-image: url("images/info_alert_icon.png"); }

.search { background-image: url("images/search_icon.png"); }
.copy { background-image: url("images/copy_icon.png"); }
.deactivate { background-image: url("images/deactivate_icon.png"); }
.preview { background-image: url("images/preview_icon.png"); }
.saveAs { background-image: url("images/saveAs_icon.png"); }
.send { background-image: url("images/send_to_bank_icon.png"); }
.saveDraft { background-image: url("images/savedraft_icon.png"); }
.saveDraftClose { background-image: url("images/savedraft_close_icon.png"); }
.reply { background-image: url("images/reply_to_bank_icon.png"); }
.edit { background-image: url("images/edit_icon.png"); }
.authorizeDelete { background-image: url("images/authorize_delete_icon.png"); }
.authorize { background-image: url("images/authorize_icon.png"); }
.attachDocument { background-image: url("images/attach_document_icon.png"); }
.deleteDocument { background-image: url("images/attach_document_icon.png"); }
.add { background-image: url("images/add_icon.png"); }
.verify { background-image: url("images/verify_icon.png"); }
.attach { background-image: url("images/attach_icon.png"); }
.route { background-image: url("images/route_icon.png"); }
.save { background-image: url("images/save_icon.png"); }
.saveclose { background-image: url("images/saveclose_icon.png"); }
.close { background-image: url("images/close_icon.png"); }
.download, .upload { background-image: url("images/download_icon.png"); }
.approve { background-image: url("images/approve_icon.png"); }
.deny { background-image: url("images/deny_icon.png"); }
.delete, .remove{ background-image: url("images/delete_icon.png"); }
.attachIcon a {	background-image: url("images/attach_icon.png"); }

/*cgi 2/1/2013 removed invalid messages folder open icons*/
/*cgi 2/1/2013 remove underline from messages links*/
.messagesFolderClosed a { text-decoration: none; }

.paginationFirst a { background-image: url("images/pagenation1_icon_default.png"); background-position: 0px 0px; }
.paginationFirst a:hover { background-image: url("images/pagenation1_icon_rollover.png"); background-position: 0px 0px; }
.paginationPrev a { background-image: url("images/pagenation2_icon_default.png"); background-position: 0px 0px; }
.paginationPrev a:hover { background-image: url("images/pagenation2_icon_rollover.png"); background-position: 0px 0px; }
.paginationNext a { background-image: url("images/pagenation3_icon_default.png"); background-position: 0px 0px; }
.paginationNext a:hover { background-image: url("images/pagenation3_icon_rollover.png"); background-position: 0px 0px; }
.paginationLast a { background-image: url("images/pagenation4_icon_default.png"); background-position: 0px 0px; }
.paginationLast a:hover { background-image: url("images/pagenation4_icon_rollover.png"); background-position: 0px 0px; }

/**********************************************************************/
/* Footer            Styles                                           */
/**********************************************************************/

.pageFooter .footerdivider
{
	width: 100%;
	height: 0px;
	display: block;
	border-top: 5px solid #057bbd;
	border-bottom: none;
}

.pageFooter .footercontent
{
	color: #333;
	font-size: 11px;
}

/*Sandeep/Pavani - ANZ Beanding change in 8.2 Code base 06/04/2013 - Start*/
.warningDialog .dijitDialogTitleBar {
	background-color: #fdc82f; /*Golden Shore */
}

.dijitTextBox {
	/* 50% transparency applied to ANZ given #6dfea color*/
	background-color: #e3f0f5 !important; 
}

.homeAnnounce {
	/* 50% transparency applied to ANZ given #6dfea color*/
	background-color: #e3f0f5;
}
	
.claro .dojoxGridRowOdd .dojoxGridRowTable tr {
	/* 50% transparency applied to ANZ given #6dfea color*/
	background-color: #e3f0f5;
}

.claro .dijitCheckBox, .claro .dijitCheckBoxIcon {
  background-image: url("images/checkboxRadioButtonStates.png");
}

.dj_ie6 .claro .dijitCheckBox, .dj_ie6 .claro .dijitCheckBoxIcon {
  background-image: url("images/checkboxAndRadioButtons_IE6.png");
  
}

.claro .dijitToggleButton .dijitRadio, .claro .dijitToggleButton .dijitRadioIcon {
  background-image: url("images/checkboxRadioButtonStates.png");
}
.dj_ie6 .claro .dijitToggleButton .dijitRadio, .dj_ie6 .claro .dijitToggleButton .dijitRadioIcon {
  background-image: url("images/checkboxAndRadioButtons_IE6.png");
}
.claro .dijitRadio, .claro .dijitRadioIcon {
  
  background-image: url("images/checkboxRadioButtonStates.png");
}

.claro .dijitCheckedMenuItemIcon {
  background-image: url("images/checkboxRadioButtonStates.png");
}

.claro .dijitCheckedMenuItemIcon {
  background-image: url("images/checkboxRadioButtonStates.png");
}
.dj_ie6 .claro .dijitCheckedMenuItemIcon {
  background-image: url("images/checkboxAndRadioButtons_IE6.png");
}

.csv a{
	background-image: url("images/csv_sprite.png");
}

.pdf a{
	background-image: url("images/pdf_sprite.png");
}
.pdf a:hover {
	background-position: 0px -31px;
}
.xls a{
	background-image: url("images/excel_sprite.png");
}
/*Sandeep/Pavani - ANZ Beanding change in 8.2 Code base 06/04/2013 - End*/
/*-----------------ANZ DGRID BRANDING --------------------------*/
.dgrid-row-odd {
	background-color: #e3f0f5;
}

.UploadInvoices_Authorize, .UploadInvoices_LAuthorize, .UploadInvoices_PAuthorize{
    float: right !important;
    position: relative;
    right: 200px;
    width: 0px;
}