/**********************************************************************/
/* Test style for validating stylesheet.                              */
/* All colors, including icon colors are inverted to ensure that      */
/* stylesheet is used on the page rather than hardcoding.             */
/**********************************************************************/
/*
 * NOTE: all references to external urls from within stylesheets
 * use a manual cache busting mechanism to force browsers to load
 * new content based on a changing url.  Each url has a 
 * parameter in the form of '?v1'.  When the content is changed
 * (i.e. a dependent stylesheet or image changes), the version
 * number should be manually changed to force cache busting to occur.
 * i.e. '?v1' would be updated to '?v2', etc.
*/

/*Import other style dependencies.*/
/*This will allow build system to create a single file to load.*/
/*First the dojo stylesheets for claro*/
/*cquinton 8/9/2012 Rel portal refresh start - make references relative*/
@import url("../../js/dijit/themes/claro/claro.css?v1");
@import url("../../js/dojox/grid/resources/Grid.css?v1");
@import url("../../js/dojox/grid/resources/claroGrid.css?v1");
/*cquinton 8/9/2012 Rel portal refresh end*/
/*Then the branding specific ones*/
@import url("portalicons.css?v1");



/* ------------------------- PAGE LAYOUT ---------------------------- */
html {
        /*always display the scrollbar so the page doesn't flicker left/right*/
	overflow-y: scroll;
}

body {
	font-family: "Comis Sans MS", cursive, sans-serif;
	font-weight: normal;
	background-color: #0f0f0f; 
	font: 11px cursive; /*default font for app*/
	margin: 0;
}

/*this class clears floats resetting subsequent html styling*/
clearit {
	display: block;
	content: '';
	clear: both;
}

.pageHeader {
	background-color: #0c0c0c; /*cgi light grey*/
	/*todo: add gradient*/
}

.pageHeader .pageContent {
}


.pageHeaderNavigation {
	background-color: #aaaaaa; /*cgi medium grey*/
	/*use menuHighlight instead of commonHighlight - less white at top*/
	/*cquinton 8/9/2012 Rel portal refresh start - make references relative*/
	background-image: url("../../js/dijit/themes/claro/images/menuHighlight.png?v1");
	/*cquinton 8/9/2012 Rel portal refresh end*/
	border-top: 1px solid #aaaaaa;
	border-bottom: 1px solid #aaaaaa;
}
/* for pages without navigation, provide ability to style differently */
.pageHeaderNavigationMinimal {
	background-color: #aaaaaa; /*cgi medium grey*/
	/*use menuHighlight instead of commonHighlight - less white at top*/
	/*cquinton 8/9/2012 Rel portal refresh start - make references relative*/
	background-image: url("../../js/dijit/themes/claro/images/menuHighlight.png?v1");
	/*cquinton 8/9/2012 Rel portal refresh end*/
	border-top: 1px solid #aaaaaa;
	border-bottom: 1px solid #aaaaaa;
}


.pageMainNoSidebar {
	/*initially hidden and then displayed on load
	 * to prevent flash of unstyled content*/
	visibility: hidden;
}
.loaded .pageMainNoSidebar {
	visibility: visible;
}
.pageMain {
	/*commented this out, allow footer to underlay the sidebar */
	/*min-height: 500px;*/ /* Fix footer overlapping sidebar */
	/*initially hidden and then displayed on load
	 * to prevent flash of unstyled content*/
	visibility: hidden;
}
.loaded .pageMain {
	visibility: visible;
}

.pageFooter {
}

.pageFooter .pageContent {
}

.pageContent {
/*	position: relative;*/
	*zoom: 1;
	margin: 0 auto; /*sitepen*/
	height: auto;
	width: 920px; /*sitepen*/
}

.headerContent {
	height: 70px;
	color: #cccccc;
	padding-top: 5px;
	padding-bottom: 5px;
}

.headerContentMinimal {
	height: 45px;
	color: #cccccc;
	padding-top: 5px;
	padding-bottom: 5px;
}
.headerNavigationContentMinimal {
	height:33px;
}

.headerLogo {
	background-image: url("images/cgi_logo.png?vInv1");
	background-repeat: no-repeat;
	height: 32px;
	width: 63px;
	display: inline;
	float: left;
}
.headerTitle {
	font-weight: bold;
	padding-top: 5px;
	padding-left: 25px;
	display: inline;
	float: left;
}
.headerBrandName {
	background-image: url("images/cgi_brand_name.gif?vInv1");
	background-repeat: no-repeat;
	height: 26px;
	width: 122px;
	/*center the image*/
	margin-left: auto;
	margin-right: auto;
}
.headerSubTitle {
	font-size: 12px;
	/*center the text*/
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.headerBehavior {
	float: right;
	display: inline;
}
.headerActions {
	display: block;
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 5px;
	*float: right;
}
.headerActions a {
	color:#cccccc;
	text-decoration:none;
}
.headerActions a:hover {
	color:#aaaaaa;
}
.headerSearch {
	display: block;
	float: right;
	font-size: 11px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.headerHome {
	padding-right: 5px;
	vertical-align: middle;
}
.headerActionDivider {
	width: 0px;
	height: 10px;
	border-left: 1px solid #cccccc;
	vertical-align: middle;
}
.headerMessages {
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: middle;
}
.headerMessages a {
	background-image: url("images/mail_icon.png?vInv1");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 14px;
	width: 20px;
	padding-left: 25px;
	vertical-align: middle;
}
.headerNotifications {
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: middle;
}
.headerNotifications a {
	background-image: url("images/bubble_icon.png?vInv1");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 14px;
	width: 16px;
	padding-left: 21px;
	vertical-align: middle;
}
.headerHelp {
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: middle;
}
.headerHelp a {
	background-image: url("images/question_icon.png?vInv1");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 15px;
	width: 12px;
	padding-left: 17px;
	vertical-align: middle;
}
.headerUserName {
	height: 20px;
	width: 20px;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: middle;
}
.headerLogout {
	padding-left: 5px;
	vertical-align: middle;
}
.headerLogout a {
	color: #000000; /*white*/
	background-image: url("images/logout_button.png?vInv1");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	padding: 3px 10px 3px 10px;
}
.headerLogout a:hover {
	color: #333333;
}

.headerSearch .searchItem {
	display: inline;
	vertical-align: middle;
}
.headerSearchButton {
	display: inline;
	vertical-align: middle;
}

.footerContent {
	color: #aaaaaa;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 45px;
	font-size: 10px;
	/*initially hidden and then displayed on load
	 * to prevent flash of unstyled content*/
	visibility: hidden;
}
.loaded .footerContent {
	visibility: visible;
}
.footerContentMinimal {
	height: 45px;
	/*initially hidden and then displayed on load
	 * to prevent flash of unstyled content*/
	visibility: hidden;
}
.loaded .footerContentMinimal {
	visibility: visible;
}

.footerDivider {
	width: 100%;
	height: 0px;
	display: block;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #000000;
}

.footerLoginInfo {
	float: left;
	padding-top: 10px;
}
.footerCopyright {
	float: right;
	padding-top: 10px;
}
.footerVersion {
	float: right;
	padding-top: 5px;
}



.formContentNoSidebar {
	background-color: #000000; /*white*/
	border: 1px solid #0c0c0c;
	padding: 10px;
	margin-bottom: 10px;
}
/*some content we want extra sized*/
.formContentNoSidebar.padded{
	padding: 30px;
}
/* if padded is included within, concat them*/
.formContentNoSidebar .padded{
	padding: 20px;
}


.formArea {
	float: left;       /*sitepen*/
	margin-right: 8px; /*sitepen*/
	width: 710px;      /*sitepen*/
	margin-bottom: 10px;
}

.formContent {
	background-color: #000000; /*white*/
	/*border-right: 1px solid gray;*/
}

.formContentNoBorder {
	background-color: #000000; /*white*/
	float: left;       /*sitepen*/
	margin-right: 8px; /*sitepen*/
	width: 710px;      /*sitepen*/
/* 	border-right: 1px solid gray; */
	margin-bottom: 10px;
}

.formContent .columnLeft {
	float: left;
	width: 49%;
	border-right: 1px solid gray;
}

.formContent .columnRight {
	float: right;
	width: 49%;
	padding-left: 8px;
}

.formContentNoBorder .columnLeftNoBorder {
	float: left;
	width: 49%;
/* 	border-right: 1px solid gray; */
}

.formContentNoBorder .columnRightNoBorder {
	float: right;
	width: 49%;
	padding-left: 8px;
}

/* ------------------------- MENU ---------------------------- */

.mmWrapper {
	font-size: 12px;
	font-weight: bold;
	/*pass through to navigation area content*/
	background-color: transparent;
	background-image: none;
	border-style: none;
	/*uncomment for height testing 
	/*height:33px;*/ /*total menu height should be 35px. 33+2 for border*/
}
.megaMenuBar, /*for pre-dojo*/
.mmWrapper .dijitMenuBar {
	font-size: 12px;
	
	/*pass through to navigation area content*/
	background-color: transparent;
	background-image: none;
	border-style: none;
	white-space: nowrap; /*menu bar should never wrap*/
	*padding-bottom: 1px; /*for ie need to fudge the bottom*/
}

/*set colors for all menu bar items*/
.megaMenuBarItem, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem {
	color: #000000;
	background-color: #dddddd;
	/*cquinton 8/9/2012 Rel portal refresh start - make references relative*/
	background-image: url("../../js/dijit/themes/claro/images/menuHighlight.png?v1");
	/*cquinton 8/9/2012 Rel portal refresh end*/
	background-position: 0px 1px; /*for firefox, push item below menubar top border*/
	*background-position: 0px 0px;
	margin: -1px;
	padding: 7px 10px 8px; /*needs to be a tad bigger than font size provided by default*/
	display: inline-block; /*reduces pre-dojo flicker*/
	*display: inline;
	position: relative;
	vertical-align: middle;
	text-align: left;
	border: 0 none;
}
.menuBarItemIcon {
	background-image: url("images/collapsible_icon.png?vInv1");
	background-repeat: no-repeat;
	background-position: 6px 6px;
	height: 6px;
	width: 12px;
	padding-left: 18px;
}

/*selected style*/
.megaMenuBarItem.mmMenuBarItemSelected, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem.mmMenuBarItemSelected {
	color: #cccccc;
	background-color: #8f8f8f;
	border: 1px solid #cccccc;
	padding: 6px 9px 7px;
}
/*hover style*/
.mmWrapper .dijitMenuPassive .dijitMenuItemHover,
.mmWrapper .dijitMenuPassive .dijitMenuItemSelected,
.mmWrapper .dijitMenuActive .dijitMenuItemSelected,
.mmWrapper .dijitMenuActive .dijitMenuItemHover {
	color: #cccccc;
	background-color: #8f8f8f;
	border: 1px solid #cccccc;
	padding: 6px 9px 7px;
}
/*ie doesn't work the same on sizing so do something special*/
.dj_ie .mmWrapper .dijitMenuPassive .dijitMenuItemHover,
.dj_ie .mmWrapper .dijitMenuPassive .dijitMenuItemSelected,
.dj_ie .mmWrapper .dijitMenuActive .dijitMenuItemSelected,
.dj_ie .mmWrapper .dijitMenuActive .dijitMenuItemHover {
	padding-top: 7px;
	padding-bottom: 7px;
	margin-top: -2px;
}

.myLinks {
	/*float: right;*/ /*keep this menu item at the right side of the menu bar*/
	/*todo: this does not work, floats below menu*/
}


/*the drop down styles*/
.mmDropdown {
	background-color: #8f8f8f;
	padding: 8px;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #333333;
	height: auto;
}
.mmContent {
	font-family: "Arial", Helvetica, sans-serif;
	font-size: 0.875em; /*~11pt=15px*/
	font-weight: normal;
	padding: 0;
	margin: 0;
	/*part1 one true layout: header divider width*/
	overflow: hidden;
}

/*menu items in the header*/
.mmHeaderItems {
	/*part2 one true layout: header divider width*/
	/*margin-right: -9999px;
	padding-right: 9999px;
	clear: both;*/
}

/*menu header divider*/
.mmHeaderDivider {
	height:0px;
	border-top:1px solid #333333;
	border-bottom:1px solid #000000;
	margin: 4px 0px 8px 0px ;
	/*part2 of one true layout: header divider width*/
	/*margin-right: -9999px;
	padding-right: 9999px;*/
}

/*main section*/
.mmMainSection {
	/*part2 of one true layout: header divider width*/
	/*margin-right: -9999px;
	 padding-right: 9999px;*/
	/*part1 of one true layout: menu column divider height*/
	overflow: hidden;
}
/*menu category headings*/
.mmCategory {
	text-transform: uppercase;
	white-space: nowrap; /*menu categories should never wrap*/
	padding: 0px 0px 8px 0px;
}
/*menu items in the main section*/
.mmMainItems {
	/*float: left;*/
	/*part2 of one true layout: menu column divider height*/
	/*margin-bottom: -9999px;
	padding-bottom: 9999px;*/
}
.mmContent ul {
	list-style:none;
	padding:0;
	margin:0;
	line-height:150%;
	/*part1 of one true layout: menu item divider width*/
	overflow: hidden;
}
.mmContent ul li {
	/*width:250px;*/ /*width can be set here to ensure common column width across all menus*/
	/*part2 of one true layout: menu item divider width*/
	/*margin-right: -9999px;
	padding-right: 9999px;*/
}
.mmContent ul li a {
	color:#cccccc;
	text-decoration:none;
	margin-right: 16px;
	white-space: nowrap; /*menu items should never wrap*/
}
.mmContent ul li a:hover {
	color:#333333;
}

/*menu divider*/
.mmDivider {
	height:0px;
	border-top:1px solid #333333;
	border-bottom:1px solid #000000;
	margin: 8px 0px;
	padding: 0px;
	/*part2 of one true layout: menu item divider width*/
	/*margin-right: -9999px;
	padding-right: 9999px;*/
}

/*menu column styles*/
/*we are currently using a table for menu column layout due to issues with internet explorer*/
.mmContent table {
	padding: 0;
	margin: 0;
	font: inherit;
}
.mmContent table tr {
	padding: 0;
	margin: 0;
	width: 100%;
	font: inherit;
}
.mmContent table td {
	padding: 0;
	margin: 0;
	height: 100%;
	vertical-align: top;
	font: inherit;
}
/*mmColumnAfter is set if there are additional categories after the current.
 * this is used to specify vertical divider*/
.mmContent table td.mmColumnAfter {
	border-right:1px dotted #333333;
	padding-right: 8px;
}
/*mmColumnBefore is set if there are categories before the current.
 * this is used to specify vertical divider*/
.mmContent table td.mmColumnBefore {
	padding-left: 8px;
}

/*menu column styles*/
/*display table should be used for table-like menu styles.
 * this is currently not in use becuase of issues with internet explorer*/
/*
.mmContent .mmTable {
display: table;
padding: 0;
margin: 0;
font: inherit;
}
.mmContent .mmTable .mmRow {
display: table-row;
padding: 0;
margin: 0;
width: 100%;
font: inherit;
}
.mmContent .mmTable .mmCell {
display: table-cell;
padding: 0;
margin: 0;
height: 100%;
vertical-align: top;
font: inherit;
}
.mmContent .mmTable .mmCell.mmColumnAfter {
border-right:1px dotted #333333;
padding-right: 8px;
}
.mmContent .mmTable .mmCell.mmColumnBefore {
padding-left: 8px;
}
*/


/*if desired, set specific menu columns a hard width*/
/*to do so would require adding an id to columns*/
/*todo*/



/* ------------------------- Secondary Navigation -------------------- */

.secondaryNav {
	/*background-color: #f0f0f0;*/
	font-weight: bold;
	color: #cccccc;
	margin: 5px 0 5px 0;
}
.secondaryNavTitle {
	font-size: 14px;
	text-transform: uppercase;
	float: left;
        /*put some margin here to allow
          images at right to be larger*/
	margin: 5px 0px 5px 0px;
}
.secondaryNavLink {
	display: inline;
	float: left;
	padding-left: 17px;
	margin: 6px 0px 5px 0px;
}
.secondaryNavLink.navLinkSelected {
	padding-left: 30px;
	background-image: url("images/sub_navigation_icon_selected.png?vInv1");
	background-position: 17px 3px;
	background-repeat: no-repeat;
	margin: 6px 0 5px 0px;
}
.secondaryNavLink a {
	color: #cccccc;
	padding-left: 13px;
	display: inline;
	text-decoration: none;
	background-image: url("images/sub_navigation_icon_default.png?vInv1");
	background-position: 0px 3px;
	background-repeat: no-repeat;
}
.secondaryNavLink a:hover {
	background-image: url("images/sub_navigation_icon_rollover.png?vInv1");
}
.secondaryNavItem {
	float: left;
	font-size: 14px;
	text-transform: uppercase;
	margin: 5px 0 5px 10px;
	float: left;
}
.secondaryNav-right {
	float: right;
        /*position a bit lower to center*/
	position: relative;
	top: 2px;
}
.secondaryNavRefresh {
}
.secondaryNavRefresh a {
	background-image: url("images/refresh_default.png?vInv1");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
	padding-left: 24px; /*this allows the image/link to display*/
	padding-bottom: 10px; /*this allows image/link to display fully*/
}
.secondaryNavRefresh a:hover {
	background-image: url("images/refresh_rollover.png?vInv1");
	background-position: 0px 1px;
}
.secondaryNavEdit {
}
.secondaryNavEdit a {
	background-image: url("images/edit_default.png?vInv1");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
	padding-left: 24px; /*this allows the image/link to display*/
	padding-bottom: 10px; /*this allows the image/link to display fully*/
	margin-left: 7px;
}
.secondaryNavEdit a:hover {
	background-image: url("images/edit_rollover.png?vInv1");
	background-position: 0px 1px;
}
.secondaryNavHelp {
	float: right; /*this is just in case pages just use this style, without secondaryNav-right*/
}
.secondaryNav-right .secondaryNavHelp {
	float: none; /*don't float if wrapper is already*/
}
.secondaryNavHelp a {
	background-image: url("images/help_default.png?vInv1");
	background-position: 0px 1px;
	background-repeat: no-repeat;
	height: 24;
	width: 24;
	padding-left: 24px; /*this allows the image/link to display*/
	padding-bottom: 10px; /*this allows the image/link to display fully*/
	margin-left: 7px;
}
.secondaryNavHelp a:hover {
	background-image: url("images/help_rollover.png?vInv1");
	background-position: 0px 1px;
}

/* ------------------------- Transaction SubHeader -------------------- */

.subHeaderDivider {
	width: 100%;
	height: 0px;
	display: block;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #000000;
}
.transactionSubHeader {
	font-size: 12px;
	font-weight: bold;
	color: #cccccc;
	padding: 10px 0px 10px 0px;
}
.transactionReturn {
	display: inline;
	float: right;
}
.transactionReturn a {
	color: #cccccc;
	padding-left: 13px;
	display: inline;
	text-decoration: none;
}
.transactionReturn a:hover {
	color:#aaaaaa;
}

/* ------------------------- ERROR SECTION --------------------------- */
.errorSection {
}
.errorsAndWarnings {
	background-color: #000310;
	color: #ffffff;
	border: 1px solid #0c0c0c; /*light grey*/
	padding: 10px;
	margin-bottom: 10px;
}
.infos {
	background-color: #090008;
	color: #e088d4;
	border: 1px solid #0c0c0c; /*light grey*/
	padding: 10px;
	margin-bottom: 10px;
}
.errorText {
	background-image: url("images/error_alert_icon.png?vInv1");
	background-repeat: no-repeat;
	padding-left: 28px;
	height: 15px;
	/*vertical-align: middle;*/
	margin-bottom: 3px;
}
.warnText {
	background-image: url("images/warn_alert_icon.png?vInv1");
	background-repeat: no-repeat;
	padding-left: 28px;
	height: 18px;
	/*vertical-align: middle;*/
}
.infoText {
	background-image: url("images/info_alert_icon.png?vInv1");
	background-repeat: no-repeat;
	padding-left: 28px;
	height: 15px;
	vertical-align: middle;
	margin-bottom: 3px;
}


/* ------------------------- DIALOGS --------------------------------- */
.claro .dijitDialogTitle {
	display: inline-block;
	padding: 5px;
	white-space: nowrap; /*menu bar should never wrap*/
	font-weight: bold;
	font-size: 12px;
}
.claro .dijitDialogTitleBar {
	height: 24px;
	border: none;
	/*cquinton 8/9/2012 Rel portal refresh start - make references relative*/
	background-image: url("../../js/dijit/themes/claro/images/menuHighlight.png?vInv1");
	/*cquinton 8/9/2012 Rel portal refresh end*/
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
.claro .dijitDialog {
	border: 1px solid #aaaaaa; /*medium grey*/
}
.claro .dijitDialogCloseIcon {
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 15px;
	width: 16px;
}
.claro .dijitDialogPaneContent {
	border-top: 1px solid #aaaaaa; /*medium grey*/
}

.nonCriticalDialog .dijitDialogTitleBar {
	background-color: #0c0c0c; /*light grey*/
}
.nonCriticalDialog .dijitDialogCloseIcon {
	background-image: url("images/dialog_close_default.png?vInv1");
}
.nonCriticalDialog .dijitDialogCloseIconHover {
	/*background-image: url("images/dialog_close_rollover.png?vInv1");*/
}

.criticalDialog .dijitDialogTitleBar {
	background-color: #0044c8; /*yellow*/
}
.criticalDialog .dijitDialogCloseIcon {
	/*a separate image is used for cancel on critical dialogs - color is slightly different*/
	background-image: url("images/criticalDialog_close_default.png?vInv1");
}
.criticalDialog .dijitDialogCloseIconHover {
	/*a separate image is used for cancel on critical dialogs - color is slightly different*/
	/*background-image: url("images/criticalDialog_close_rollover.png?vInv1");*/
}

/*this is the typical dialog content.
  provides a mid size width.
  height is auto determined.*/
.dialogContent {
	width: 500px;
}
/*some dialogs we want extra padded*/
.dialogContent.padded {
	padding: 15px 20px 20px 20px;
}

.dialogContent .instruction {
	padding-bottom: 20px;
}

/*make it full width of page*/
.dialogContent.fullwidth {
	width: 900px; /*+padding = 920*/
}

/*specific dialog styles*/


/* ------------------------- SIDEBAR --------------------------------- */

.formSidebar {
	background-color: #000000; /*white*/
	border: 1px solid #0c0c0c;
	/*float: left;*/
	float: right;
	width: 190px;
}

.formSidebarHeader {
	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px solid gray;
	margin: 0;
	padding: 5px 7px 5px; /* same as default for .claro .dijitTitlePaneTitle */
	
	/* Proposed W3C Markup */ 
	background: linear-gradient(top, #010101, #545455);    
	/* Mozilla Firefox */ 
	background: -moz-linear-gradient(top, #010101, #545455);     
	/* Opera */
	background: -o-linear-gradient(top, #010101, #545455);         
	/* Webkit (Safari/Chrome 10) */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #010101), color-stop(1, #545455));        
	/* Webkit (Chrome 11+) */ 
	background: -webkit-linear-gradient(top, #010101, #545455); 
	/* IE6,IE7,IE8 */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#010101', EndColorStr='#545455');         
	/* IE9 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#010101', EndColorStr='#545455')";        
	/* IE10 */
	background: -ms-linear-gradient(top, #010101, #545455);
}

.sidebarDivider {
	height:0px;
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #000000;
	margin: 8px;
	padding: 0px;
	}

.sidebarButtons {
	margin-left: 6px;
	padding-left: 0px;
}



/* ------------------------- COMMON PAGE STYLES --------------------------------- */

.instruction {
	font-size: 12px;
}

.sectionLinks, .navigationLinks {
	margin-left: 8px;
	padding-left: 0px;
}

.sectionLinks li {
	list-style: none;
	margin-left: 0px;
}

.sectionLinks a:link {color:#cccccc;}
.sectionLinks a:visited {color:#cccccc;}
.sectionLinks a:hover {color:#aaaaaa;} 



.navigationLinks li {
	list-style: none;
	margin-left: 0px;
}

.navigationLinks a:link {color:#cccccc;}
.navigationLinks a:visited {color:#cccccc;}
.navigationLinks a:hover {color:#aaaaaa;} 

.sidebarButtons li {
	list-style: none;
	padding-left: 0px;
	padding-bottom: 5px;
}

.sidebarButtons .dijitButtonNode {
	width: 165px;
	text-align: left;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.claro .dijitButton .dijitButtonNode {
	background-color2: #0c0c0c;
	border: 1px solid #999999;
	color: #cccccc;
	font-weight: bold;
	text-shadow2: 0 1px 1px white;
	
	/* Proposed W3C Markup */ 
	background: linear-gradient(top, #010101, #545455);    
	/* Mozilla Firefox */ 
	background: -moz-linear-gradient(top, #010101, #545455);     
	/* Opera */
	background: -o-linear-gradient(top, #010101, #545455);         
	/* Webkit (Safari/Chrome 10) */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #010101), color-stop(1, #545455));        
	/* Webkit (Chrome 11+) */ 
	background: -webkit-linear-gradient(top, #010101, #545455); 
	/* IE6,IE7,IE8 */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#010101', EndColorStr='#545455');         
	/* IE9 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#010101', EndColorStr='#545455')";        
	/* IE10 */
	background: -ms-linear-gradient(top, #010101, #545455);
}


.claro .dijitButtonHover .dijitButtonNode {
	/* Proposed W3C Markup */ 
	background: linear-gradient(top, #545455, #010101);    
	/* Mozilla Firefox */ 
	background: -moz-linear-gradient(top, #545455, #010101);     
	/* Opera */
	background: -o-linear-gradient(top, #545455, #010101);         
	/* Webkit (Safari/Chrome 10) */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #545455), color-stop(1, #010101));         
	/* Webkit (Chrome 11+) */ 
	background: -webkit-linear-gradient(top, #545455, #010101); 
	/* IE6,IE7,IE8 */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#545455', EndColorStr='#010101');          
	/* IE9 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#545455', EndColorStr='#010101')";         
	/* IE10 */
	background: -ms-linear-gradient(top, #545455, #010101);
}


.claro .dijitPaneTextNode {
    padding-top: 11px;
}


.formItem {
	margin-left: 20px;
	margin-bottom: 10px;
	margin-right: 0px;
}
.instruction.formItem {
	padding-bottom: 20px;
}


.depricated {
	background-color: orange;
}

.searchItem {
	margin-left: 0px;
	margin-bottom: 10px;
	margin-right: 20px; /*all margin on right*/
	display: inline-block;
	vertical-align: middle;
}

.searchItem label {
	display: inline-block;
	vertical-align: middle;
	max-width: 10em;
}


.formLine {
	margin-bottom: 5px;
}

.dijitCheckBox, .dijitRadio {
    padding-right: 3px;
}

label {
	font-weight: normal;
	color: #cccccc;
	li3ne-height: 11px;
	vertical-align: middle;
}

.subLabel {
	font-size: 11px;
	font-weight: normal;
	color: #cccccc;
	li3ne-height: 11px;
	vertical-align: middle;
}

.note {
	font-weight:normal;
	color: #888888;
	font-size: 11px;
	font-style:oblique;
	line-height: 12px;
	vertical-align: middle;
}
.formItem.required label {
	margin-left: -10px;
}

.formItem.express label {
	margin-left: -10px;
}

.formItem.express checkbox {
	margin-left: -10px;
}

/*Modified by Sandeep */
.formItem.readOnly label {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #cccccc;
	font: 14px arial;
}

/*Modified by Sandeep */
.formItem.readOnly {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #aaaaaa;
	font: 13px arial;
}


/* ------------------------- FIELD WIDTHS ---------------------------------- */
.char1,.char2,.char3,.char4,.char5 {
	width: 5em;
}

.char6,.char7,.char8,.char9,.char10 {
	width: 9em;
}

.char11,.char12,.char13,.char14,.char15 {
	width: 13em;
}

.char16,.char17,.char18,.char19,.char20 {
	width: 16em;
}

.char21,.char22,.char23,.char24,.char25 {
	width: 19em;
}

.char26,.char27,.char28,.char29,.char30 {
	width: 22em;
}

.char31,.char32,.char33,.char34,.char35 {
	width: 25em;
}

.formItem .dijitTextArea {
    width: 87%;
}


.formItem.currency .dijitTextBox {
	width: 4em;
}








.formItem {
	vertical-align: bottom;
}

.formItem.inline {
	float: left;
}

.formItem.newLine {
	float: left;
}

/* ----------------------- SUBSECTION HEADER ------------------------ */
.subsectionHeader, .subsectionWideHeader, .subsectionSHortHeader{
	height: 40px;
}

.subsectionHeader h3, .subsectionWideHeader h3, .subsectionShortHeader h3{
	margin-bottom: 5px;
	margin-left: 10px;
	color: #ffffff;
	font: bold 12px arial;
	text-shadow: 0 1px 1px white;
	line-height: 20px;
	padding-left: 5px;
	border: 1px solid #777777;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
	
	/* Proposed W3C Markup */ 
	background: linear-gradient(top, #010101, #545455);    
	/* Mozilla Firefox */ 
	background: -moz-linear-gradient(top, #010101, #545455);     
	/* Opera */
	background: -o-linear-gradient(top, #010101, #545455);         
	/* Webkit (Safari/Chrome 10) */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #010101), color-stop(1, #545455));        
	/* Webkit (Chrome 11+) */ 
	background: -webkit-linear-gradient(top, #010101, #545455); 
	/* IE6,IE7,IE8 */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#010101', EndColorStr='#545455');         
	/* IE9 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#010101', EndColorStr='#545455')";        
	/* IE10 */
	background: -ms-linear-gradient(top, #010101, #545455);
}

.subsectionHeader h3 {
	width: 280px;
}

.subsectionWideHeader h3 {
	width: 95%;
}

.subsectionShortHeader h3 {
	width: 250px;
}

.subsectionHeader.required h3, .subsectionShortHeader.required h3 {
	margin-left: 5px;
}

.searchButton {
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
	margin-left: 4px;
	padding-top: 5px;
}

.asterisk {
	color: #ED1C24;
	font-size: 14px;
}

/* -------------------------  PANE ---------------------------- */
.claro .dijitTitlePane .dijitTitlePaneTextNode {
	color: black;
	font: bold 11px Arial;
	vertical-align: middle;
}

.claro .dijitTitlePaneTitle {
	background-color: #0c0c0c;
	border: 1px solid #5b5449;
	/*min-height: 30px;*/
}

.claro .dijitTitlePaneTitleHover {
	background-color: #101010;
	border: 1px solid #5b5449;
}

.dijitTitlePaneTitle .dijitArrowNode {
	float: right;
	margin-top: 6px;
}

.dijitTitlePaneContentInner:after {
		display: block;
		content: '';
		clear: both;
}

.dijitTitlePaneContentInner {
	*zoom: 1;	
}


/* ------------------------ FIELD LABELS ---------------------------- */


.formItem.required label:before {
	color: #12e4db;
	content: '*';
	font-size: 14px;
	padding-right: 5px;
}

.formItem.express label:before {
	color: #cccccc;
	content: '#';
	font-size: 11px;
	padding-right: 4px;
}

.formItem.express dijitCheckBox:before {
	color: #cccccc;
	content: '#';
	font-size: 11px;
	padding-right: 4px;
}

.formItem.required label {
	*zoom: expression(this.el ||( this.runtimeStyle.zoom = "normal",
		this.insertBefore ( this.el = document.createElement ( "span"),
		this.firstChild ).style.cssText="color:pink font-size:14px",
		el.innerHTML="*" ) );
}

.formItem.express label {
	*zoom: expression(this.el ||( this.runtimeStyle.zoom = "normal",
		this.insertBefore ( this.el = document.createElement ( "span"),
		this.firstChild ).style.cssText="color:orange font-size:14px",
		el.innerHTML="#" ) );
}





/*BEGIN - For table containers - added by Pavani  */
.formDocumentsTable {
	border-spacing: 0;
	*zoom: expression(this.runtimeStyle.zoom = "normal", this.cellSpacing = 0);
	width: 100%;
}

.formDocumentsTable td,.formDocumentsTable th {
	border-style: solid;
	border-width: 0 1px 1px;
	padding: 0.3em 0.5em;
}

.formDocumentsTable tfoot td {
	border-bottom: 0 none;
}

.formDocumentsTable th {
	border-top-width: 1px;
	background-color: #292929;
}

.formDocumentsTable tbody tr {
/*	background-color: #f5f5f5;*/
}

.formDocumentsTable tbody td {
	border-right-color: #494949;
}

.formDocumentsTable thead th {
	border-right-color: #646464;
}

.formDocumentsTable td,.formDocumentsTable th {
	border-color: #646464;
	border-left-color: #000000;
}

/*END - For table containers - added by Pavani  */

/* Admin Table Begins */

.formAdminTable {
border-spacing: 0;
*zoom: expression(this.runtimeStyle.zoom = "normal", this.cellSpacing = 0);
width: 95%;
border-width: 1px;
border-style:solid;
margin:10px;
margin-left:20px;
}

.formAdminTable td,.formAdminTable th {
border-style: solid;
border-width: 0.5px 1px 1px 1px;
border-left: 1px;
padding: 0.3em 0.5em;
font-weight: bold;
}

.formAdminTable tbody tr {
/*background-color: #0a0a0a;*/
}

.formAdminTable tbody td {
border-right-color: #494949;
}
.formAdminTableCenter{
text-align:center;
}
.formAdminSubMenu{
text-align:left;
font-weight: bold;
background-color: #1f1f1f;
}
.formAdminTable th {
background-color: #6f6f6f;
font-weight: bold;
outline-width:thin;
border:1px solid gray;
}
.formAdminTable td{
border-color: #353535;
}

/* Admin Table Ends */

/* Panel Authorisation Table Begins */


.formPanelAuthMainTable{
border-spacing: 0;
*zoom: expression(this.runtimeStyle.zoom = "normal", this.cellSpacing = 0);
width: 100%;
border-width: .2px;
border-style:solid;
}
.formPanelAuthMainTable td,.formPanelAuthMainTable th {

}

.formPanelAuthMainTable tbody tr {

}

.formPanelAuthMainTable tbody td {
/* border-color: #b7b7b7; */
}

/* abcd */
.formPanelAuthTable {
border-spacing: 0;
*zoom: expression(this.runtimeStyle.zoom = "normal", this.cellSpacing = 0);
width: 90%;
border-color:#494949;
border-width: .2px;
border-style:solid;
padding:10px;
margin:10px;
}

.formPanelAuthTable td,.formPanelAuthTable th {

border-width: 1px;
border-style:solid;
font-weight: bold;
}

.formPanelAuthTable tbody tr {
	border-width: 1px;
border-style:solid;
}

.formPanelAuthTable tbody td {
border-color: #494949;
}
.formPanelAuthTableCenter{
text-align:center;
}
.formAdminSubMenu{
text-align:left;
font-weight: bold;
background-color: #1f1f1f;
}
.formPanelAuthTable th {
background-color: #6f6f6f;
font-weight: bold;
outline-width:thin;
border:1px solid gray;
}
.formPanelAuthTable td{
border-color: #646464;
}
/* KOMAL Panel Authorisation Table Ends */

/* KOMAL Amount Range Table Begins */

.formAmtRangeTable {
border-spacing: 0;
*zoom: expression(this.runtimeStyle.zoom = "normal", this.cellSpacing = 0);
border-width: 1px;
border-style:solid;
margin:10px;
margin-left:25px;
}

.formAmtRangeTable td,.formAmtRangeTable th {
border-style: solid;
border-width: 0.5px 1px 1px 1px;
border-left: 1px;
padding: 0.3em 0.5em;
font-weight: bold;
}

.formAmtRangeTable tbody tr {
border-width: 1px;
border-style: solid;
}

.formAmtRangeTable tbody td {
border-right-color: #595959;
}

/*BEGIN - For Page Header - added by Pavani */
.page-header {
	list-style: none;
	margin: 30px auto 0px auto;
	width: 920px;
	height: 35px;
	padding-top: 5px;
	background: #2d2d2d;
	border: 1px solid #000000;
}

.page-header .inline-title {
	display: inline;
	margin: 1px;
	background: #2d2d2d;
}

.page-header .inline-link {
	display: inline;
	margin: 1px;
}

.page-header .inline-button {
	float: right;
	font-weight: bolder;

	/*vertical-align: middle;
		     padding-bottom: 10px; */
}

.title-left {
	right: 50%;
	float: left;
}

.title-right {
	float: right;
	padding-right: 5px;
}
/*END - For Page Header - added by Pavani */


/* ------------------------- DATA GRIDS  ---------------------------- */

.gridHeader {
	margin-bottom: 10px;
}
.gridHeaderTitle {
	color: #cccccc;
	font-size: 12px;
	font-weight: bold;
}
.gridHeaderTitle a {
	color: #cccccc;
	text-decoration:none;
}

.gridHeaderShowCounts {
	color: #cccccc;
	font-size: 11px;
	padding-left: 20px;
	display: inline;
}
.gridHeaderShowCountItem {
	cursor: pointer;
	text-decoration: underline;
}
.gridHeaderShowCountItem.selected {
	cursor: auto;
	text-decoration: none;
}
.gridHeaderShowCountItem:hover {
	color: #aaaaaa;
}

.gridHeaderShowCounts a {
	color: #cccccc;
}
.gridHeaderShowCounts a:hover {
	color: #aaaaaa;
}

.claro .dojoxGridMasterHeader {
	background: url("images/header.png?vInv1") #0c0c0c repeat-x bottom;
	background: -moz-linear-gradient(top, #010101, #545455);
	background: -webkit-gradient(linear, left top, left bottom, from(#010101), to(#545455));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF010101, endColorstr=#FF545455);
}
.claro .dojoxGridHeader .dojoxGridCellOver {
	background: #0c0c0c;
}
.claro .dojoxGridCellOver .dojoxGridSortNode {
	background-color: #0c0c0c;
}
.claro .dojoxGridRowSelected .dojoxGridCell {
	background:url("images/row_back.png?vInv1") #fffcef repeat-x;
	border-top:1px solid #fffcef;
	border-bottom:1px solid #fffcef;
}
.claro .dojoxGridRowbarOver .dojoxGridRowbarTable {
	background-color: #000000;
}
.claro .dojoxGridRowOver .dojoxGridCell {
	background:url("images/row_back.png?vInv1") #fffcef repeat-x;
	border-top:1px solid #000310;
	border-bottom:1px solid #000310;
}
.dj_ie6 .claro .dojoxGridRowOver .dojoxGridCell,
.dj_ie7 .claro .dojoxGridRowOver .dojoxGridCell {
	border-left:1px solid #000310;
	border-right:1px solid #000310;
}
.claro .dojoxGridRowOdd .dojoxGridRowTable tr {
	background-color: #000000;
}
.claro .dojoxGridCell {
	border:1px solid transparent;
	border-color: transparent transparent transparent transparent;
}
.claro .dojoxGridCellFocus {
	outline: none;
	border: 1px solid transparent !important;
}
.claro .dojoxGrid {
	color:#cccccc;
}
.claro .dojoxGrid a {
	color:#cccccc;
}
.claro .dojoxGrid a:hover {
	color: #aaaaaa;
}

/*provide default styles for form type grid*/
.claro .formContent .dojoxGrid,
.claro .formContentNoSidebar .dojoxGrid {
	height: 500px;
}
/*provide default styles for dialog type grid*/
.claro .dialogContent .dojoxGrid {
	height: 300px;
}

.gridFooter {
	height: 30px;
	padding: 5px 25px;
	background-color: #0f0f0f;
	font-size: 11px;
}

/* added by sandeep */
.gridFilter { /* Usefull for grid header */
	font-size: 11px;
	/* the grid filter is suppose to be white.
           it will inherit value of the formContent.
        background-color: #191919; */ /* light grey */
}

.gridFooterAction {
	padding-right: 10px;
}

.gridSelectedCount {
	display: inline;
	vertical-align: middle;
}

.gridTotalCount {
	display: inline;
	float: right;
	padding: 7px 0px;
}

.gridColumnRight {
	text-align: right;
}

.gridColumnCenter {
	text-align: center;
}


/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */

/* ------------------------- HOME PAGE   ---------------------------- */
#homeAnnounce {
	border: 1px solid #cccccc;
	background-color: #000310;
	background-image: url("images/announcement_icon.png?vInv1");
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding: 10px 10px 10px 36px;
	margin-bottom: 10px;
	color: #cccccc; /*should generalize*/
	/*force word breaks to help with sizing this thing*/
	word-wrap: break-word;
}
#homeAnnounceLabel {
	float: left;
	font-weight: bold;
	display: inline;
}
#homeAnnounceText {
	float: left;
	display: inline;
}
#homeAnnounce a {
	display: inline;
	float: right;
	text-decoration: underline; /*should generalize*/
}
#homeAnnounce a:hover {
	color: #aaaaaa; /*should generalize*/
}

/*default grid heights*/
#homeMailGrid {
	height: 200px;
}
#homeNotifGrid {
	height: 200px;
}
#homeAllTranGrid {
	height: 200px;
}
#homeRcvTranGrid {
	height: 200px;
}
#homeAcctGrid {
	height: 200px;
}
#homeAnnounceGrid {
	height: 200px;
}
#homeLockedUserGrid {
	height: 200px;
}



/*ctq not used currently
.gridShow5 {
	height: 200px;
}
.gridShow10 {
	height: 400px;
}
.gridShow20 {
	height: 800px;
}
*/

/* ------------------------- ANNOUNCEMENT DIALOG   ---------------------------- */
.announceTitle {
	font-weight: bold;
	margin-bottom: 10px;
}
.announceText:not(:last-child) {
	margin-bottom: 15px;
}
.announceTitle.critical {
	background-image: url("images/warn_alert_icon.png?vInv1");
	background-repeat: no-repeat;
	padding-left: 35px;
	height: 18px;
	vertical-align: middle;
}
.announceText.critical {
	padding-left: 35px;
}
.announceTitle.criticalExists {
	padding-left: 35px;
}
.announceText.criticalExists {
	padding-left: 35px;
}


/* ------------------------- OTHER SPECIFIC DIALOG WIDTHS ---------------------------- */
#bankBranchSelectorDialogContent {
	width: 360px;
}


/* ------------------------- ADD OTHER SPECIFIC PAGE STYLES HERE ---------------------------- */


/*BEGIN - Reference data able containers - added by Jagan  */
.formRfTable {
                border-spacing: 0;
                *zoom: expression(this.runtimeStyle.zoom = "normal", this.cellSpacing = 0);
                width: 100%;
                border-width: 1px 1px 1px 0.5px;
}

.formRfTable td,.formRfTable th {
                border-style: solid;
                border-width: 0.5px 1px 1px 1px;
                border-left: 1px;
                padding: 0.3em 0.5em;
}
.formRfTable tbody tr {
                /*background-color: #f5f5f5;*/
}

.formRfTable tbody td {
                border-right-color: #595959;
}


.formRfTable  th {
                background-color: #0b0b0b;
}
.formRfTable td,.formRfTable th {
                border-color: #646464;
}
.scrollableTable 
{
width:700px;
min-height:50px;
max-height:800px;
overflow:scroll;
border-bottom: 1px solid black;
}
.scrollableArea {
width:700px;
min-height:50px;
max-height:200px;
overflow-y:scroll;
}
/*END - Reference data able containers  - added by Jagan  */
