

/* version 1.5 -  Mar 8, 2016 */

/***********************************************************************/
/* Extend this style from default CGI style by importing it.           */
/* With this approach, defect fixes and updates in CGI default         */
/* style is applied to the extended styls with out much changes.       */
/***********************************************************************/

@import url("../default/portalstyle.css?v1");
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300);

/***********************************************************************/
/* Overwrite CGI default styles or add new styles below that are       */
/* specific to this style.                                             */
/***********************************************************************/

/* ----------------------------------------------------------------- */


body {
	background-color: #FFFFFF; /* white background */
	font-family: 'Source Sans Pro', verdana, sans-serif; /* added */
}



/* ------------------------- PAGE LAYOUT ---------------------------- */

/* --- Master Header --- */
.pageHeader {
	background-color: #FFFFFF; /* white background */
}

/* --- Header Navigation --- */

/* background */
.pageHeaderNavigationBackground {
	background-color: #F1F1F1; /* added */
	/* background-image: url("../../js/dijit/themes/claro/images/menuHighlight.png?v1"); disabled */
	background-image: none; /* added */
	border-top: 1px solid #E6E6E6; /* added */
	border-bottom: 1px solid #FFC12E; /* added */
	height: 31px;
	/* height: 37px; from bbt.com */
}



/* ------------------------- Master Header Content ---------------------------- */
.headerContent,
.headerContentMinimal {
	background-color: #FFFFFF;
	background: none;
}

.headerContent,
.headerContentMinimal {
	padding-top: 0; /* added */
	padding-bottom: 0; /* added */
	margin-bottom: 10px;
}

.headerContentMinimal {
	height: 60px;
}

.headerLogo {
  /* background-image: url("images/bbtlogo.jpg?v1"); */
  background-image: url("images/logo.jpg?v1");
	width: 62px;
	height: 62px; /* added */
	margin-top: 0px; /* added */
}

.headerBrandName {
	background-image: none;
	margin-top: 17px;
}
.headerBrandName span {
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
	padding-left: 4px;
	padding-top: 2px;
	width: 122px;
}

.parentSubTitle { /* added */
	color: #7A7A7A; /* added */
	font-weight: normal;
	font-size: 18px; /* added */
	margin-top: 3px; /* added - aligns .parentSubTitle with .headerBrandName */
	margin-left: -10px; /* added - brings the subtitle in closer to the brandname */
}
.headerBehavior a {
	color: #2b96dc; /* modified - changed to blue */
  transition: color .3s ease;
}
.headerBehavior a:hover { /* added */
	color: #1e699a; /* added */
  text-decoration: none !important; /* added */
}
.headerMessages a {
	background-image: url("images/mail_icon.png?v1");
	background-position: 0 25%; /* added */
	padding-left: 20px; /* added */
}

.headerNotifications a {
	background-image: url("images/bubble_icon.png?v1");
	background-size: 20px; /* added */
	background-position: 0 50%; /* added */
	padding: 5px; /* added */
	padding-left: 25px; /* added */
}

.headerHelp a { /* added */
	background-image: url('images/question_icon.png'); /* added */
	padding-left: 20px; /* added */
}

/*.headerHelp a:hover { // removed - hover unnecessary
	background-image: inherit;
}*/

.headerLogout a {
	color: #FFFFFF; /*white*/
	/*background-image: url("images/logout_button.png?v1");*/
	background-image: none; /* added */
	background-color: #990033; /* added */
	font-size: 11px; /* added */
	padding: 4px; /* added */
	border-radius: 4px; /* added */
	transition: background-color .3s ease;
}
.headerLogout a:hover {
	color: white; /* added */
	text-decoration: none !important; /* added */
	background-color: #70061E; /* added */
}


/* ------------------------- Master Footer Content ---------------------------- */
.footerContent {
	color: #00649F;
}

/* -------------------------  Form Content ---------------------------- */
.formContent .columnLeft {
	border-right:1px solid #DBDBDB; /* added */
}

.formContentNoSidebar {
  border-radius: 4px; /* added */
  border: 1px solid #DBDBDB; /* added */
}

/*.searchButton a {
	/*background-image: url('images/search_icon.png?v1');*/ /* added */
	/*width: 25px; /* added */
	/*height: 25px;/* added 
	/*margin-left: -30px;*/
	/*margin-top: 5px; /* added - aligns search icon more appropriately */
/*}*/

/* ------------------------- MENU ---------------------------- */

.mmWrapper { /* added */
  padding-top: 0; /* added */
}

/*set colors for all menu bar items*/
.megaMenuBarItem, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem {
	color: #444444; /* added */
	font-size: 12px; /* added */
	font-weight: normal; /* added */
	background-color: #F1F1F1; /* added */
	background-image: none; /* added - disables gradient overlay */
}

.pageHeaderNavigationBackground { /* added */
	border-top: 1px solid white; /* added - replaces gray border with white border so that hover effect works appropriately */
	height: 31px;
}

.megaMenuBarItem,
.megaMenuBarItem,
.mmWrapper .dijitMenuBar .dijitMenuItem,
.mmWrapper .dijitMenuBar .dijitMenuItem,
.mmWrapper .dijitMenuBar .dijitMenuItem { /* added */
  border-bottom: 1px solid transparent; /* added */
	border-left: 1px solid transparent; /* added - used to prevent displacement of layout on hover */
	border-right: 1px solid transparent; /* added - used to prevent displacement of layout on hover */
  margin-top: -1px; /* added - fixes issue where a 1px border is constantly visible */
}

.megaMenuBarItem:hover,
.megaMenuBarItem:active,
.mmWrapper .dijitMenuBar .dijitMenuItem:hover,
.mmWrapper .dijitMenuBar .dijitMenuItem:active,
.mmWrapper .dijitMenuBar .dijitMenuItem:focus { /* added */
	color: #990033; /* added */
	background: white; /* added */
  border-bottom: 1px solid white; /* added */
	border-left: 1px solid #E6E6E6; /* added */
	border-right: 1px solid #E6E6E6; /* added */
}

.mmWrapper .dijitMenuBar .dijitMenuItem:focus,
.mmWrapper .dijitMenuBar:focus { /* added */
	outline-width: 0; /* added - disables outline on focus */
}

/*selected style*/
.megaMenuBarItem.mmMenuBarItemSelected, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem.mmMenuBarItemSelected,
/*hover style*/
.mmWrapper .dijitMenuPassive .dijitMenuItemHover,
.mmWrapper .dijitMenuPassive .dijitMenuItemSelected,
.mmWrapper .dijitMenuActive .dijitMenuItemSelected,
.mmWrapper .dijitMenuActive .dijitMenuItemHover {
	color: #990033;
	background-color: white;
	border-top: 1px none transparent;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
}

.dijitMenuItemFocused { /* added - fixes issue with content mis-aligning on hover */
  margin-top: 0 !important; /* added - fixes issue with content mis-aligning on hover */
  border-top: 0px solid transparent !important; /* added - fixes issue with content mis-aligning on hover */
}


.mmMenuBarItemSelected {
  border-left: 1px solid #E6E6E6 !important;
  border-right: 1px solid #E6E6E6 !important;
  border-top: 1px solid white !important; /* added - fixes issue where a 1px border is constantly visible */
  margin-top: -1px !important; /* added - fixes issue where a 1px border is constantly visible */
}

.menuBarItemIcon { /* added */
	background-image: url('images/collapsible_icon.png'); /* added */
	background-position: 0 0; /* added */
}

.myLinks:hover { /* added */
	color: white !important; /* added - used to override previous properties that create red text on hover */
	background: #7A7A7A;
}

/*the drop down styles*/
.mmDropdown {
	height: auto;
	border-width: 0px;
	background-color: white;
}

.claro .dijitPopup { /* added */
	box-shadow: 0px 0px 0px rgba(0,0,0,0); /* added */
	-webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0); /* added */
	-moz-box-shadow: 0px 0px 0px rgba(0,0,0,0); /* added */
	/* left: 235px !important; */
}

.dijitContentPanePopup { /* added */
	border: 1px solid transparent; /* added */
}

.claro .dijitContentPane { /* added */
	padding: 20px; /* added */
	width: 100%; /* added */
	border-bottom: 2px solid #FFC12E; /* added */
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
}

.mmHeaderDivider,
.mmDivider { /* added */
	border-bottom: 1px solid transparent !important; /* added */
}

.claro .dijitMenuBar {
	border: 1px solid transparent; /* added */
}

.mmCategory {
	color: #990033; /* added */
	margin-left: 12px; /* added - aligns with links below */
	font-size: 14px; /* added */
	text-transform: capitalize !important; /* added */
}

.mmContent table td.mmColumnAfter { /* added */
	border-right: 1px solid transparent; /* added */
}

.mmHeaderItems td ul li a,
.mmContent ul li a { /* added */
	color: #7A7A7A; /* added */
}

.headerUserName {
  font-weight: normal;
  text-decoration: underline;
}

.headerActions a:hover,
.headerUserName a:hover {
	text-decoration: underline;
}

.headerActionDivider,
.mmHeaderDivider,
.mmDivider { /* added */
	border-left: 1px solid transparent; /* added */
	border-bottom: 1px solid transparent; /* added */
	border-top: 1px solid transparent; /* added */
}

.mmContent ul li a {
	font-size: 12px; /* added */
	padding-left: 10px; /* added */
	padding-top: 3px; /* added */
	padding-bottom: 3px; /* added */
	line-height: 180%; /* added */
	border-left: 3px solid transparent; /* added */
}
.mmContent ul li a:hover {
	color: #990033; /* added */
	border-left: 3px solid #990033; /* added */
}

.myLinks, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem.myLinks {
	background-color: #7A7A7A !important; /* added */
  border-bottom: 2px solid #7A7A7A !important; /* added - fills in space between bottom of button and bottom of nav */
	transition: background-color .3s ease; /* added */
}

.myLinks:hover, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem.myLinks:hover { /* added */
	border: none;  /* added - disables unwanted leftward movement on hover */
	background-color: #535353 !important; /* added */
}

.myLinks span { /* added */
	background-image: url('images/my_links_icon.png?v1'); /* added */
	background-position: 0% 50%; /* added */
	background-size: 20%; /* added */
}

.myLinks span.myLinksDropdownIcon { /* added */
	background-image: none; /* added - disables dropdown arrow */
}

/* ------------------------- Secondary Navigation -------------------- */

.secondaryNav {
	color: #990033; /* added */
	margin: 10px; /* added */
	font-weight: normal;
}

.secondaryNavTitle,
.secondaryNavItem,
.secondaryNavTitleCamel { /* added */
	font-size: 18px; /* added */
}

.secondaryNavTitle,
.secondaryNavItem { /* added */
	text-transform: none; /* added */
}

.secondaryNavTitleCamel { /* added */
	text-transform: capitalize; /* added */
}

.secondaryNavLink,
.secondaryNavLink.navLinkSelected { /* added */
	margin: 12px; /* added */
}

.secondaryNavLink.navLinkSelected { /* added */
	background-image: none; /* added */
	color: #7A7A7A; /* added */
	text-decoration: underline; /* added */
}
.secondaryNavLink a { /* added */
	color: #7A7A7A; /* added */
	background-image: none; /* added */

}
.secondaryNavLink a:hover { /* added */
	background-image: none; /* added */
	color: #7A7A7A; /* added */
}


.secondaryNavRefresh a {
	background-image: url("images/refresh_default.png?v1");
	background-size: cover; /* added */
	width: 16px; /* added - slightly smaller than other icons but looks better than 18px */
	height: 16px; /* added */
}
.secondaryNavRefresh a:hover {
	background-image: url("images/refresh_default.png?v1"); /* modified - removed hover effect */
	background-position: 0 0; /* added - prevents icon from disappearing on hover */
}
.secondaryNavEdit a {
	background-image: url("images/edit_default.png?v1");
	background-size: cover;
	width: 18px; /* added */
	height: 18px; /* added */
}
.secondaryNavEdit a:hover {
	background-image: url("images/edit_default.png?v1"); /* modified - removed hover effect */
	background-position: 0 0; /* added - prevents icon from disappearing on hover */
}

.secondaryNavHelp a {
	background-image: url("images/help_default.png?v1");
	background-size: cover; /* added */
	width: 18px; /* added */
	height: 18px; /* added */
	margin-bottom: -1px; /* helps with alignment with other icons */
}

.secondaryNavHelp a:hover { /* added */
	background-position: 0 0; /* added - removes hover effect that causes icon to disappear */
}

.messagesAttachment a{
	text-decoration: none;
	background-image: url("images/attach_icon.png?v1");
}
.messagesAttachment a:hover {
	background-image: url("images/attach_icon.png?v1");
	background-position: 0 0; /* added - removes hover effect that causes icon to disappear */
}



/* ------------------------- Page SubHeader -------------------- */

.pageSubHeaderItem { /* added */
  font-size: 14px;
  font-weight: 400;
	padding: 8px 15px; /* added */
}

.pageSubHeader a {
	color: #00649F;
}
.pageSubHeader a:hover {
	color:#00649F;
}

/* ------------------------- Transaction SubHeader -------------------- */

/*the following are deprecated!!! use pageSubHeader items above*/
.transactionReturn {
	padding-right: 10px;
}
.transactionReturn a {
	color: #00649F;

}
.transactionReturn a:hover {
	color:#00649F;
}

/* ------------------------- ERROR SECTION --------------------------- */

.errorText {
	background-image: url("images/error_alert_icon.png?v1");
}
.warnText {
	background-image: url("images/warn_alert_icon.png?v1");
}
.infoText {
	background-image: url("images/info_alert_icon.png?v1");
}


/* ------------------------- DIALOGS --------------------------------- */

.nonCriticalDialog .dijitDialogCloseIcon {
	background-image: url("images/dialog_close_default_icon.png?v1");
	background-size: cover; /* added */
	margin: 5px; /* added */
}

.claro .dijitDialog { /* added */
  color: #414E59; /* added */
	border: 1px solid transparent; /* disables border */
  border: 1px solid #414E59;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0); /* added */
}

.claro .dijitDialogTitleBar { /* added */
	background-image: none; /* added - removed gradient */
	background: #414E59; /* added */
}

.claro .dijitDialogTitle { /* added */
	color: white; /* added */
  border-bottom: none; /* added */
  font-size: 16px;
  font-weight: 400;
}

.claro .dijitDialogPaneContent { /* added */
  border-top: 0; /* added */
  background: #f3f7ff; /* added */
}

.claro .dijitDialogUnderlay { /* added */
	opacity: .8; /* added */
}

/* ------------------------- SIDEBAR --------------------------------- */
 /*
.appFormSidebar.formSidebar { 
  margin-left: 25px;
}*/


/* REMOVED
.appFormSidebar.formSidebar { 
  float: right !important;
  position: fixed !important;
  right: 372px !important;
}*/


.formSidebarHeader { /* added */
	color: #333333; /* added */
}




/* ------------------------- COMMON ICON STYLES --------------------------------- */

/*individual icon styles*/
.search {
  background-image: url("images/search_icon.png?v1");
}

.copy {
  background-image: url("images/copy_icon.png?v1");
}

.deactivate {
  background-image: url("images/deactivate_icon.png?v1");
}

.preview {
  background-image: url("images/preview_icon.png?v1");
}

.saveAs {
  background-image: url("images/saveAs_icon.png?v1");
}

.send {
  background-image: url("images/send_to_bank_icon.png?v1");
}

.saveDraft {
  background-image: url("images/savedraft_icon.png?v1");
}

.saveDraftClose {
  background-image: url("images/savedraft_close_icon.png?v1");
}

.reply {
  background-image: url("images/reply_to_bank_icon.png?v1");
}

.edit {
  background-image: url("images/edit_icon.png?v1");
}

.authorizeDelete {
  background-image: url("images/authorize_delete_icon.png?v1");
}

.authorize {
  background-image: url("images/authorize_icon.png?v1");
}

.attachDocument {
  background-image: url("images/attach_document_icon.png?v1");
}

.deleteDocument {
  background-image: url("images/attach_document_icon.png?v1");
}

.add {
  background-image: url("images/add_icon.png?v1");
}

.verify {
  background-image: url("images/verify_icon.png?v1");
}

.attach {
  background-image: url("images/attach_icon.png?v1");
}

.route {
  background-image: url("images/route_icon.png?v1");
}

.save {
  background-image: url("images/save_icon.png?v1");
  background-size: 80%; /* added */
}

.saveclose {
  background-image: url("images/saveclose_icon.png?v1");
  background-size: 80%; /* added */
}

.close {
  background-image: url("images/close_icon.png?v1");
}

.download, .upload{
  background-image: url("images/download_icon.png?v1");
}

.approve {
  background-image: url("images/approve_icon.png?v1");
}

.deny {
  background-image: url("images/deny_icon.png?v1");
}

.delete, .remove{
  background-image: url("images/delete_icon.png?v1");
}

/*
.attachIcon{
} */

.attachIcon a{
	display: inline-block;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
}

.attachIcon a {
	background-image: url("images/attach_icon.png?v1");
}

/* ------------------------- COMMON PAGE STYLES --------------------------------- */

.sectionLinks a:link, .sectionLinks a:visited,
.navigationLinks a:link, .navigationLinks a:visited  {
	color: #2b96dc;
  transition: color .3s ease;
 }
.sectionLinks a:hover, .navigationLinks a:hover {
	color: #1e699a;
}

.claro .dijitButton .dijitButtonNode {
	background-color: #2b96dc; /* added */
	border: none; /* added */
	color: #FFFFFF;
	font: 11px arial; /* added */
	font-weight: normal; /* added */
	padding: 8px;
	background-image: none !important; /* added */
	text-align: center; /* added */
  cursor: pointer;
}

.sidebarButtons .dijitButtonNode { /* added */
	padding: 8px 4px !important; /* added */
}

.dijitReset.dijitInline.dijitButtonNode:hover { /* added */
	background-color: #1e699a; /* added */
}

.sidebarButtons > .dijitButton .dijitButtonNode,
.sidebarButtons > li .dijitButton  .dijitInline.dijitButtonNode{ /* added */
  background-color: #7A7A7A; /* added */
}

  .sidebarButtons > .dijitButton .dijitButtonNode:hover,
  .sidebarButtons > li .dijitButton .dijitInline.dijitButtonNode:hover { /* added */
    background-color: #535353; /* added */
  }

.dijitIcon { /* added */
	margin-right: 8px; /* added */
}

.claro .dijitButtonHover .dijitButtonNode {
	background-color: #2b96dc; /* added */
	border: none; /* added */
	color: #FFFFFF; /* added */
	font: 11px arial; /* added */
	font-weight: normal; /* added */
}

.dijitTextBox,
.dijitReset.dijitInputInner   {
	border: 1px solid #333333; /* added */
	 /*padding: 5px; added */
	 /*box-sizing: border-box; added */
	border-radius: 2px; /* added */
	/* background-color: #F7F7F7 !important; added */
}

.dijitTextBox.dijitTextArea { /* added */
	 /* padding: 5px;added */
	/*box-sizing: border-box;  added */
	max-width: 570px; /* added - makes <textarea> elements now overflow their containers and aligns them with other inputs within the same container */
}

.dijitTextBox.dijitTextArea:focus { /* added */
	outline-width: 0; /* added */
}

.claro .dijitComboBox .dijitButtonNode {
    background-color: #F7F7F7; /* added */
}

.dijitReset.dijitStretch.dijitButtonContents:focus { /* added */
	outline-width: 0; /* added - disables extraneous outline on focus */
}

.claro .dijitComboBox .dijitArrowButtonInner { /* added */
	background-image: url(images/commonFormArrows.png); /* added */
  background-position: 0 50%; /* added */
}

.dijitInputInner {
	background: #F7F7F7; /* added*/
}

.dijitReset.dijitInputField.dijitInputContainer { /* added */
	 /* background-color: #F7F7F7;added - removes the appearance of a border around the interior of the form field */
}

.claro .dijitTextBox .dijitValidationContainer { /* added */
	background-color: transparent; /* added */
	background-image: url(images/error.png); /* added */
	border-left-width: 0; /* added */
	width: 16px; /* added */
	background-size: 100%; /* added */
}

.checkBoxFormItem {
    margin-left: 14px;
    margin-bottom: 10px;
    margin-right: 0px;
}

.formItem.readOnly label {
	color: #333333;
}

.formItem.readOnly {
	color: #666666;
}

.formItem.required label:before,
.asterisk {
	color: #990033;
}



/* ------------------------- FIELD WIDTHS ---------------------------------- */



/* ----------------------- SUBSECTION HEADER ------------------------ */

.subsectionHeader h3, .subsectionWideHeader h3, .subsectionShortHeader h3{
	color: #990033; /* added */
	font-size: 13px; /* added */
	font-weight: 300; /* added */
	margin: 15px 0 0 15px; /* added */
	background-image: none; /* added */
	background-color: transparent; /* added */
	border-width: 0px; /* added */
	display: inline-block; /* added */
}

.subsectionWideHeader h3 {
	border-bottom:1px dotted #990033;
}

.subsectionWidestHeader {
	margin: 5px 0 0 5px; /* added */
}

.subsectionShortHeader.required h3 { /* added */
	margin-left: 10px; /* added - aligns required h3 elements flush left with form fields */
}

.subsectionWidestHeader h3 { /* added */
	border-width: 0; /* added */
	background-image: none; /* added */
	color: #990033; /* added */
	font-size: 13px;
	font-weight: normal;
}

/* -------------------------  PANE ---------------------------- */

.claro .dijitTitlePaneContentInner { /* added */
	padding: 10px 5px; /* added */
}

.claro .dijitTitlePaneContentOuter { /* added */
  border-radius: 0 0 4px 4px; /* added */
}

.claro .dijitTitlePaneTitle{
	background: #31383E; /* added */
	padding: 8px; /* added */
	border-width: 0px; /* added */
}

.claro .dijitTitlePaneTitleFocus:focus {
	outline-width: 0px; /* added - disabled outline on focus */
}

.claro .dijitTitlePane .dijitTitlePaneTextNode {
	color: white; /* added */
	font-weight: normal; /* added */
	font-size: 12px; /* added */
	letter-spacing: .5px; /* added */
}


/* ------------------------ FIELD LABELS ---------------------------- */

label {
	font-size: 12px; /* added */
	color: #535353; /* added */
	vertical-align: baseline; /* added */
}

/* ------------------------ Table Containers ---------------------------- */

.formDocumentsTable {
  margin-bottom: 10px;
}

.formDocumentsTable .tableSubHeader{
	background-color: #DBDBDB; /* added */
}

.formDocumentsTable th {
  border-width: 0; /* added - disables extraneous borders */
  border-right: 1px solid #7A7A7A; /* added - disables extraneous borders */
}


.formDocumentsTable thead th {
  background-color: #DBDBDB; /* added */
  font-weight: normal; /* added */
}

/* ------------------------ Admin Table ---------------------------- */



/* ------------------------ Page Header ---------------------------- */

/* ------------------------- DATA GRIDS  ---------------------------- */

.gridHeader {
	margin-bottom: 10px;
}
.gridHeader a {
    color: #444444; /* added */
}
.gridHeaderTitle {
	color: #444444; /* added */
}

.gridHeaderShowCounts {
	color: #7A7A7A;
}

.gridHeaderShowCountItem:hover {
	color: #E3F1FC;
}

.gridHeaderShowCounts a {
	color: #7A7A7A;
}
.gridHeaderShowCounts a:hover {
	color: #990033;
}

.gridHeaderEdit { /* added */
	background-image: url('images/edit_sprite.png?v1'); /* added */
	width: 25px; /* added */
	height: 25px; /* added */
}


.claro .dojoxGridMasterHeader {
	background: #F8F8F8; /* added - replaced linear-gradient */
}

.claro .dojoxGridCellOver .dojoxGridSortNode ,
.claro .dojoxGridHeader .dojoxGridCellOver {
	background: #E3F1FC;
}

.claro .dojoxGridRowSelected .dojoxGridCell {
	background: #C0C0C0 repeat-x;
	border-top:1px solid #C0C0C0;
	border-bottom:1px solid #C0C0C0;
}
.claro .dojoxGridRowbarOver .dojoxGridRowbarTable {
	background-color: #C0C0C0;
}
.claro .dojoxGridRowbarSelected{
	background-color: #C0C0C0;
}
.claro .dojoxGridRowOver .dojoxGridCell {
	background: #E6E6E6 repeat-x;
	border-top:1px solid #E6E6E6;
	border-bottom:1px solid #E6E6E6;
}

.claro .dojoxGridRowbarOver .dojoxGridRowbarTable {
  background-color: #E6E6E6; /* added */
  background-image: none; /* added */
}

.dj_ie6 .claro .dojoxGridRowOver .dojoxGridCell,
.dj_ie7 .claro .dojoxGridRowOver .dojoxGridCell {
	border-left:1px solid #E6E6E6;
	border-right:1px solid #E6E6E6;
}

.claro .dojoxGridRowOdd .dojoxGridRowTable tr {
	background-color: #F8F8F8; /* added */
	border: 1px solid #F8F8F8; /* added */
}

.claro .dojoxGridRowOdd,
.claro .dojoxGridRowOdd tr td.dojoxGridCell{ /* added - used to color every other row */
  background: #F6F6F6; /* added - used to color every other row */
}

.dojoxGridHeader:first-child .dojoxGridRowTable,
.claro .dojoxGridMasterHeader .dojoxGridRowTable { /* added - disables unusual white border (on the right) and grey border (on the left) poppuping up in table headers */
	border-right: 0px solid transparent; /* added */
	border-left: 0px solid transparent; /* added */
}

.claro .dojoxGrid a {
	color: #2b96dc; /* added */
  transition: color .3s ease; /* added */
}

.claro .dojoxGrid a:hover {
	color: #1e699a !important; /* added */
}

.gridFooter {
	color: #444444; /* added */
	background-color: #FFFFFF;
	padding: 10px; /* added */
}

.claro .dojoxGrid { /* added */
	border: 1px solid #D9D9D9 !important; /* added */
}

.claro .dojoxGridMasterHeader { /* added */
	border-bottom: 1px solid #D9D9D9 !important; /* added */
}

.dojoxGridCell { /* added */
	border-color: transparent !important; /* added - disables border between cells */
}

.dijitDownArrowNode {
  display: none !important;
}
/* ------------------------- CUSTOMIZATION PAGES  ---------------------------- */


.deleteSelectedItem {
	background-image: url("images/delete_icon.png?v1");
}
.deleteSelectedItem:hover {
	background-image: url("images/delete_icon.png?v1");
}



/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */


/* ------------------------- ANNOUNCEMENT DIALOG   ---------------------------- */


/* ------------------------- ADD OTHER SPECIFIC PAGE STYLES HERE ---------------------------- */

/* ------------------------- Reference data table containers ---------------------------- */


/* ------------------------ Panel Authorisation Table ---------------------------- */


/* ------------------------ Amount Range Table ---------------------------- */



/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */

/* ------------------------- HOME PAGE   ---------------------------- */
.homeAnnounce { /* replaced id with class */
  background-color: #fefbeb; /* added */
	background-image: url("images/announcement_icon.png?v1");
	color: #58480d; /* added */
	border: 1px solid #FFDF8C; /* added */
}

.homeAnnounce a { /* replaced id with class */
	color: #00649F;
}

.homeAnnounce textarea {
  color: #58480d !important; /* added */
	background: transparent !important; /* added */
}

/* ------------------------- OTHER SPECIFIC DIALOG WIDTHS ---------------------------- */
