/**********************************************************************/
/* Default3 style for validating stylesheet.                       */
/* All colors, including icon colors are inverted to ensure that      */
/* stylesheet is used on the page rather than hardcoding.             */
/**********************************************************************/
/*
 * NOTE: all references to external urls from within stylesheets
 * use a manual cache busting mechanism to force browsers to load
 * new content based on a changing url.  Each url has a 
 * parameter in the form of '?v1'.  When the content is changed
 * (i.e. a dependent stylesheet or image changes), the version
 * number should be manually changed to force cache busting to occur.
 * i.e. '?v1' would be updated to '?v2', etc.
*/

/***********************************************************************/
/* Extend this style from default CGI style by importing it.           */
/* With this approach, defect fixes and updates in CGI default         */
/* style is applied to the extended styls with out much changes.       */
/***********************************************************************/

@import url("../default/portalstyle.css?v1"); 

/***********************************************************************/
/* Overwrite CGI default styles or add new styles below that are       */
/* specific to this style.                                             */
/***********************************************************************/

/* ----------------------------------------------------------------- */


body {
	background-color: #FFFFFF; /* white background */
	font-size: 11px;
	font-family: Arial, "Helvetica Neue", Helvetica, "Trebuchet MS", "Trebuchet", sans-serif;
}



/* ------------------------- PAGE LAYOUT ---------------------------- */

/* --- Master Header --- */
.pageHeader {    
	background-color: #FFFFFF; /* white background */
}

/* --- Header Navigation --- */
.pageHeaderNavigationBackground {
	background-color: #FFFFFF; 
	background-image: none;
	border-top: none;
	border-bottom: none;
	height:none;
}



/* ------------------------- Master Header Content ---------------------------- */
.headerContent,
.headerContentMinimal {
	background-color: #FFFFFF;
	background: none;
}

.headerLogo {
	background-image: url("images/cgi_logo.png?v1");
	width: 80px;
}

.headerBrandName {
	background-image: none;
	margin-top: 17px;
}
.headerBrandName span {
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	padding-left: 4px;
	padding-top: 2px;
	width: 122px;
	*padding-top: 3px;
}
.headerBehavior a {
	color: #00649f;
	text_decoration :none;
}
.headerBehavior a:hover {
	color: #00649f;
	text-decoration: underline;
}
.headerMessages a {
	background-image: url("images/mail_icon.png?v1");
}

.headerNotifications a {
	background-image: url("images/bubble_icon.png?v1");
}

.headerHelp a:hover {
	background-image: url("images/question_icon_rollover.png?v1");
}

.headerLogout a {
	color: #00649f;
	/*background-image: url("images/logout_button.png?v1");*/
	background-image: none;
	background-color: none;
}
.headerLogout a:hover {
	color: none;
	text-decoration: underline;
	
}


/* ------------------------- Master Footer Content ---------------------------- */
.footerContent {
	color: #666666;
}

/* -------------------------  Form Content ---------------------------- */
.formContent .columnLeft {
	border-right: 1px solid #C0C0C0 ;
}

.formContentNoSidebar a{
	color: #1079c7;
	text-decoration: none;
}
.formContentNoSidebar a:hover{
	color: #1079c7;
	text-decoration: underline;
}

/* ------------------------- MENU ---------------------------- */

/*set colors for all menu bar items*/
.megaMenuBarItem, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem {
	background-color: #FFFFFF;
	padding:none;
	color: #00649f; 
}

/*selected style*/

.megaMenuBarItem.mmMenuBarItemSelected, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem.mmMenuBarItemSelected ,
.mmWrapper .dijitMenuPassive .dijitMenuItemHover,
.mmWrapper .dijitMenuPassive .dijitMenuItemSelected,
.mmWrapper .dijitMenuActive .dijitMenuItemSelected,
.mmWrapper .dijitMenuActive .dijitMenuItemHover {
	color: #00649f;
	background-color: none;
	border-top: 0px;
	border-right: 0px;
	border-bottom: 0px;
	border-left: 0px;
	padding: 7px 10px 8px; 
    margin: 0px;
}
/*the drop down styles*/
.mmDropdown {
	height: auto;
}

/*menu header divider*/
.mmHeaderDivider {
	border-bottom:1px solid #cccccc;
}

.mmContent ul li a {
	color: #00649f;

}
.mmContent ul li a:hover {
	color:#00649f;
}

/*menu divider*/
.mmDivider {
	border-bottom:1px solid #cccccc;
}

.myLinks, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem.myLinks {
	background-color: #00649f;
}
.myLinksCategory {
	background-color: #00649f;
}

/* ------------------------- Secondary Navigation -------------------- */

.secondaryNav {
	color: #00649f;
}
.secondaryNavLink.navLinkSelected {
	background-image: url("images/sub_navigation_icon_selected.png?v1");
	color: #333333;
}
.secondaryNavLink a {
	
	color: #00649f;
	
}
.secondaryNavLink a:hover {
	color: #00649f;
}


.secondaryNavRefresh a {
	background-image: url("images/refresh_default.png?v1");
}
.secondaryNavRefresh a:hover {
	background-image: url("images/refresh_default.png?v1");
    background-position: 0px -0px;
}
.secondaryNavEdit a { 
	background-image: url("images/edit_default.png?v1");
}
.secondaryNavEdit a:hover {
	background-image: url("images/edit_default.png?v1");
	background-position: 0px -0px;
}

.secondaryNavHelp a {
	background-image: url("images/help_default.png?v1");
}

.secondaryNavHelp a:hover {
	background-image: url("images/help_default.png?v1");
	background-position: 0px -0px;
}

.messagesAttachment a{
	text-decoration: none;
	background-image: url("images/attach_icon.png?v1");
}
.messagesAttachment a:hover {
	background-image: url("images/attach_icon.png?v1");
}



/* ------------------------- Page SubHeader -------------------- */

.pageSubHeader a {
	color: #cfe5fa;
}
.pageSubHeader a:hover {
	color:#cfe5fa;
}

/* ------------------------- Transaction SubHeader -------------------- */

/*the following are deprecated!!! use pageSubHeader items above*/
.transactionReturn {

	padding-right: 10px;
}
.transactionReturn a {
	color: #cfe5fa;

}
.transactionReturn a:hover {
	color:#cfe5fa;
}

/* ------------------------- ERROR SECTION --------------------------- */

.errorText {
	background-image: url("images/error_alert_icon.png?v1");
}
.warnText {
	background-image: url("images/warn_alert_icon.png?v1");
}
.infoText {
	background-image: url("images/info_alert_icon.png?v1");
}


/* ------------------------- DIALOGS --------------------------------- */

.nonCriticalDialog .dijitDialogCloseIcon {
	background-image: url("images/dialog_close_default_icon.png?v1");
}
.normalDialog .dijitDialogTitleBar {
	background-color: #cfe5fa; 
}
.claro .dijitDialogTitleBar {
	/*height: 24px; effecting ie7 back ground color*/
	border: none;
	background-image: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

/* ------------------------- SIDEBAR --------------------------------- */

.formSidebar {
	color: #FFFFFF
    background-color: #FFFFFF;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    float: right;
    width: 190px;
}
.sidebarDivider{
	border-top:1px solid #FFFFFF;
    border-top: 1px solid #A9A9A9;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
 
}

/* ------------------------- COMMON ICON STYLES --------------------------------- */



/* ------------------------- COMMON PAGE STYLES --------------------------------- */

.sectionLinks a:link, .sectionLinks a:visited,
.navigationLinks a:link, .navigationLinks a:visited  {
	color: #00649f;
 }
.sectionLinks a:hover, .navigationLinks a:hover {
	color: #00649f;
}

.claro .dijitButtonText:hover{
text-decoration: underline;
}


 

.claro .dijitButton .dijitButtonNode {
	border-radius: 0px;
	box-shadow: none;
	background-color: #cfe5fa;
	border: 0px solid #FEFFFF;
	color: #1b729f;
	font: 12px arial;	font-weight: bold;

	/* Proposed W3C Markup */ 
	background: linear-gradient(top, #FEFEFE, #FFFFFF);    
	/* Mozilla Firefox */ 
	background: -moz-linear-gradient(top, #FEFEFE, #FFFFFF);     
	/* Opera */
	background: -o-linear-gradient(top, #FEFEFE, #FFFFFF);         
	/* Webkit (Safari/Chrome 10) */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FEFEFE), color-stop(1, #FFFFFF));        
	/* Webkit (Chrome 11+) */ 
	background: -webkit-linear-gradient(top, #FEFEFE, #FFFFFF); 
	/* IE6,IE7,IE8 */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#FEFEFE', EndColorStr='#FFFFFF');         
	/* IE9 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FEFEFE', EndColorStr='#FFFFFF')";        
	/* IE10 */
	background: -ms-linear-gradient(top, #FEFEFE, #FFFFFF);
}


.claro .dijitButtonHover .dijitButtonNode {
	border-radius: 0px;
	background: linear-gradient(top, #FEFEFE, #FEFEFE);    
	/* Mozilla Firefox */ 
	background: -moz-linear-gradient(top, #FEFEFE, #FEFEFE);     
	/* Opera */
	background: -o-linear-gradient(top, #FEFEFE, #FEFEFE);         
	/* Webkit (Safari/Chrome 10) */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FEFEFE), color-stop(1, #FEFEFE));         
	/* Webkit (Chrome 11+) */ 
	background: -webkit-linear-gradient(top, #FEFEFE, #FEFEFE); 
	/* IE6,IE7,IE8 */
	filter:  none;        
	/* IE9 */
	-ms-filter: none;         
	/* IE10 */
	background: -ms-linear-gradient(top, #FEFEFE, #FEFEFE);
	
	
}

.claro .dijitButtonText:hover{
	text-decoration: underline;
}

.dijitTextBox   { 
	background-color: #FFFFFF !important;
}

.claro .dijitComboBox .dijitButtonNode {
    background-color: #E3F1FC;
}

.checkBoxFormItem {
    margin-left: 14px;
    margin-bottom: 10px;
    margin-right: 0px;
}

.formItem.readOnly label {
	color: #333333;
}

.formItem.readOnly {
	color: #666666;
}


/* ------------------------- FIELD WIDTHS ---------------------------------- */



/* ----------------------- SUBSECTION HEADER ------------------------ */

.subsectionHeader h3, .subsectionWideHeader h3, .subsectionShortHeader h3, .subsectionShortestHeader h3, .subsectionWiderHeader h3, .subsectionWidestHeader h3{
	margin-bottom: 5px;
	margin-left: 10px;
	color: none;
	font: bold 12px arial;
	line-height: 20px;
	padding-left: 5px;
	border: 1px solid #cfe5fa;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
	
	/* Proposed W3C Markup */
	background: linear-gradient(top, #cfe5fa, #cfe5fa);
	/* Mozilla Firefox */
	background: -moz-linear-gradient(top, #cfe5fa, #cfe5fa);
	/* Opera */
	background: -o-linear-gradient(top, #cfe5fa, #cfe5fa);
	/* Webkit (Safari/Chrome 10) */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cfe5fa), color-stop(1, #cfe5fa));
	/* Webkit (Chrome 11+) */
	background: -webkit-linear-gradient(top, #cfe5fa, #cfe5fa);
	/* IE6,IE7,IE8 */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#cfe5fa', EndColorStr='#cfe5fa');
	/* IE9 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#cfe5fa', EndColorStr='#cfe5fa')";
	/* IE10 */
	background: -ms-linear-gradient(top, #cfe5fa, #cfe5fa);
}

.subsectionWideHeader h3 {
	border-bottom:1px dotted #cfe5fa;
}

/* -------------------------  PANE ---------------------------- */

.claro .formSidebar .dijitTitlePaneTitle {
	border-bottom: none;
    border-left:  none ;
    border-right: none;
    border-top: none;
}

.claro .dijitTitlePane .dijitTitlePaneTextNode {
	color: #333333;
	font: bold 13px Arial;
	vertical-align: middle;
	border: 0px;
}

.claro .dijitTitlePaneTitleHover {
	background-color: #cfe5fa;
	border: 0px solid #C0C0C0;
}

.claro .dijitTitlePaneTitleOpen, .claro .dijitTitlePaneTitleFixedOpen {
    background-color: #cfe5fa;
 }

.claro .dijitTitlePaneTitle {
	background-image: none;
	background-color: #cfe5fa;
	border: 1px solid #FFFFFF;
	/*min-height: 30px;*/
}

.claro .dijitTitlePaneContentOuter {
	background: #ffffff;
    border: none;
    border-top: none;
}

/* ------------------------ FIELD LABELS ---------------------------- */

/* ------------------------ Table Containers ---------------------------- */
.formDocumentsTable .tableSubHeader{
	background-color: #F3F3F3;
}
.formDocumentsTable th, .formDocumentsTable tr, .formDocumentsTable td, .formDocumentsTable .tableSubHeader {
	border-style:none;
}
.formDocumentsTable thead th {
 background-image: url("../../js/dijit/themes/claro/images/menuHighlight.png?v1");
}
 


/* ------------------------ Admin Table ---------------------------- */



/* ------------------------ Page Header ---------------------------- */

/* ------------------------- DATA GRIDS  ---------------------------- */


.claro .dojoxGrid a {
	color: #1079c7;
	text-decoration: none;
}

.claro .dojoxGrid a:hover {
	color: #1079c7;
	text-decoration: underline;
}

.gridShowCountItem {
    cursor: pointer;
    color: #1079c7;
    text-decoration: none;
}

.gridShowCountItem:hover {
    color: #1079c7;
     text-decoration: underline;
}

.gridShowCountItem.selected:hover{
	color: #1b729f;
	text-decoration: none;
}

.gridHeaderShowCountItem {
   color: #1b729f;
   text-decoration: none;
}

.gridHeaderShowCountItem:hover {
	 color: #1b729f;
   text-decoration: underline;
}

.gridHeaderShowCounts{
	color: #1b729f;
}

.gridHeaderShowCountItem.selected:hover{
	color: #1b729f;
	text-decoration: none;
}

.claro .dojoxGridRowOdd .dojoxGridRowTable tr {
	background-color: #ffffff;
}

.claro .dojoxGridMasterHeader {
	background-color: #cfe5fa;
	background: -moz-linear-gradient(top, #cfe5fa, #cfe5fa);
	background: -webkit-gradient(linear, left top, left bottom, from(#cfe5fa), to(#cfe5fa));
	filter: none;
}

/* ------------------------- GRID CUSTOMIZATION POPUP --------------------------- */
.dijitContentPanePopup {
	border: none;
	background-color: rgba(255, 255, 255, 0.97);
}
.popupContent {
	maxHeight: 100px;
	margin: 3px;
}
.gridCustAction {
	color: #333333;
	/*text-decoration: underline;*/
	cursor: pointer;
	margin-bottom: 3px;
}
.gridCustAction:hover {
	color: #666666;
}
.gridCustDivider {
	width: 100%;
	height: 0px;
	display: block;
	border-top: 0px solid #cccccc;
	border-bottom: 0px solid #ffffff;
}
.gridCustColumnHeader {
	color: #333333;
	margin-top: 3px;
	margin-bottom: 3px;
}
.gridCustColumn {
}
.gridCustColumn.formItem {
	margin: 0;
}

/* ------------------------- CUSTOMIZATION PAGES  ---------------------------- */

/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
.dgrid a {
	color: #1079c7;
	text-decoration: none;
}
.dgrid a:hover {
	color: #1079c7;
	text-decoration: underline;
}
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */


/**
  *-----------------------------------------------------------------------------------------------------*
  * 					D-Grid specific Default theam Custom Style Calasses below						*
  *-----------------------------------------------------------------------------------------------------*
  **/
.dgrid {
	/* Automatic height allows the grid height to shrink when only a few rows are rendered */
	/*font-size: 14px;*/
	height: auto;
}
/*RPasupulati IR T36000031454 Start*/
.dgrid .dgrid-scroller {
	/* This rule is necessary to enable scrolling to work with a non-fixed height grid */
	position: relative;
	height: 200px;
}
.dgrid-scroller {
	padding-bottom: 0px;
}
/*IE8-Align columns propertly after hide/show column*/
.dgrid div {
    margin: 0;
    padding: 0;
}
/*RPasupulati IR T36000031454 Ends */
/* The following rules define a discrete set of grids that have a maximum height */
/* The max height must be specified for both the top-level grid node and the .dgrid-scroller node */
.dgrid.rows5-with-y-scroll { max-height: 143px; } 
.dgrid.rows5-with-y-scroll .dgrid-scroller { max-height: 122px; } 
.dgrid.rows10-with-y-scroll { max-height: 248px; } 
.dgrid.rows10-with-y-scroll .dgrid-scroller { max-height: 227px; } 
.dgrid.rows15-with-y-scroll { max-height: 353px; } 
.dgrid.rows15-with-y-scroll .dgrid-scroller { max-height: 332px; } 
.dgrid.rows20-with-y-scroll { max-height: 458px; } 
.dgrid.rows20-with-y-scroll .dgrid-scroller { max-height: 418px; }
.dgrid.rows30-with-y-scroll { max-height: 682px; }
.dgrid.rows30-with-y-scroll .dgrid-scroller { max-height: 660px; }

.dgrid.rows5-no-y-scroll { max-height: 126px; } 
.dgrid.rows5-no-y-scroll .dgrid-scroller { max-height: 105px; } 
.dgrid.rows10-no-y-scroll { max-height: 231px; } 
.dgrid.rows10-no-y-scroll .dgrid-scroller { max-height: 210px; } 
.dgrid.rows15-no-y-scroll { max-height: 336px; } 
.dgrid.rows15-no-y-scroll .dgrid-scroller { max-height: 315px; } 
.dgrid.rows20-no-y-scroll { max-height:  441px;} 
.dgrid.rows20-no-y-scroll .dgrid-scroller { max-height: 420px; }

.dgrid-header {
	background-color: #cfe5fa;
	background: -moz-linear-gradient(top, #cfe5fa, #cfe5fa);
	background: -webkit-gradient(linear, left top, left bottom, from(#cfe5fa), to(#cfe5fa));
	filter: none;
}
.dgrid-header .dgrid-cell {
	border: 0px solid #dddddd;
	border-top-style: none;
	border-bottom-style: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	white-space: normal;
	word-wrap: break-word;
}
.dgrid-header .dgrid-cell:hover {
	background: #cfe5fa;
}
.dgrid-row-table {
	font-size: 11px;
	background-image: none;
}
.dgrid-row{
	background-color: #ffffff;
}
.dgrid-row .dgrid-row-table .dgrid-cell {
/* 	sborder:1px solid transparent; dgrid-header*/
}
.dgrid-cell{
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
}
.dgrid-selected {
	background-image: none;
	background-color: #cfe5fa; /*not too dark*/
	border-top:0px solid #ffffff;
	border-bottom:0px solid #ffffff;
}
.dgrid-row:hover{
	background-color:#cfe5fa; /*not too dark*/
	background-image: none;
	border-right:0px solid transparent;
	
	filter:alpha(opacity=50); /* IE Proprietary */
	opacity: 0.5; /* CSS3 Standard */
	-moz-opacity:0.5; /* Mozilla Property */
}
.dgrid-row-odd {
	background-color: #ffffff;
}
.dgrid-focus{
	outline: none;
/* 	border: 1px solid transparent !important; */
}

.dgrid-header-scroll {
	background-color: #cfe5fa;
	background: -moz-linear-gradient(top, #cfe5fa, #cfe5fa);
	background: -webkit-gradient(linear, left top, left bottom, from(#cfe5fa), to(#cfe5fa));
	filter: none;
}
.dgrid-header-scroll:hover {
	background: #cfe5fa;
}
.dgrid-header-scroll .ui-icon{
	background-image: none;
}
.claro .dojoDndItemOver {	
	background-repeat: no-repeat;
	background-image: none;
	padding: 3px;	
}
.claro .dojoDndItemAnchor, .claro .dojoDndItemSelected {
	background-color: #000000;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    background-repeat: repeat-x;
    color: #000000;
    padding: 3px;
    background: -moz-linear-gradient(center top , #cfe5fa, #cfe5fa) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-gradient(linear, left top, left bottom, from(#cfe5fa), to(#cfe5fa));
}
.dgrid-no-data,
.dgrid-loading {
	text-align: center;
	padding:16px;
}
.dgrid-content .dgrid-cell {
	border-color: transparent;
}
/*provide default styles for form type grid*/
.formContent .dgrid, .formContentNoSidebar .dgrid {
	/*To Do -- height: 500px;*/
}
.gridFooter {
	height: 30px;
	padding: 5px 25px;
	background-color: #FFFFFF;
	font-size: 11px;
	border-right: 1px solid #DBDBDB;
	border-bottom: 1px solid #DBDBDB;
	border-left: 1px solid #DBDBDB;
}

.claro .dojoxGridRowbar {
	background-color: #ffffff;
	border-right: 1px solid transparent;
}
.claro .dojoxGridCellOver .dojoxGridSortNode ,
.claro .dojoxGridHeader .dojoxGridCellOver {
	background: #cfe5fa;
}

.claro .dojoxGridRowOver .dojoxGridCell,
.claro .dojoxGridRowbarOver .dojoxGridRowbarTable {
	background-image: url("../../js/dojox/grid/resources/images/row_back.png?v1");
	background-position: 0 -2px; /*fudge up so we don't have white line at top*/
	background-color: #cfe5fa; /*not too dark*/
	border-top:1px solid transparent;
	border-bottom:1px solid transparent;
}

/*selected should be after over so over doesn't override.
  also add concatenation (selected and over) for good measure*/
.claro .dojoxGridRowSelected .dojoxGridCell,
.claro .dojoxGridRowSelected.dojoxGridRowOver .dojoxGridCell {
	background-image: none;
	background-color: #cfe5fa; /*not too dark*/
	border-top:1px solid #cfe5fa;
	border-bottom:1px solid #cfe5fa;
}
.claro .dojoxGridRowbarSelected,
.claro .dojoxGridRowbarSelected.dojoxGridRowbarOver .dojoxGridRowbarTable {
	background-color:#cfe5fa; /*not too dark*/
	background-image: none;
	border-right:1px solid transparent;
}

/*todo: not sure why ie7 rows color in dojo is not consistent, try to remove this*/
.dj_ie6 .claro .dojoxGridRowOver .dojoxGridCell,
.dj_ie7 .claro .dojoxGridRowOver .dojoxGridCell {
	border-left:1px solid #cfe5fa;
	border-right:1px solid #cfe5fa;
}

.claro .dojoxGridRowOdd .dojoxGridRowTable tr {
	background-color: #ffffff;
}

.claro .dojoxGridCell {
	border:1px solid transparent;
}
