/**********************************************************************/
/* Comerica 11/27/2012 - Draft 2      
 * Last update: 2013.09.13
*/
/**********************************************************************/
/*
 * NOTE: all references to external urls from within stylesheets
 * use a manual cache busting mechanism to force browsers to load
 * new content based on a changing url.  Each url has a 
 * parameter in the form of '?v1'.  When the content is changed
 * (i.e. a dependent stylesheet or image changes), the version
 * number should be manually changed to force cache busting to occur.
 * i.e. '?v1' would be updated to '?v2', etc.
*/

/*Import the branding style dependencies*/
@import url("../default/portalstyle.css");

/* ------------------------- PAGE LAYOUT ---------------------------- */

/* --- Master Header --- */
.pageHeader {    
	background-color: #005596; /* GE cma background color blue */
	font: 11px arial;
}

/* --- Header Navigation --- */
.pageHeaderNavigation , .pageHeaderNavigationMinimal{
	background-color: #005596; /* GE cma background color blue */
	background-image: url("../../js/dijit/themes/claro/images/menuHighlight.png?v1");
}


/* --- Main Container --- */
.pageMain , .pageMainNoSidebar{
	/*initially hidden and then displayed on load to prevent flash of unstyled content*/
	visibility: hidden;
}

.loaded .pageMain,
.loaded .pageMainNoSidebar {
	visibility: visible;
}

.pageContent {
/*	position: relative;*/
	margin: 0 auto; /*sitepen*/
	/*padding-top:1px;*/
	height: auto;
	width: 920px; /*sitepen*/
	*zoom: 1;
}
.pageContent a {color:#005597;}
.pageContent a:hover {text-decoration:underline;}

/* --- Master Footer --- */
.pageFooter {
}

/* ------------------------- Master Header Content ---------------------------- */
.headerContent,
.headerContentMinimal {
	color: #333333;
	padding-top: 5px;
	padding-bottom: 5px;
	position:relative; 
	background:transparent;
}

.headerContent {
	color:#fff;
	overflow:hidden;
	padding-bottom:10px;
	height:90px;
}
.headerContentMinimal {
	height: 45px;
}
.headerNavigationContentMinimal {
	height:33px;
}

.headerLogo {
	background-image: url("images/brand_logo.png"); /*GE*/
	background-repeat: no-repeat;
	width: 500px; /*GE*/
	height: 32px;
	display:block;
	float:left;
	margin-top: 10px; /*GE*/
}
.headerTitle {
	position:absolute;
	right:0; 
	top:50px;
	text-align:right;
	height:35px;
	font-weight:normal;
	display:block;
	padding:0;
}
.parentSubTitle {font-size:13px;}
.subsidiarySubTitle {margin-top:18px; font-size:13px; font-weight:normal;}
.headerSubTitleCenteringParent {height:70px;}
	
.headerSubTitle {
	margin:0;
	display:block;
}
.headerSubTitleCenteringParent {display:block; height:auto;}
.headerSubTitleCenteringChild {display:block; height:auto;}
	
.brandingError {
	color: red;
	font-size: 16px;
	font-weight: bold;
	padding-top: 5px;
	padding-left: 25px;
	display: inline;
	float: left;
}
.headerBrandName {
	display: none;
}
.headerBehavior {
	text-align:right;
	position:absolute;
	top:0;
	right:0;
	height:60px;
}
.headerBehavior a {
	color: #fff;
	text-decoration: none;
}
.headerBehavior a:hover {
	text-decoration: underline;
	color:#fff;
}
.headerActions {
	display: block;
	font: 11px arial;
	padding-top: 10px; 
	padding-bottom: 5px;
	height:15px !important;
	line-height:15px !important;
	overflow:hidden;
	float:none;
}
.headerActions > span {
	display:inline-block;
	height:15px;
	padding:0 8px;
	margin-right:-4px;
	vertical-align: middle;
}

.headerActions a {
	height:auto !important;
	display:inline !important;
	line-height:15px !important;
}

.headerActions a:hover {
	color:#fff !important;
}

.headerSearch {
	display: block;
	float: right;
	font-size: 11px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.headerActions > .headerActionDivider {
	border-left: 1px solid #fff;
	padding:0;
}

.headerHelp a ,
.headerNotifications a,
.headerMessages a {
	background-repeat: no-repeat;
}

.headerMessages a {
	background-image: url("images/mail_icon.png?v1");
	background-position: 0px 0px;
	padding-left:25px;
}

.headerNotifications a {
	background-image: url("images/bubble_icon.png?v1");
	background-position: 0px 1px;
	padding-left: 21px;
}

.headerHelp a {
	background-image: url("images/question_icon.png?v1");
	background-position: -2px -4px;
	padding-left: 15px;
}

.headerLogout a {background-image:none;}

.headerUserName {
	/*margin-top:15px;*/
	vertical-align: middle;
	font-size:16px;
}

.headerSearchButton,
.headerSearch .searchItem {
	display: inline-block;
	vertical-align: middle;
}

.headerActionDivider, 
.headerLogout {border-left:1px solid #fff;}
.headerLogout {margin-left:0;}

.headerLastLogin {margin-top:22px;}

/* ------------------------- Master Footer Content ---------------------------- */
.footerContent {
	color: #666666;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 45px;
	font-size: 10px;
	/*initially hidden and then displayed on load to prevent flash of unstyled content*/
	visibility: hidden;
}

.footerContentMinimal {
	height: 45px;
	/*initially hidden and then displayed on load to prevent flash of unstyled content*/
	visibility: hidden;
}

.loaded .footerContent ,
.loaded .footerContentMinimal {
	visibility: visible;
}

.footerDivider {
	width: 100%;
	height: 0px;
	display: block;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #ffffff;
}

.footerLoginInfo {
	float: left;
	padding-top: 10px;
}
.footerCopyright {
	float: left;
	padding-top: 10px;
}
.footerVersion {
	float: right;
	padding-top: 10px;
}

/* -------------------------  Form Content ---------------------------- */

.formContentNoSidebar {
	background-color: #FFFFFF; /*white*/
	border: 1px solid #C0C0C0;
	padding: 10px;
	margin-bottom: 10px;
}
/*some content we want extra sized*/
.formContentNoSidebar.padded{
	padding: 30px;
}
/* if padded is included within, concat them*/
.formContentNoSidebar .padded{
	padding: 20px;
}

.formContentNoSidebar .columnLeft {
      float: left;
      width: 49%;
}
.formContentNoSidebar .columnRight {
      float: right;
      width: 49%;
      padding-left: 8px;
}

.formArea {
	float: left;       /*sitepen*/
	margin-right: 8px; /*sitepen*/
	width: 710px;      /*sitepen*/
	margin-bottom: 10px;
}

.formContent {
	background-color: #FFFFFF; /*white*/
	/*border: 1px solid #c0c0c0;*/ /*todo: some pages need this*/
}

.formContentNoBorder {
	background-color: #FFFFFF; /*white*/
	float: left;       /*sitepen*/
	margin-right: 8px; /*sitepen*/
	width: 710px;      /*sitepen*/
/* 	border-right: 1px solid gray; */
	margin-bottom: 10px;
}

.formContent .columnLeft {
	float: left;
	width: 49%;
	border-right: 1px solid #cccccc;
}

.formContent .columnRight {
	float: right;
	width: 49%;
	padding-left: 8px;
}

.formContentNoBorder .columnLeftNoBorder {
	float: left;
	width: 49%;
}

.formContentNoBorder .columnRightNoBorder {
	float: right;
	width: 49%;
	padding-left: 8px;
}


/* ------------------------- MENU ---------------------------- */

.mmWrapper {
	font-size: 11px;
	font-weight: bold;
	/*pass through to navigation area content*/
	background-color: transparent;
	background-image: none;
	border-style: none;
	/*explicitly set height because of menu bar item floats*/
	/*height:27px;
	height:28px\9;
	height:29px;*/
	height:auto;
}
.megaMenuBar, /*for pre-dojo*/
.mmWrapper .dijitMenuBar {
	font-size: 11px;
	overflow: hidden;
	/*pass through to navigation area content*/
	background-color: transparent;
	background-image: none;
	border-style: none;
	white-space: nowrap; /*menu bar should never wrap*/
	*padding-bottom: 1px; /*for ie need to fudge the bottom*/
}

/*set colors for all menu bar items*/
.megaMenuBarItem, .myLinks, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem, 
.mmWrapper .dijitMenuBar .dijitMenuItem.myLinks {
	color: #ffffff;
	background-color: transparent; /*GE cma background color blue */
	background-image: none;
	background-position: 0px 0px; /*for firefox, push item below menubar top border*/
	margin: 0;
	padding: 6px 10px 7px; /*needs to be a tad bigger than font size provided by default*/
	display: inline-block; /*reduces pre-dojo flicker*/
	position: relative;
	vertical-align: middle;
	text-align: left;
	border-top:none;
	border-bottom:none;
	border-left:1px solid transparent;
	border-right:1px solid transparent;
	float: left;
	font-weight:bold;
	line-height:20px;
	*zoom: 1;
}
.mmWrapper .dijitMenuBar .dijitMenuItem.myLinks,
.mmWrapper .dijitMenuBar .dijitMenuItemHover.myLinks,
/*for testing*/
.mmWrapper .dijitMenuBar .dijitMenuItem.myLinks:hover {
	float:right;
}


.myLinks:after, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem.myLinks:after {
	display: block;
	content: '';
	clear: both;
}

.myLinksIcon {
	display: inline-block;
	background-image: url("images/my_links_icon.png?v1");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 20px;
	width: 20px;
	margin-top: -4px;
	margin-bottom: -5px;
	margin-right: 2px;
	vertical-align: middle;
	position: absolute;
	right: 0px;
	*margin-right: 4px;
}
.myLinksDropdownIcon {
	display: inline-block;
	background-image: url("images/my_links_dropdown_icon.png?v1");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 7px;
	width: 11px;
	margin-left: 2px;
	vertical-align: middle;
}
.claro .dijitContentPane.myLinksDropdown {border:0px;}

.menuBarItemIcon {
	background-image: url("images/collapsible_icon_sprite.png?v1");
	background-repeat: no-repeat;
	background-position: -2px -4px;
	display: inline-block;
	height: 6px;
	width: 12px;
	margin-left: 6px;
	vertical-align: middle; /*this helps with vertical placement for ie7*/
	*margin-top: 2px; /*so does this*/
}

.megaMenuBarItem.mmMenuBarItemSelected, 
.mmWrapper .dijitMenuBar .dijitMenuItem.mmMenuBarItemSelected, 
.mmWrapper .dijitMenuPassive .dijitMenuItemHover, 
.mmWrapper .dijitMenuPassive .dijitMenuItemSelected, 
.mmWrapper .dijitMenuActive .dijitMenuItemSelected, 
.mmWrapper .dijitMenuActive .dijitMenuItemHover, 
/* for testing */
.mmWrapper .dijitMenuBar .dijitMenuItem:hover {
	background-image: url("../../js/dijit/themes/claro/images/menuHighlight.png?v1");
	background-position:0px 0px;
	background-color: #C0C0C0;
	color:#000;
	border-top:none;
	border-bottom:none; 
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	padding: 6px 10px 7px; /* redundant but needed to override claro.css */
}

.dj_ie .mmWrapper .dijitMenuPassive .dijitMenuItemHover,
.dj_ie .mmWrapper .dijitMenuPassive .dijitMenuItemSelected,
.dj_ie .mmWrapper .dijitMenuActive .dijitMenuItemSelected,
.dj_ie .mmWrapper .dijitMenuActive .dijitMenuItemHover,
/* for testing */
.dj_ie .mmWrapper .dijitMenuBar .dijitMenuItem:hover {
	margin-top:0 !important;
	padding: 6px 10px 7px; /* redundant but needed to override claro.css */
}

/* on menu bar item selection or hover change the drop down image too*/
.megaMenuBarItem.mmMenuBarItemSelected .menuBarItemIcon, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem.mmMenuBarItemSelected .menuBarItemIcon,
.mmWrapper .dijitMenuPassive .dijitMenuItemHover .menuBarItemIcon,
.mmWrapper .dijitMenuPassive .dijitMenuItemSelected .menuBarItemIcon,
.mmWrapper .dijitMenuActive .dijitMenuItemSelected .menuBarItemIcon,
.mmWrapper .dijitMenuActive .dijitMenuItemHover  .menuBarItemIcon. {
	background-position:-2px -13px;
}


/*the drop down styles*/
.mmDropdown {
	background-color: #f8f8f8;
	padding: 8px;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #cccccc;
	height: auto;
}
.myLinksDropdown {
	background-color: #f8f8f8;
	padding: 8px;
	border-color: #000000;
	border-style: solid;
	border-width: 3px;
	height: auto;
}
.mmContent {
	font-family: "Arial", Helvetica, sans-serif;
	font-size: 0.875em; /*~11pt=15px*/
	font-weight: normal;
	padding: 0;
	margin: 0;
	/*part1 one true layout: header divider width*/
	overflow: hidden;
}

/*menu items in the header*/
.mmHeaderItems {
}

/*menu header divider*/
.mmHeaderDivider {
	height:0px;
	border-top:1px solid #cccccc;
	border-bottom:1px solid #ffffff;
	margin: 4px 0px 8px 0px ;
}

/*main section*/
.mmMainSection {
	overflow: hidden;
}
/*menu category headings*/
.mmCategory {
	text-transform: uppercase;
	white-space: nowrap; /*menu categories should never wrap*/
	padding: 0px 0px 8px 0px;
}
/*menu items in the main section*/
.mmMainItems {
}
.mmContent ul {
	list-style:none;
	padding:0;
	margin:0;
	line-height:150%;
	/*part1 of one true layout: menu item divider width*/
	overflow: hidden;
}
.mmContent ul li {
}
.mmContent ul li a {
	color:#005596;
	text-decoration:none;
	margin-right: 16px;
	white-space: nowrap; /*menu items should never wrap*/
	cursor: pointer;
}
.mmContent ul li a:hover {
	color:#005596;
	text-decoration:underline;
}

/*menu divider*/
.mmDivider {
	height:0px;
	border-top:1px solid #cccccc;
	border-bottom:1px solid #ffffff;
	margin: 8px 0px;
	padding: 0px;
}

/*menu column styles*/
/*we are currently using a table for menu column layout due to issues with internet explorer*/
.mmContent table {
	padding: 0;
	margin: 0;
	font: inherit;
}
.mmContent table tr {
	padding: 0;
	margin: 0;
	width: 100%;
	font: inherit;
}
.mmContent table td {
	padding: 0;
	margin: 0;
	height: 100%;
	vertical-align: top;
	font: inherit;
}
/*mmColumnAfter is set if there are additional categories after the current.
 * this is used to specify vertical divider*/
.mmContent table td.mmColumnAfter {
	border-right:1px dotted #cccccc;
	padding-right: 8px;
}
/*mmColumnBefore is set if there are categories before the current.
 * this is used to specify vertical divider*/
.mmContent table td.mmColumnBefore {
	padding-left: 8px;
}

.myLinksCategory {
	background-color: transparent;
}
.myLinksDivider {
	height:0px;
	border-top:1px solid #cccccc;
	border-bottom:1px solid #ffffff;
	margin: 8px 0px;
	padding: 0px;
}

.myLinksEdit {
	background-image: url("images/edit_default.png?v1");
	background-position: 1px 0px;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
	margin-left: 10px;
	display: inline-block;
	vertical-align: middle;
	margin-top:-2px;
}
.myLinksEdit:hover {
	background-position: -24px 0px;
}

/* ------------------------- Secondary Navigation -------------------- */

.secondaryNav {
	/*background-color: #f0f0f0;*/
	font-weight: bold;
	color: #333333;
	margin: 5px 0 5px 0;
}
.secondaryNavTitle, .secondaryNavTitleCamel {
	font-size: 14px;
	text-transform: uppercase;
	float: left;
	margin: 5px 0px 5px 0px;  /*put some margin here to allow images at right to be larger*/
}

.secondaryNavLink a {
	color: #333333;
	padding-left: 13px;
	display: inline;
	text-decoration: none;
	background-image: url("images/sub_navigation_icon_sprite.png?v1");
	background-position: 0px 1px; /*3px*/
	background-repeat: no-repeat;
}
.secondaryNavLink a:hover {
	background-position: 0px -11px; /*3px*/
}
.secondaryNavItem {
	float: left;
	font-size: 14px;
	text-transform: uppercase;
	margin: 5px 0 5px 10px;
}
.secondaryNav-right {
	float: right;
	position: relative; /*position a bit lower to center*/
	top: 2px;
}
.secondaryNavRefresh {
}
.secondaryNavEdit {
}
.secondaryNavHelp {
	float: right; /*this is just in case pages just use this style, without secondaryNav-right*/
}

.secondaryNavHelp a,
.secondaryNavEdit a ,
.secondaryNavRefresh a {
	display: inline-block;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
}

.secondaryNavRefresh a {
	background-image: url("images/refresh_default.png?v1");
	background-position: 0px 0px;
}
.secondaryNavRefresh a:hover {
	background-position: -24px 0;
}
.secondaryNavEdit a {
	background-image: url("images/edit_default.png?v1");
	margin-left: 7px;
}
.secondaryNavEdit a:hover {
	background-position: -25px 0;
}
.secondaryNav-right .secondaryNavHelp {
	float: none; /*don't float if wrapper is already*/
}
.secondaryNavHelp a {
	background-image: url("images/help_default.png?v1");
	/*help default image is a bit off, thus we move it down 1px*/
	background-position: 0px 0px;
	margin-left: 7px;
}
.secondaryNavHelp a:hover {
		background-position: -24px 0;
}

/* ------------------------- Page SubHeader -------------------- */

.subHeaderDivider {
	width: 100%;
	height: 0px;
	display: block;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #ffffff;
}
.pageSubHeader {
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	padding: 10px 0px 10px 0px;
}
.pageSubHeaderItem {
	float: left;
}
.pageSubHeader-right {
	float: right;
}
/*this class allows buttons to remain in subheader without making it too large*/
.pageSubHeaderButton {
	margin-top: -6px;
	margin-bottom: -4px;
}
.pageSubHeaderReturn {
}
.pageSubHeader a {
	color: #333333;
	margin-left: 13px;
	display: inline-block;
	text-decoration: none;
}
.pageSubHeader a:hover {
	color:#666666;
}

/* ------------------------- Transaction SubHeader -------------------- */

/*the following are deprecated!!! use pageSubHeader items above*/
.transactionSubHeader {
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	padding: 10px 0px 10px 0px;
}
.transactionReturn {
	display: inline;
	float: right;
}
.transactionReturn a {
	color: #333333;
	padding-left: 13px;
	display: inline;
	font-weight: normal;
}
.transactionReturn a:hover {
	color:#666666;
}

/* ------------------------- ERROR SECTION --------------------------- */
.errorSection {
}

.infos ,
.errorsAndWarnings {
	border: 1px solid #c0c0c0; /*light grey*/
	padding: 10px;
	margin-bottom: 10px;
}
.errorsAndWarnings {
	background-color: #fffcef;
	color: #000000;
}
.infos {
	background-color: #f7fff8;
	color: #1f8a2c;
}
.infoText,
.warnText,
.errorText {
	background-repeat: no-repeat;
	padding-left: 28px;
	height: 16px;
	margin-bottom: 3px;
}

.errorText {
	background-image: url("images/error_alert_icon.png?v1");
}
.warnText {
	background-image: url("images/warn_alert_icon.png?v1");
}
.infoText {
	background-image: url("images/info_alert_icon.png?v1");
}


/* ------------------------- DIALOGS --------------------------------- */

.claro .dijitDialogTitle {
	display: inline-block;
	padding: 5px;
	white-space: nowrap; /*menu bar should never wrap*/
	font-weight: bold;
	font-size: 12px;
}
.claro .dijitDialogTitleBar {
	height: 24px;
	border: none;
	background-image: url("../../js/dijit/themes/claro/images/menuHighlight.png?v1");
	background-color:#C0C0C0;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;

}
.claro .dijitDialog {
	border: 1px solid #666666; /*medium grey*/
}
.claro .dijitDialogCloseIcon {
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 15px;
	width: 16px;
}
.claro .dijitDialogPaneContent {
	border-top: 1px solid #666666; /*medium grey*/
}
.claro .dijitDialogPaneContent a {
	color:#005597;
}

.claro .dijitDialogPaneContent a:hover {
	color:#005597;
	text-decoration:underline;
}
.nonCriticalDialog .dijitDialogTitleBar {
	background-color: #C0C0C0; /*light grey*/
}
.nonCriticalDialog .dijitDialogCloseIcon {
	background-image: url("images/dialog_close_default.png?v1");
}
.nonCriticalDialog .dijitDialogCloseIconHover {
	/*background-image: url("images/dialog_close_rollover.png?v1");*/
}

.criticalDialog .dijitDialogTitleBar {
	background-color: #FFBB48; /*yellow*/
}
.criticalDialog .dijitDialogCloseIcon {
	/*a separate image is used for cancel on critical dialogs - color is slightly different*/
	background-image: url("images/criticalDialog_close_default.png?v1");
}
.criticalDialog .dijitDialogCloseIconHover {
	/*a separate image is used for cancel on critical dialogs - color is slightly different*/
	/*background-image: url("images/criticalDialog_close_rollover.png?v1");*/
}

/*this is the typical dialog content.
  provides a mid size width.
  height is auto determined.*/
.dialogContent {
	width: 500px;
	padding: 10px 8px;
	max-height: 500px;
	overflow-y: auto;
}
.claro .dijitDialogPaneContent {
	padding: 0; /*move padding to dialogContent for better control*/
}
/*some dialogs we want extra padded*/
.dialogContent.padded {
	padding: 25px 28px 30px 28px;
}

.dialogContent .instruction {
	padding-bottom: 20px;
}

/*make it full width of page*/
.dialogContent.fullwidth {
	width: 900px; /*+padding = 920*/
}

/*specific dialog styles*/


.claro .dijitPopup {
	background-color: #ffffff; /*white - this replaces transparent for grid popup, etc.*/
}

/* Naveen 02-Sep-2012. IR-T36000004153. Added this new class for Transparent screen issue of Favorite Links and Reports Dialogs */
.favTaskReportDialogContent {
	width: 740px;
	padding: 10px 8px;
	max-height: 600px;
	overflow-y: auto;
}
/* ------------------------- SIDEBAR --------------------------------- */

.formSidebar {
	background-color: #FFFFFF; /*white*/
        /*no top border becuase of the titlepanes*/
	border-left: 1px solid #C0C0C0;
	border-right: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	float: right;
	width: 190px;
	top:182px !important;
}

.formSidebarHeader {
	background-image: url("../../js/dijit/themes/claro/images/menuHighlight.png?v1");
	font-size: 12px;
	font-weight: bold;
	/*border-bottom: 1px solid #B5BCC7;*/
	margin: 0;
	padding: 0px 7px 0px; /* same as default for .claro .dijitTitlePaneTitle */
	/*background-color: #C0C0C0;*/
}

/*the sidebar already has borders,padding - remove them here*/
.claro .formSidebar .dijitTitlePaneTitle {
	border-left: 0px none transparent; /*remove*/
	border-right: 0px none transparent; /*remove*/
}
.claro .formSidebar .dijitTitlePaneContentOuter {
	border: 0px none transparent; /*remove*/
}
.claro .formSidebar .dijitTitlePaneContentInner {
	padding: 0;
}


.sidebarDivider {
	height:0px;
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #FFFFFF;
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 8px;
	padding: 0px;
}

/* sidebar form action formatting */
.sidebarButtons {
	padding:0;
	margin:1em 0;
	overflow:hidden;
}
.sidebarButtons .dijitButton {
	margin: 0.2em 0;
	display:block;
}

/* ------------------------- COMMON ICON STYLES --------------------------------- */
/*common icon styles, individuals below -- Uing for Buttons*/
.verify, .attach, .route, .save, .saveclose, .close, .download, .upload, .authorize, .edit,
.authorizeDelete, .approve, .deny, .delete, .remove, .add, .attachDocument, .deactivate, .copy,
.reply, .saveDraft, .saveDraftClose, .send, .saveAs, .deleteDocument, .preview, .search {
  background-repeat: no-repeat;
  width: 24px; 
  height: 21px; 
  text-align: center;
  background-position: 0px 0px;
}
.saveDraft {height: 21px;}

/*individual icon styles*/
.search { 
  background-image: url("images/search_icon.png?v1");
}

.copy { 
  background-image: url("images/copy_icon.png?v1");
  background-position:0px 0px;
}

.deactivate { 
  background-image: url("images/deactivate_icon.png?v1");
  background-position: 0px 0px;
}

.preview { 
  background-image: url("images/preview_icon.png?v1");
  background-position: 0px 0px;
}

.saveAs { 
  background-image: url("images/save_icon.png");
  background-position: 0px 0px;
  margin-left:2px;
  width:22px;
}

.send { 
  background-image: url("images/send_to_bank_icon.png?v1");
  background-position: 0px 0px;
}

.saveDraft { 
  background-image: url("images/savedraft_icon.png?v1");
}

.saveDraftClose { 
  background-image: url("images/savedraft_close_icon.png?v1");
}

.reply { 
  background-image: url("images/reply_to_bank_icon.png?v1");
  background-position: 0px 0px;
}

.edit { 
  background-image: url("images/edit_icon.png?v1");
  background-position: 0px 0px;
}
.authorizeDelete { 
  background-image: url("images/authorize_delete_icon.png?v1");
  background-position: 0px 0px;
}

.authorize { 
  background-image: url("images/authorize_icon.png?v1");
  background-position: 0px 0px;
}

.attachDocument { 
  background-image: url("images/attach_document_icon.png?v1");
  background-position: 0px 0px;
}

.deleteDocument { 
  background-image: url("images/attach_document_icon.png?v1");
  background-position: 0px 0px;
}

.add { 
  background-image: url("images/add_icon.png?v1");
}

.verify { 
  background-image: url("images/verify_icon.png?v1");
  background-position: 0px 0px;
}

.attach { 
  background-image: url("images/attach_icon.png?v1");
  background-position: 0px 0px;
}

.route { 
  background-image: url("images/route_icon.png?v1");
  background-position: 0px 0px;
}

.save { 
  background-image: url("images/save_icon.png");
  background-position: 0px 0px;
  margin-left:2px;
  width:22px;
}
.saveclose { 
  background: url("images/saveclose_icon.png?v1");
  border-radius:3px;
  background-position:0px 0px;
  width: 24px;
  height: 24px;
}

.close { 
  background-image: url("images/close_icon.png?v1");
  background-position: 0px 0px;
}

.download, .upload{ 
  background-image: url("images/download_icon.png?v1");
  background-position: 0px 0px;
}

.approve { 
  background-image: url("images/approve_icon.png?v1");
}

.deny { 
  background-image: url("images/deny_icon.png?v1");
}

.delete, .remove{ 
  background-image: url("images/delete_icon.png?v1");
  background-position:0px 0px;
}

/* Sidebar form button hover styles. */
.claro .sidebarButtons .dijitButtonHover .dijitButtonNode .copy,
.claro .sidebarButtons .dijitButtonHover .dijitButtonNode .deactivate,
.claro .sidebarButtons .dijitButtonHover .dijitButtonNode .saveAs,
.claro .sidebarButtons .dijitButtonHover .dijitButtonNode .send,
.claro .sidebarButtons .dijitButtonHover .dijitButtonNode .save,
.claro .sidebarButtons .dijitButtonHover .dijitButtonNode .saveDraft,
.claro .sidebarButtons .dijitButtonHover .dijitButtonNode .reply,
.claro .sidebarButtons .dijitButtonHover .dijitButtonNode .authorizeDelete,
.claro .sidebarButtons .dijitButtonHover .dijitButtonNode .authorize,
.claro .sidebarButtons .dijitButtonHover .dijitButtonNode .attachDocument,
.claro .sidebarButtons .dijitButtonHover .dijitButtonNode .deleteDocument,
.claro .sidebarButtons .dijitButtonHover .dijitButtonNode .verify,
.claro .sidebarButtons .dijitButtonHover .dijitButtonNode .attach,
.claro .sidebarButtons .dijitButtonHover .dijitButtonNode .route,
.claro .sidebarButtons .dijitButtonHover .dijitButtonNode .preview,
.claro .sidebarButtons .dijitButtonHover .dijitButtonNode .save,
.claro .sidebarButtons .dijitButtonHover .dijitButtonNode .saveclose,
.claro .sidebarButtons .dijitButtonHover .dijitButtonNode .close,
.claro .sidebarButtons .dijitButtonHover .dijitButtonNode .download,
.claro .sidebarButtons .dijitButtonHover .dijitButtonNode .upload,
.claro .sidebarButtons .dijitButtonHover .dijitButtonNode .approve, 
.claro .sidebarButtons .dijitButtonHover .dijitButtonNode .deny, 
.claro .sidebarButtons .dijitButtonHover .dijitButtonNode .delete, 
.claro .sidebarButtons .dijitButtonHover .dijitButtonNode .remove { background-position: -24px 0px;}

.pdf a:hover {
	background-position: 0px -32px;
}

#saveButton .save {display:none;} /*removes icon from inline form save buttons*/

/* ------------------------- COMMON PAGE STYLES --------------------------------- */

.instruction {
	font-size: 12px;
}

.sectionLinks, .navigationLinks {
	margin-left: 18px;
	padding-left: 0px;
	margin-top: 11px;
	margin-bottom: 11px;
}

.sectionLinks li , .navigationLinks li{
	list-style: none;
	margin-left: 0px;
	padding: 2px 2px;
	text-indent: -1em;
}

.sectionLinks a:link, .navigationLinks a:link  {
	text-decoration: none;
}

.sectionLinks a:link, .sectionLinks a:visited,
.navigationLinks a:link, .navigationLinks a:visited  {
	color: #333333;
	text-decoration: none;
 }

.sectionLinks a:hover, .navigationLinks a:hover {
	color: #666666;
	text-decoration:underline;
} 

.sidebarButtons li {
	list-style: none;
	padding-left: 0px;
	padding-bottom: 5px;
}

.sidebarLinksSection .navigationLinks a:link, 
.sidebarLinksSection .navigationLinks a,
.sectionLinks a:link,
.sectionLinks a {color:#005596;}

/*.sidebarLinksSection .navigationLinks a:hover {text-decoration: underline;}*/

.fieldValue{
	/*font-weight: bold;*/
	padding: 5px 0px;
}

.claro .dijitButton .dijitButtonNode,
.claro .dijitDropDownButton .dijitButtonNode,
.claro .dijitComboButton .dijitButtonNode,
.claro .dijitToggleButton .dijitButtonNode {
  /* properties here need to be unset, not deleted. */
  border: none;
  padding: 2px 4px 4px 4px;
  background-image: none;
  background-color: none;
  color: #333;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.claro .dijitButtonDisabled .dijitButtonNode {
	background-color: #000000;
	border: 1px solid #999999;
	color: #818181; 
}

.claro .dijitButton .dijitButtonNode {
	background-color: #C0C0C0;
	border: 1px solid #999999;
	color: #333333;
	font-weight: bold;
}

.claro .dijitPaneTextNode {
    padding-top: 11px;
}

.dijitTextBox   { 
	background-color: #E3F1FC !important;
	font: 11px arial;
    font-weight: normal;
}
.claro .dijitTextBox{
	border-color: #999999;
}
.claro .dijitTextArea   { 
	font-size: 11px;
}

.claro .dijitComboBox .dijitButtonNode {
    background-color: #FFF8E8;
}

.claro .dijitComboBox .dijitArrowButtonInner {
    border: 1px solid #FFF8E8;
    font: 12px arial;
    font-weight: normal;
}

.claro .dijitInputInner {
	color: #333333;
}

.claro .dijitReadOnly{
	background-color: #E6E6E6 !important;
	color: #666666;
}
.claro .dijitRadioReadOnly {background-color:transparent !important;}

.claro .dijitRadio, .claro .dijitCheckBox{
	margin: 0 6px; /*2px top? */
}

.dijitCheckBox, .dijitRadio {
    padding-right: 3px;
}

.formItem {
	margin-left: 20px;
	margin-bottom: 10px;
	margin-right: 0px;
}
.instruction.formItem {
	padding-bottom: 20px;
}


.depricated {
	background-color: orange;
}

.searchItem {
	margin-left: 0px;
	margin-bottom: 10px;
	margin-right: 20px; /*all margin on right*/
	display: inline-block;
	vertical-align: middle;
	*zoom:1;
	*display:inline;
}
.searchItem.minimalSpacing {
	margin-right: 5px;
}
.searchItem.lastSearchItem {
	margin-right: 0px;
}

.searchItem label {
	display: inline-block;
	vertical-align: middle;
	max-width: 10em;
	padding-right:.5em;
	text-align:right;
	line-height:1.3;
}
.searchItem .checkBoxLabel {width:auto;}


.formLine {
	margin-bottom: 5px;
}

label {
	font-weight: normal;
	color: #333333;
	line-height: 20px; 
	vertical-align: middle;
}

.subLabel {
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	line-height: 20px;
	vertical-align: middle;
}

.note {
	font-weight:normal;
	color: #888888;
	font-size: 11px;
	font-style:oblique;
	line-height: 12px;
	vertical-align: middle;
}

.formItem.express checkbox,
.formItem.express label,
.formItem.required label {
	margin-left: -10px;
}

.formItem.readOnly label {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #666666;
}

.formItem.readOnly {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	color: #333333;
}


/* ------------------------- FIELD WIDTHS ---------------------------------- */
.char1,.char2,.char3,.char4,.char5 {
	width: 5em;
}

.char6,.char7,.char8,.char9,.char10 {
	width: 9em;
}

.char11,.char12,.char13,.char14,.char15 {
	width: 13em;
}

.char16,.char17,.char18,.char19,.char20 {
	width: 16em;
}

.char21,.char22,.char23,.char24,.char25 {
	width: 19em;
}

.char26,.char27,.char28,.char29,.char30 {
	width: 22em;
}

.char31,.char32,.char33,.char34,.char35 {
	width: 25em;
}

.formItem .dijitTextArea {
    width: 87%;
	resize: none;
}


.formItem.currency .dijitTextBox {
	width: 4em;
}

.formItem {
	vertical-align: bottom;
}

.formItem.newLine,
.formItem.inline {
	float: left;
}


/* ----------------------- SUBSECTION HEADER ------------------------ */

.subsectionHeader, .subsectionWideHeader, .subsectionSHortHeader{
	height: 40px;
}

.subsectionHeader h3, .subsectionWideHeader h3, .subsectionShortHeader h3{
	margin-bottom: 5px;
	margin-left: 10px;
	color: #333333;
	font: bold 11px arial;
	line-height: 20px;
	padding-left: 5px;
	border: 1px solid #999999;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
	
	/* Proposed W3C Markup */ 
	background: linear-gradient(top, #FEFEFE, #BCBCBB);    
	/* Mozilla Firefox */ 
	background: -moz-linear-gradient(top, #FEFEFE, #BCBCBB);     
	/* Opera */
	background: -o-linear-gradient(top, #FEFEFE, #BCBCBB);         
	/* Webkit (Safari/Chrome 10) */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FEFEFE), color-stop(1, #BCBCBB));        
	/* Webkit (Chrome 11+) */ 
	background: -webkit-linear-gradient(top, #FEFEFE, #BCBCBB); 
	/* IE6,IE7,IE8 */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#FEFEFE', EndColorStr='#BCBCBB');         
	/* IE9 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FEFEFE', EndColorStr='#BCBCBB')";        
	/* IE10 */
	background: -ms-linear-gradient(top, #FEFEFE, #BCBCBB);
}

.subsectionHeader h3 {
	/*width: 280px;*/
	width: 264px; /*to accomodate larger clear icon*/
}

.subsectionWideHeader h3 {
	width: 92%;
}

.subsectionShortHeader h3,
.subsectionShortHeader h3, .subsectionShortestHeader h3 {
	width: 250px;
}

.subsectionHeader.required h3, .subsectionShortHeader.required h3 {
	margin-left: 5px;
}

.clearButton,
.searchButton {
	display: inline-block;
	vertical-align: middle;
	margin-left: 4px;
	position: relative;
	top: 5px;
	zoom: 1;
	*top: -3px;
}
.clearButton a,
.searchButton a {
	display: inline-block;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
}
.searchButton a {
	background-image: url("images/search_default.png?v1");
}
.clearButton a {
	background-image: url("images/cancel_icon_default.png?v1");
}

.asterisk {
	color: #ED1C24;
	font-size: 14px;
}

/* -------------------------  PANE ---------------------------- */

.claro .dijitTitlePane .dijitTitlePaneTextNode {
	color: #333333;
	font: bold 11px Arial;
	vertical-align: middle;
}

.claro .dijitTitlePaneTitle {
	background-image: url("../../js/dijit/themes/claro/images/menuHighlight.png?v1");
	background-color: #C0C0C0;
	border: 1px solid #B5BCC7;
	/*min-height: 30px;*/
}

.claro .dijitTitlePaneTitleHover {
	background-color: #EFEFEF;
	border: 1px solid #B5BCC7;
}

.dijitTitlePaneTitle .dijitArrowNode {
	float: right;
	margin-top: 6px;
}

.dijitTitlePaneContentInner:after {
		display: block;
		content: '';
		clear: both;
}

.dijitTitlePaneContentInner {
	*zoom: 1;	
}


/* ------------------------ FIELD LABELS ---------------------------- */


.formItem.required label:before {
	color: #ED1C24;
	content: '*';
	font-size: 14px;
	padding-right: 5px;
}

.formItem.express label:before {
	color: #333333;
	content: '#';
	font-size: 11px;
	padding-right: 4px;
}

.formItem.express dijitCheckBox:before {
	color: #333333;
	content: '#';
	font-size: 11px;
	padding-right: 4px;
}

.formItem.required label {
	*zoom: expression(this.el || (this.runtimeStyle.zoom = "1",
		this.insertBefore ( this.el = document.createElement ( "span"),	this.firstChild ).style.cssText="display:inline-block;color:#ED1C24;font-size:14px",
		el.innerHTML="*" ) );
	
}

.formItem.express label {
	*zoom: expression(this.el ||( this.runtimeStyle.zoom = "1",
		this.insertBefore ( this.el = document.createElement ( "span"),	this.firstChild ).style.cssText="color:#333333;font-size:14px",
		el.innerHTML="#" ) );
}

/* ------------------------ Table Containers ---------------------------- */

.formDocumentsTable {
	border-spacing: 0;
	*zoom: expression(this.runtimeStyle.zoom = "normal", this.cellSpacing = 0);
	width: 100%;
	font: 11px arial;
	border-color: #909090;
	border-style: solid;
	border-width: 0 0 1px 1px;
}

.formDocumentsTable a {
    color: inherit;
}

.formDocumentsTable th, .formDocumentsTable tr, .formDocumentsTable td, .formDocumentsTable .tableSubHeader{
	border-color: #909090;
	border-style: solid;
	border-width: 1px 1px 0 0;
	padding: 0.3em 0.5em;
}
.formDocumentsTable th {
	background-color: #C0C0C0;
	font-weight: bold;
	text-align: center;
}

.formDocumentsTable .tableSubHeader{
	background-color: #909090;
	font-weight: bold;
}

.formDocumentsTable thead th {
	border-top-width: 1px;
	background-color: #C0C0C0;
	font-weight: bold;
	border-color: #909090;
}

.formDocumentsTable tfoot td {
	text-align:left;
	background-color: #C0C0C0;
	font-weight: bold;
}

.formDocumentsTable .genericCol {
    text-align: left;
}

.formDocumentsTable .amountCol {
    text-align: right;
}

/* ------------------------ Admin Table ---------------------------- */

.formAdminTableCenter{
text-align:center;
}

/* ------------------------ Page Header ---------------------------- */

.page-header {
	list-style: none;
	margin: 30px auto 0px auto;
	width: 920px;
	height: 35px;
	padding-top: 5px;
	background: #d2d2d2;
	border: 1px solid black;
}

.page-header .inline-title {
	display: inline;
	margin: 1px;
	background: #d2d2d2;
}

.page-header .inline-link {
	display: inline;
	margin: 1px;
}

.page-header .inline-button {
	float: right;
	font-weight: bolder;
	/*vertical-align: middle;
	padding-bottom: 10px; */
}

.title-left {
	right: 50%;
	float: left;
}

.title-right {
	float: right;
	padding-right: 5px;
}

/* ------------------------- DATA GRIDS  ---------------------------- */

.gridHeader {
	height: 24px; /*explicitly setting makes ie styling easier*/
	margin-bottom: 5px;
	*zoom : 1;
}
.gridHeaderTitle {
	color: #005596;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	margin-top: 5px;
	float: left;
}
.gridHeaderTitle a {
	color: #005596;
	text-decoration:none;
}
.gridHeaderTitle a:hover {
	color: #005596;
	text-decoration:underline;
}
.gridHeader-right {
	float: right;
	*zoom: 1;
	margin-top:5px;
}
.gridHeader-right:after {
	display: block;
	content: '';
	clear: both;
}

.gridHeaderEdit {
	display: inline-block;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
	*zoom: 1;
	vertical-align: middle;
	background-image: url("images/edit_default.png?v1");
	margin-left: 7px;
}
.gridHeaderEdit:hover {
	background-position: -25px 0;
}

.gridHeaderShowCounts {
	color: #333;
	font-size: 11px;
	padding-left: 20px;
	display: inline-block;
}
.gridHeaderShowCountItem, .gridShowCountItem {
	color: #005596;
	cursor: pointer;
	text-decoration: underline;
}
.gridHeaderShowCountItem.selected, .gridShowCountItem.selected {
	cursor: auto;
	text-decoration: none;
	color:#333;
}

.gridHeaderShowCounts a {
	color: #005596;
}
.gridHeaderShowCountItem:hover ,
.gridHeaderShowCounts a:hover {
	color: #005596;
}

.searchHeader {
	margin-bottom:8px;
}
.searchHeaderCriteria {
	float: left;
}
.searchHeaderActions {
	float: right;
	/*
	margin-top: -2px;
	margin-bottom: 4px; */
}
.searchHeaderEdit,
.searchHeaderRefresh {
	display: inline-block;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
	cursor: pointer;
	vertical-align: middle;
	*zoom: 1;
}

.searchHeaderRefresh {
	background-image: url("images/refresh_default.png?v1");
}
.searchHeaderRefresh:hover {
	background-position: -24px 0px;
}
.searchHeaderEdit {
	background-image: url("images/edit_default.png?v1");
	margin-left: 3px;
}
.searchHeaderEdit:hover {
	background-position: -25px 0px;
}
.searchDivider {
	width: 100%;
	height: 0px;
	display: block;
	/*border-top: 1px solid #cccccc;*/
	/*border-bottom: 1px solid #ffffff;*/
	margin-bottom: 10px;
}
.searchDetail {
	position:relative;
}
.lastSearchDetail {float:none;}

.searchCriteria {
	overflow:hidden; _overflow:visible; zoom:1;
}
.searchActions {
	position:absolute; top:0; right:0;
}
.gridSearchButton {
}
.searchTypeToggle {
	display: block; /*place below search button*/
	text-align: center;
	margin-bottom: -8px; /*fit within existing searchDetail*/
	*margin-bottom: 0; /*todo: above does not work in ie7*/
}
/*when the last search detail, we need some extra space*/
.searchDetail.lastSearchDetail .searchTypeToggle {
	margin-bottom: 7px;
	/* not sure how to get ie to not have extra line... margin-bottom: -7px;*/
}

.claro .dojoxGrid {font-family:Arial, Helvetica, sans-serif;}

.claro .dojoxGridMasterHeader {
	background: /*url("images/header.png?v1")*/ #C0C0C0 repeat-x bottom;
	background: -moz-linear-gradient(top, #E6E6E6, #C0C0C0);
	background: -webkit-gradient(linear, left top, left bottom, from(#E6E6E6), to(#C0C0C0));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6E6E6, endColorstr=#C0C0C0);
}

.claro .dojoxGridCellOver .dojoxGridSortNode ,
.claro .dojoxGridHeader .dojoxGridCellOver {
	background: #E3F1FC;
}

.claro .dojoxGridRowSelected .dojoxGridCell {
	background:/*url("../../js/dojox/grid/resources/images/row_back.png?v1")*/ #C0C0C0 repeat-x;
	border-top:1px solid #C0C0C0;
	border-bottom:1px solid #C0C0C0;
}

.claro  .dojoxGridRowbarTable .dijitCheckBoxChecked {
	background-color: #C0C0C0;
	border-top:1px solid #fffcef;
	border-bottom:1px solid #fffcef;
}

.claro .dojoxGridRowbarOver .dojoxGridRowbarTable {
	background-color: #C0C0C0;
}

.claro .dojoxGridRowOver .dojoxGridCell, .claro .dojoxGridRowbarOver .dojoxGridRowbarTable {
	background:url("images/row_back.png?v1") #E6E6E6 repeat-x;
	border-top:1px solid #E6E6E6;
	border-bottom:1px solid #E6E6E6;
}

.claro .dojoxGridRowbarTable {
	background: #ffffff;
}

.dj_ie6 .claro .dojoxGridRowOver .dojoxGridCell,
.dj_ie7 .claro .dojoxGridRowOver .dojoxGridCell {
	border-left:1px solid #E6E6E6;
	border-right:1px solid #E6E6E6;
}

.claro .dojoxGridRowOdd .dojoxGridRowTable tr {
	background-color: #E3F1FC;
}

.claro .dojoxGridCell, .claro .dojoxGridHeader .dojoxGridCell {
	border:1px solid transparent;
	
}
.claro .dojoxGridCellFocus {
	outline: none;
	border: 1px solid transparent !important;
}

.claro .dojoxGrid a ,
.claro .dojoxGrid {
	color:#000000;
}

.claro .dojoxGrid a:hover {
	color: #666666;
}

.claro .dojoxGrid a[href] {
	color:#005596;
}

.claro .dojoxGridRowbarInner {
	border-bottom:0;
}

/*provide default styles for form type grid*/
.claro .formContent .dojoxGrid,
.claro .formContentNoSidebar .dojoxGrid {
	height: 500px;
}
/*provide default styles for dialog type grid*/
.claro .dialogContent .dojoxGrid {
	height: 300px;
}

.gridFooter {
	height: 30px;
	padding: 5px 25px;
	background-color: #FFFFFF;
	font-size: 11px;
	*position: relative;
}

.gridFilter { /* Usefull for grid header */
	font-size: 11px;
	/* the grid filter is suppose to be white.
           it will inherit value of the formContent.
        background-color: #E7E7E7; */ /* light grey */
}

.gridFooterAction {
	padding-right: 10px;
}

.gridSelectedCount {
	display: inline;
	vertical-align: middle;
}

.gridTotalCount {
	display: inline;
	float: right;
	padding: 7px 0px;
	*position: absolute;
	*right: 10px;
}

.gridColumnRight {
	text-align: right;
}

.gridColumnCenter {
	text-align: center;
}

/*-----------------CMA DGRID BRANDING --------------------------*/
.dgrid-header {
	background: -moz-linear-gradient(top, #E6E6E6, #C0C0C0);
	background: -webkit-gradient(linear, left top, left bottom, from(#E6E6E6), to(#C0C0C0));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6E6E6, endColorstr=#C0C0C0);
	border: none;
}
.dgrid-header-scroll{
	background: -moz-linear-gradient(top, #E6E6E6, #C0C0C0);
	background: -webkit-gradient(linear, left top, left bottom, from(#E6E6E6), to(#C0C0C0));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6E6E6, endColorstr=#C0C0C0);
	border: none;
}

.claro .dojoDndItemAnchor, .claro .dojoDndItemSelected {
	background-color: #e7ecf0;
	background-image: none;
	background: transparent;
	background: transparent;
}
.dgrid-header .dgrid-cell {
	border:none;
}

.dgrid-header .dgrid-cell:hover {
	background: #E3F1FC;
}

.dgrid-row:hover {
filter: alpha(opacity=100);
opacity: 1.0; 
-moz-opacity: 1.0;
}

.dgrid-row-odd {
	background: #E3F1FC;
	/* IR#T36000026633 */
	/* filter: alpha(opacity=100); */
	opacity: 1.0; 
	-moz-opacity: 1.0;
}
.dgrid a:hover {
	color: #005597;
}


/* ------------------------- CUSTOMIZATION PAGES  ---------------------------- */
.customizationColumn1 {
	width: 390px;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	padding-right: 10px;
	border-right: 1px solid #cccccc;
}
.customizationColumn2 {
	width: 280px;
	/*leave left margin zero for float space*/
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	float: right;
}
/*this ensures the available and selected sections line up vertically*/
.customizationColumn1 .instruction,
.customizationColumn2 .instruction {
	height: 50px;
}
.customizationItemsHeader {
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 10px;
}
.availItemsSection {
	margin-bottom: 10px;
}
.selectedItemsSection {
	margin-bottom: 10px;
}
.claro .customizationColumn1 .dijitTitlePaneContentOuter {
	border-bottom: 0px none transparent; /*remove*/
}
.claro .customizationColumn1 .dijitTitlePaneContentInner,
.claro .customizationColumn2 .dijitTitlePaneContentInner {
	padding: 0; /*remove padding so we can put put in border style*/
}
.claro .dijitNoTitlePaneContentOuter {
	border-top: 1px solid #B5BCC7; 
}
.availItem {
	padding: 0;
	border-bottom: 1px solid #c0c0c0;
}
.availItemSelect {
	display: inline-block;
	padding: 7px 10px 7px 10px;
	border-right: 1px solid #c0c0c0;
}
.availItemDesc {
	display: inline-block;
	padding: 7px 10px 7px 10px;
}
.selectedItem {
	padding: 0;
	border-bottom: 1px solid #c0c0c0;
}
.selectedItemOrder {
	display: inline-block;
	padding: 5px 10px 5px 10px;
	border-right: 1px solid #c0c0c0;
	float: left;
}
.selectedItemOrderTextBox {
	width: 3em;
}
.selectedItemDesc {
	display: inline-block;
	padding: 5px 10px 5px 10px;
	float: left;
}
/*.deleteSelectedItem {
	display: inline-block;
	float: right;
	background-image: url("images/delete_small_default.png?v1");
	background-position: 0;
	background-repeat: no-repeat;
        width: 16px;
        height: 16px;
	margin: 5px 10px 5px 10px;
	cursor: pointer;
}
.deleteSelectedItem:hover {
	background-image: url("images/delete_small_rollover.png?v1");
}*/
.selectedItemsFooter {
	height: 16px;
	padding: 7px 10px 7px 10px;
	background-color: #f0f0f0;
}
.selectedItemsTotalCount {
	float: right;
}
.customizationAction {
	float: right;
}


/* ------------------------- GRID CUSTOMIZATION POPUP --------------------------- */
.dijitContentPanePopup {
	border: 1px solid #c0c0c0;
}
.popupContent {
	maxHeight: 100px;
	margin: 3px;
}
.gridCustAction {
	cursor: pointer;
	margin-bottom: 3px;
	color:#005596; 
}
.gridCustAction:hover {
	text-decoration: underline;
}
.gridCustDivider {
	width: 100%;
	height: 0px;
	display: block;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #ffffff;
}
.gridCustColumnHeader {
	color: #333333;
	margin-top: 3px;
	margin-bottom: 3px;
}
.gridCustColumn {
}
.gridCustColumn.formItem {
	margin: 0;
}

#saveGridCust.gridCustAction, #resetGridCust.gridCustAction {
	color:#005596;
}
 #saveGridCust.gridCustAction:hover, #resetGridCust.gridCustAction:hover {text-decoration: underline;}

/* ------------------------- ANNOUNCEMENT DIALOG   ---------------------------- */
.announceTitle {
	font-weight: bold;
	margin-bottom: 10px;
}
.announceText:not(:last-child) {
	margin-bottom: 15px;
}
.announceTitle.critical {
	background-image: url("images/warn_alert_icon.png?v1");
	background-repeat: no-repeat;
	padding-left: 35px;
	height: 18px;
	vertical-align: middle;
}
.announceText.critical,
.announceText.criticalExists,
.announceTitle.criticalExists
 {
	padding-left: 35px;
}


/* ------------------------- ADD OTHER SPECIFIC PAGE STYLES HERE ---------------------------- */
.xls a {
	display: inline-block;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 25px;
	width: 24px;
	vertical-align: middle;
	background-image: url("images/excel_sprite.png?v1");
	margin-left: 7px;
}

/* ------------------------- Reference data table containers ---------------------------- */

.scrollableTable 
{
	width:700px;
	min-height:50px;
	max-height:800px;
	overflow:scroll;
	border-bottom: 1px solid black;
}
.scrollableArea {
	width:700px;
	min-height:50px;
	max-height:200px;
	overflow-y:scroll;
}

/* ------------------------ Panel Authorisation Table ---------------------------- */

.formPanelAuthTable {
	margin:10px;
}
.formAmtRangeTable {
	width: 90%;
	margin: 10px 25px;
}

/* ------------------------- HOME PAGE   ---------------------------- */
.homeAnnounce {
	border: 1px solid #cccccc;
	background-color: #fffcef;
	background-image: url("images/announcement_icon.png?v1");
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding: 10px 10px 0px 36px;
	margin-bottom: 10px;
	color: #333333; /*should generalize*/
	word-wrap: break-word; /*force word breaks to help with sizing this thing*/
}
.homeAnnounceLabel {
	float: left;
	font-weight: bold;
}
.homeAnnounceText {
	float: left;
}
.announceMore {
	float: right;
	text-decoration: underline; /*should generalize*/
}
.announceMore:hover {
	color: #666666; /*should generalize*/
	cursor: pointer;
}

/*default grid heights*/
#homeMailGrid ,
#homeNotifGrid ,
#homeAllTranGrid ,
#homeRcvTranGrid ,
#homeAcctGrid ,
#homeAnnounceGrid,
#homeLockedUserGrid {
	/*height: 200px;*/
}

/* ------------------------- OTHER SPECIFIC DIALOG WIDTHS ---------------------------- */
#bankBranchSelectorDialogContent {
	width: 360px;
}

#otherConditionsDialog{
	width: 360px;
	height: auto;
	overflow: auto;
}


/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* login form */
.claro .dijitTextBoxFocused .dijitInputContainer {background: transparent;}

/* form fields */
.gridHeader .dijitInline.dijitButton[widgetid="AddAddressButton"] {margin:0;}
.subsectionShortestHeader.required h3, .subsectionWidestHeader.required h3 {padding-left:.3em;}
.dijitComboBox#widget_PmtTermsDaysAfterType {margin-top:5px; margin-left:30px;}
.formItemWithIndent4 .dijitComboBox[id*="PhraseItem"] {margin-left:20px; margin-bottom:10px;}
.formItemWithIndent4 div[widgetid="CaseOfNeedName"], 
.formItemWithIndent4 div[widgetid="CaseOfNeedAddressLine1"], 
.formItemWithIndent4 div[widgetid="CaseOfNeedAddressLine2"], 
.formItemWithIndent4 div[widgetid="CaseOfNeedAddressLine3"] {
	margin-left:30px !important; 
	margin-bottom:10px;
}
table#MultTenor {float:left !important; clear:both;}
table#tenorButtons {clear:both; padding-top:10px;}
#tradeAdvancedInstrumentFilter .formItemWithIndent4 {
	/* changing to match default label styling. */
	width: 10em;
	text-align: right;
	display: inline-block;
	padding-right: .5em;
	white-space:nowrap;
}
label[for="MiddleInitial"], .dijitTextBox#widget_MiddleInitial {position:relative; top:1px;}

/**----- Search/Filter Form Utilities -----**/
.searchDetail .searchItem label, .dijitDialogPaneContent .searchItem label  {width:10em;}
.searchItem .dijitTextBox {width:24em;}
.dijitDialogPaneContent .formItem {position:relative;}
.dijitDialogPaneContent .formItem .title-right {position:absolute; right:0; top:0;}

/**----- Tabular Data Grids -----**/
.claro .dojoxGridMasterHeader {border-right:1px solid #fff;}
.claro .dojoxGridMasterHeader .dojoxGridRowTable {border:0;}

/**----- BUTTONS ------**/
/* orange treatment */
.claro .dijitButton[widgetid="loginButton"] .dijitButtonNode {
	color:#fff;
	border:1px solid #E66703;
	background-color: #E66703;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F08104), to(#DE5402));
	background-image: -webkit-linear-gradient(top, #F08104, #DE5402);
	background-image: -moz-linear-gradient(top, #F08104, #DE5402);
	background-image: -ms-linear-gradient(top, #F08104, #DE5402);
	background-image: -o-linear-gradient(top, #F08104, #DE5402);
	background-image: linear-gradient(top, #F08104, #DE5402);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F08104', endColorstr='#DE5402',GradientType=0 );
	text-align:center;
}

.claro .dijitButton[widgetid="loginButton"] .dijitButtonNode:hover {
	background-color: #DE5402;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f08d1d), to(#de6118));
	background-image: -webkit-linear-gradient(top, #f08d1d, #de6118);
	background-image: -moz-linear-gradient(top, #f08d1d, #de6118);
	background-image: -ms-linear-gradient(top, #f08d1d, #de6118);
	background-image: -o-linear-gradient(top, #f08d1d, #de6118);
	background-image: linear-gradient(top, #f08d1d, #de6118);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f08d1d', endColorstr='#de6118',GradientType=0 );
}
.claro .dijitButton.dijitButtonHover .dijitButtonNode .dijitButtonText {text-decoration:none;}

/* blue treatment */
.claro .dijitButton .dijitButtonNode,
.claro .dijitButton.dijitButtonDisabled .dijitButtonNode:hover {
	color:#fff;
	border:1px solid #ABABAB;
	background-color: #dedede;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3f96d9), to(#005596));
	background-image: -webkit-linear-gradient(top, #3f96d9, #005596);
	background-image: -moz-linear-gradient(top, #3f96d9, #005596);
	background-image: -ms-linear-gradient(top, #3f96d9, #005596);
	background-image: -o-linear-gradient(top, #3f96d9, #005596);
	background-image: linear-gradient(top, #3f96d9, #005596);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f96d9', endColorstr='#005596',GradientType=0 );
	text-align:center;
}
.claro .dijitButton.dijitButtonHover .dijitButtonNode {
	background-color: #ABABAB;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3580b9), to(#00477d));
	background-image: -webkit-linear-gradient(top, #3580b9, #00477d);
	background-image: -moz-linear-gradient(top, #3580b9, #00477d);
	background-image: -ms-linear-gradient(top, #3580b9, #00477d);
	background-image: -o-linear-gradient(top, #3580b9, #00477d);
	background-image: linear-gradient(top, #3580b9, #00477d);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3580b9', endColorstr='#00477d',GradientType=0 );
}

/* sidebar "navigation" button treatment */
.claro .sidebarButtons .dijitButton .dijitButtonNode, 
.claro .dijitReset.dijitButton[widgetid*="Cancel"] .dijitButtonNode {
	font-weight:bold;
	color:#005596;
	border:none;
	background-color: transparent;
	background-image: none;
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.15);
	padding:5px 10px 6px 8px;
	text-shadow:none;
	
	-webkit-transition-property: background-color;
	-moz-transition-property: background-color;
	transition-property: background-color;
	-webkit-transition-duration: 0.0s;
	-moz-transition-duration: 0.0s;
	transition-duration: 0.0s;
	text-align:left;
	filter: progid:DXImageTransform.Microsoft.gradient( enabled=false );
	
	display:block;
	width:auto;
}

.claro .dijitButtonDisabled .dijitButtonNode {
	border: 1px solid #999;
	background-image:none;
	color: #818181;
}

.claro .dijitReset.dijitButton[widgetid*="Cancel"] .dijitButtonNode {
	display:inline-block;
}

.claro .sidebarButtons .dijitButtonHover .dijitButtonNode {
	background: #005596; 
	color:#fff; 
	border-radius: 0px; 
	text-align:left; 
	padding:5px 10px 6px 8px;
}
.claro .sidebarButtons .dijitButtonHover .dijitButtonNode .dijitButtonText {text-decoration: none;}
.claro .sidebarButtons .dijitButtonText {padding-left:10px; text-align:left;}
.claro .sidebarButtons .dijitButtonText:hover, .claro .dijitReset.dijitButton[widgetid*="Cancel"] .dijitButtonNode:hover .dijitButtonText {text-decoration: underline;}
.claro .dijitMenuBar {border-bottom:none;}

/**---- Misc -----**/
:focus {outline:none;}

/* ------------------------- IE SPECIFIC STYLING   ---------------------------- */
.dj_ie8 .secondaryNavLink a {background-position-x: 2px;}
/*.dj_ie8 .mmWrapper .dijitMenuBar .dijitMenuItem {padding-top:7px; padding-bottom:11px;}*/

.claro .dijitButton[widgetid="loginButton"] .dijitButtonNode {color:#fff;}
.dj_ie8 .claro .sidebarButtons .dijitButton .dijitButtonNode {color:#005596;}
.dj_ie8 .claro .sidebarButtons .dijitButton .dijitButtonNode:hover {color:#fff;}
.dj_ie9 .dijitButtonContents[disabled],
.dj_ie8 .dijitButtonContents[disabled] {padding-top:1px;}
.dj_ie8 .claro .dijitCheckBox {width:16px;}
.dj_ie8 .claro .dijitButtonNode .dijitButtonText {padding-top:2px; padding-right:1px;}

.dj_ie9 .claro .dijitButton .dijitButtonNode,
.dj_ie9 .claro .dijitDropDownButton .dijitButtonNode,
.dj_ie9 .claro .dijitComboButton .dijitButtonNode,
.dj_ie9 .claro .dijitToggleButton .dijitButtonNode  {margin-left:-1px; border-radius: 0px;}

.dj_ie9 .claro .dijitButton.dijitButtonDisabled .dijitButtonNode,
.dj_ie8 .claro .dijitButton.dijitButtonDisabled .dijitButtonNode {background-color: #dedede; background-image: none; filter: none};
