/**********************************************************************/
/* XBank(Blue) style for validating stylesheet.                       */
/* All colors, including icon colors are inverted to ensure that      */
/* stylesheet is used on the page rather than hardcoding.             */
/**********************************************************************/
/*
 * NOTE: all references to external urls from within stylesheets
 * use a manual cache busting mechanism to force browsers to load
 * new content based on a changing url.  Each url has a 
 * parameter in the form of '?v1'.  When the content is changed
 * (i.e. a dependent stylesheet or image changes), the version
 * number should be manually changed to force cache busting to occur.
 * i.e. '?v1' would be updated to '?v2', etc.
*/

/***********************************************************************/
/* Extend this style from default CGI style by importing it.           */
/* With this approach, defect fixes and updates in CGI default         */
/* style is applied to the extended styls with out much changes.       */
/***********************************************************************/

@import url("../default/portalstyle.css?v1"); 

/***********************************************************************/
/* Overwrite CGI default styles or add new styles below that are       */
/* specific to this style.                                             */
/***********************************************************************/

/* ----------------------------------------------------------------- */


body {
	background-color: #FFFFFF; /* white background */
}



/* ------------------------- PAGE LAYOUT ---------------------------- */

/* --- Master Header --- */
.pageHeader {    
	background-color: #FFFFFF; /* white background */
}

/* --- Header Navigation --- */
.pageHeaderNavigationBackground {
	background-color: #515151; 
	border-top: 1px solid #515151;
	border-bottom: 1px solid #515151;
	height: 29px;
	background-image: url("");
}



/* ------------------------- Master Header Content ---------------------------- */
.headerContent,
.headerContentMinimal {
	background-color: #FFFFFF;
	background: none;
}

.headerLogo {
	background-image: url("images/brand_logo.png?v1");
	width: 80px;
}

.headerBrandName {
	background-image: none;
	margin-top: 17px;
}
.headerBrandName span {
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	padding-left: 4px;
	padding-top: 2px;
	width: 122px;
	*padding-top: 3px;
}
.headerBehavior a {
	color: #515151;
}
.headerBehavior a:hover {
	color: #666666;
}


.headerLogout a {
	color: #ffffff; /*white*/
	background-image: none;
	background-color: #515151;
}
.headerLogout a:hover {
	color:#E3F1FC;
}


/* ------------------------- Master Footer Content ---------------------------- */
.footerContent {
	color: #515151;
}

/* -------------------------  Form Content ---------------------------- */
.formContent .columnLeft {
	border-right:1px dotted #515151;
}

/* ------------------------- MENU ---------------------------- */

/*set colors for all menu bar items*/
.megaMenuBarItem, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem {
	background-color: #515151;
	background-position: 0px;
}

/*selected style*/
.megaMenuBarItem.mmMenuBarItemSelected, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem.mmMenuBarItemSelected ,
/*hover style*/
.mmWrapper .dijitMenuPassive .dijitMenuItemHover,
.mmWrapper .dijitMenuPassive .dijitMenuItemSelected,
.mmWrapper .dijitMenuActive .dijitMenuItemSelected,
.mmWrapper .dijitMenuActive .dijitMenuItemHover {
	color: #515151;
	background-color: #E3F1FC;
	border-top: 1px none transparent;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
}

.megaMenuBarItem.mmMenuBarItemSelected, .mmWrapper .dijitMenuBar .dijitMenuItem.mmMenuBarItemSelected, .mmWrapper .dijitMenuPassive .dijitMenuItemHover, .mmWrapper .dijitMenuPassive .dijitMenuItemSelected, .mmWrapper .dijitMenuActive .dijitMenuItemSelected, .mmWrapper .dijitMenuActive .dijitMenuItemHover {
color: #515151;
background-color: #FFFFFF;
}
/*the drop down styles*/
.mmDropdown {
	height: auto;
}

/*menu header divider*/
.mmHeaderDivider {
	border-bottom:1px solid #cccccc;
}

.mmContent ul li a {
	color: #515151;
}

.mmContent ul li a:hover {
	color:#999999;
}

.mmCategory {
	color: #515151;
	background-color: #bedc00;
}

/*menu divider*/
.mmDivider {
	border-bottom:1px solid #cccccc;
}

.myLinks, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem.myLinks {
	background-color: #515151;
}
.myLinksCategory {
	background-color: #E0EEF9;
}

/* ------------------------- Secondary Navigation -------------------- */

.secondaryNav {
	color: #515151;
}
.secondaryNavLink.navLinkSelected {
	color: #333333;
}
.secondaryNavLink a {
	color: #515151;
}
.secondaryNavLink a:hover {
	color: #DCEAF5;
}

/* ------------------------- Page SubHeader -------------------- */

.pageSubHeader a {
	color: #515151;
}
.pageSubHeader a:hover {
	color:#515151;
}

/* ------------------------- Transaction SubHeader -------------------- */

/*the following are deprecated!!! use pageSubHeader items above*/
.transactionReturn {

	padding-right: 10px;
}
.transactionReturn a {
	color: #515151;

}
.transactionReturn a:hover {
	color:#515151;
}

/* ------------------------- ERROR SECTION --------------------------- */

/* ------------------------- DIALOGS --------------------------------- */
.nonCriticalDialog .dijitDialogTitleBar {
	background-color: #515151;
}
.claro .dijitDialogTitle {
	color: #FFFFFF;
}
.claro .dijitDialogTitleBar {
	background-image: url("");
}

/* ------------------------- SIDEBAR --------------------------------- */

.formSidebarHeader {
	color: #FFFFFF
}


/* ------------------------- COMMON ICON STYLES --------------------------------- */

/*individual icon styles*/

.attachIcon a{
	display: inline-block;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
}

/* ------------------------- COMMON PAGE STYLES --------------------------------- */

.sectionLinks a:link, .sectionLinks a:visited,
.navigationLinks a:link, .navigationLinks a:visited  {
	color: #515151;
 }
.sectionLinks a:hover, .navigationLinks a:hover {
	color: #666666;
}


.claro .dijitButton .dijitButtonNode {
	background-color: #515151;
	border: 2px 2px 2px 2px solid #FEFFFF;
	color: #FFFFFF;
	font: 12px arial;	font-weight: bold;

	/* Proposed W3C Markup */ 
	background: linear-gradient(top, #515151, #515151);    
	/* Mozilla Firefox */ 
	background: -moz-linear-gradient(top, #515151, #515151);     
	/* Opera */
	background: -o-linear-gradient(top, #515151, #515151);         
	/* Webkit (Safari/Chrome 10) */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #515151), color-stop(1, #515151));        
	/* Webkit (Chrome 11+) */ 
	background: -webkit-linear-gradient(top, #515151, #515151); 
	/* IE6,IE7,IE8 */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#515151', EndColorStr='#515151');         
	/* IE9 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#515151', EndColorStr='#515151')";        
	/* IE10 */
	background: -ms-linear-gradient(top, #515151, #515151);
}


.claro .dijitButtonHover .dijitButtonNode {
	background: none;
	background-color: #515151;
	border: 1px solid #FEFFFF;
	color: #FFFFFF;
	font: 12px arial;
	font-weight: bold;

	background: linear-gradient(top, #515151, #515151);    
	/* Mozilla Firefox */ 
	background: -moz-linear-gradient(top, #515151, #515151);     
	/* Opera */
	background: -o-linear-gradient(top, #515151, #515151);         
	/* Webkit (Safari/Chrome 10) */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #515151), color-stop(1, #515151));         
	/* Webkit (Chrome 11+) */ 
	background: -webkit-linear-gradient(top, #515151, #515151); 
	/* IE6,IE7,IE8 */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#515151', EndColorStr='#515151');          
	/* IE9 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#515151', EndColorStr='#515151')";         
	/* IE10 */
	background: -ms-linear-gradient(top, #515151, #515151);
	
	
}

.dijitTextBox   { 
	background-color: #E3F1FC !important;
}

.claro .dijitComboBox .dijitButtonNode {
    background-color: #E3F1FC;
}

.checkBoxFormItem {
    margin-left: 14px;
    margin-bottom: 10px;
    margin-right: 0px;
}

.formItem.readOnly label {
	color: #333333;
}

.formItem.readOnly {
	color: #666666;
}

.claro .dijitTitlePaneTitle {
	background-color: #515151;
	border: 1px solid #515151;
	background-image: url("");
}
/* ------------------------- FIELD WIDTHS ---------------------------------- */



/* ----------------------- SUBSECTION HEADER ------------------------ */

/*KMehta - 08 Aug 2014 - Rel9.1 IR-T36000025849 - Change  - Begin */
.subsectionHeader h3, .subsectionWideHeader h3, .subsectionShortHeader h3, .subsectionShortestHeader h3, .subsectionWidestHeader h3{
	color: #FFFFFF;
	font: bold 12px arial;
	background: linear-gradient(top, #515151, #515151);
	background: -moz-linear-gradient(top, #515151, #515151);
	background: -o-linear-gradient(top, #515151, #515151);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #515151), color-stop(1, #515151));
	background: -webkit-linear-gradient(top, #515151, #515151);
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#515151', EndColorStr='#515151');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#515151', EndColorStr='#515151')";
	background: -ms-linear-gradient(top, #515151, #515151);
}
/*KMehta - 08 Aug 2014 - Rel9.1 IR-T36000025849 - Change  - End */
.subsectionWideHeader h3 {
	border-bottom:1px dotted #515151;
}

/* -------------------------  PANE ---------------------------- */

.claro .dijitTitlePane .dijitTitlePaneTextNode {
	color: #FFFFFF;
}

.claro .dijitTitlePaneTitleHover {
	background-color: #C0C0C0;
}


/* ------------------------ FIELD LABELS ---------------------------- */

/* ------------------------ Table Containers ---------------------------- */
.formDocumentsTable .tableSubHeader{
	background-color: #F3F3F3;
}

/* ------------------------ Admin Table ---------------------------- */



/* ------------------------ Page Header ---------------------------- */

/* ------------------------- DATA GRIDS  ---------------------------- */

.gridHeader {
	margin-bottom: 10px;
}
.gridHeader a{
    color: #515151;
}
.gridHeaderTitle {
	color: #515151;
}

.gridHeaderShowCounts {
	color: #515151;

}

.gridHeaderShowCountItem:hover {
	color: #E3F1FC;
}

.gridHeaderShowCounts a {
	color: #000000;
}
.gridHeaderShowCounts a:hover {
	color: #E3F1FC;
}

.claro .dojoxGridMasterHeader {
	color: #FFFFFF;
	background: -moz-linear-gradient(top, #515151, #515151);
	background: -webkit-gradient(linear, left top, left bottom, from(#515151), to(#515151));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#515151, endColorstr=#515151);
}

.claro .dojoxGridCellOver .dojoxGridSortNode ,
.claro .dojoxGridHeader .dojoxGridCellOver {
	background: #E3F1FC;
}

.claro .dojoxGridRowSelected .dojoxGridCell {
	background: #C0C0C0 repeat-x;
	border-top:1px solid #C0C0C0;
	border-bottom:1px solid #C0C0C0;
}
.claro .dojoxGridRowbarOver .dojoxGridRowbarTable {
	background-color: #C0C0C0;
}
.claro .dojoxGridRowbarSelected{
	background-color: #C0C0C0;
}
.claro .dojoxGridRowOver .dojoxGridCell {
	background: #E6E6E6 repeat-x;
	border-top:1px solid #E6E6E6;
	border-bottom:1px solid #E6E6E6;
}
.dj_ie6 .claro .dojoxGridRowOver .dojoxGridCell,
.dj_ie7 .claro .dojoxGridRowOver .dojoxGridCell {
	border-left:1px solid #E6E6E6;
	border-right:1px solid #E6E6E6;
}

.claro .dojoxGridRowOdd .dojoxGridRowTable tr {
	background-color: #E3F1FC;
}

.claro .dojoxGrid a {
	color:#515151;
}

.gridFooter {
	color: #000000;
	background-color: #FFFFFF;
}

/*-----------------KYRIBA DGRID BRANDING --------------------------*/
.dgrid-header {
	color: #FFFFFF;
	background: -moz-linear-gradient(top, #515151, #515151);
	background: -webkit-gradient(linear, left top, left bottom, from(#515151), to(#515151));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#515151, endColorstr=#515151);

}
.dgrid-header-scroll{
	color: #FFFFFF;
	background: -moz-linear-gradient(top, #515151, #515151);
	background: -webkit-gradient(linear, left top, left bottom, from(#515151), to(#515151));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#515151, endColorstr=#515151);
}
.dgrid-header-scroll:hover {
	background: #E3F1FC;
}

.claro .dojoDndItemAnchor, .claro .dojoDndItemSelected {
	background-color: #e7ecf0;
	background-image: none;
	background: transparent;
	background: transparent;
	color:#FFFFFF;
}

.claro .dojoDndItemOver{
	color: #333333;
}


.dgrid-header .dgrid-cell:hover {
	background: #E3F1FC;
}

.dgrid-row:hover {
	background-color: #C0C0C0;
	filter: alpha(opacity=100);
	opacity: 1.0; 
	-moz-opacity: 1.0;
}

.dgrid-row-odd {
	background: #E3F1FC;
	filter: alpha(opacity=100);
	opacity: 1.0; 
	-moz-opacity: 1.0;
}



/* ------------------------- CUSTOMIZATION PAGES  ---------------------------- */

/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */

/* ------------------------- ANNOUNCEMENT DIALOG   ---------------------------- */


/* ------------------------- ADD OTHER SPECIFIC PAGE STYLES HERE ---------------------------- */

/* ------------------------- Reference data table containers ---------------------------- */


/* ------------------------ Panel Authorisation Table ---------------------------- */


/* ------------------------ Amount Range Table ---------------------------- */

/* ------------------------- HOME PAGE   ---------------------------- */
#homeAnnounce {
	background-color: #E3F1FC;
	color: #515151;
}

#homeAnnounce a {
	color: #515151;
}


/* ------------------------- OTHER SPECIFIC DIALOG WIDTHS ---------------------------- */

