<div class="footer-wrapper">
	<div id="footer" class="clearfix">
		<ul class="quick-links clearfix">
			<li>
				<a href='http://www.scotiabank.com/ca/en/1,,7241,00.html' onclick='return !window.open(this.href);'>Legal</a>
			</li>
			<li>
				<a href='http://www.scotiabank.com/ca/en/0,,7060,00.html' onclick='return !window.open(this.href);'>Privacy</a>
			</li>
			<li class="last">
				<a href='http://www.scotiabank.com/ca/en/1,,7242,00.html' onclick='return !window.open(this.href);'>Security</a>
			</li>
		</ul>
	</div>
</div>
<link rel="stylesheet" type="text/css" href="/portal/themes/bns/clientBankStyle.css">