﻿<div class="footer-wrapper">
	<div id="footer" class="clearfix">
		<ul class="quick-links clearfix">
			<li>
				<a href='http://www.scotiabank.com/ca/fr/1,,7245,00.html' onclick='return !window.open(this.href);'>Notes juridiques</a>
			</li>
			<li>
				<a href='http://www.scotiabank.com/ca/fr/0,,7075,00.html' onclick='return !window.open(this.href);'>Confidentialité</a>
			</li>
			<li class="last">
				<a href='http://www.scotiabank.com/ca/fr/1,,7246,00.html' onclick='return !window.open(this.href);'>Sécurité</a>
			</li>
		</ul>
	</div>
</div>
<link rel="stylesheet" type="text/css" href="/portal/themes/bns/clientBankStyle.css">